
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myApprovalDetailsLabel">Create or edit a Approval Details</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="approvalDetails.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_remarks">Remarks</label>
            <input type="text" class="form-control" name="remarks" id="field_remarks"
                    ng-model="approvalDetails.remarks"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_approvedDate">Approved Date</label>
            <input id="field_approvedDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="approvalDetails.approvedDate" is-open="datePickerForApprovedDate.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForApprovedDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_approvedEmpNo">Approved Employee Number</label>
            <input type="text" class="form-control" name="approvedEmpNo" id="field_approvedEmpNo"
                    ng-model="approvalDetails.approvedEmpNo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_approvedEmpName">Approved Employee Name</label>
            <input type="text" class="form-control" name="approvedEmpName" id="field_approvedEmpName"
                    ng-model="approvalDetails.approvedEmpName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_approvedEmpDesig">Approved Employee Design</label>
            <input type="text" class="form-control" name="approvedEmpDesig" id="field_approvedEmpDesig"
                    ng-model="approvalDetails.approvedEmpDesig"
                     />
        </div>

        <div class="form-group">
            <label for="field_customer">Customer</label>
            <select class="form-control" id="field_customer" name="customer" ng-model="approvalDetails.customer" ng-options="customer as customer.id for customer in customers track by customer.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_feasibilityStatus">Feasibility Status</label>
            <select class="form-control" id="field_feasibilityStatus" name="feasibilityStatus" ng-model="approvalDetails.feasibilityStatus" ng-options="feasibilityStatus as feasibilityStatus.id for feasibilityStatus in feasibilitystatuss track by feasibilityStatus.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_designationMaster">Designation Master</label>
            <select class="form-control" id="field_designationMaster" name="designationMaster" ng-model="approvalDetails.designationMaster" ng-options="designationMaster as designationMaster.id for designationMaster in designationmasters track by designationMaster.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_applicationTxn">Application Transaction</label>
            <select class="form-control" id="field_applicationTxn" name="applicationTxn" ng-model="approvalDetails.applicationTxn" ng-options="applicationTxn as applicationTxn.id for applicationTxn in applicationtxns track by applicationTxn.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
