
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myDesignationMappingsLabel">Create or edit a Designation Mappings</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="designationMappings.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                    ng-model="designationMappings.type"
                     />
        </div>

        <div class="form-group">
            <label for="field_desigCategoryMaster">Design Category Master</label>
            <select class="form-control" id="field_desigCategoryMaster" name="desigCategoryMaster" ng-model="designationMappings.desigCategoryMaster" ng-options="desigCategoryMaster as desigCategoryMaster.id for desigCategoryMaster in desigcategorymasters track by desigCategoryMaster.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_subDesigCategoryMaster">Sub Design Category Master</label>
            <select class="form-control" id="field_subDesigCategoryMaster" name="subDesigCategoryMaster" ng-model="designationMappings.subDesigCategoryMaster" ng-options="subDesigCategoryMaster as subDesigCategoryMaster.id for subDesigCategoryMaster in subdesigcategorymasters track by subDesigCategoryMaster.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_designationMaster">Designation Master</label>
            <select class="form-control" id="field_designationMaster" name="designationMaster" ng-model="designationMappings.designationMaster" ng-options="designationMaster as designationMaster.id for designationMaster in designationmasters track by designationMaster.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_groupMaster">Group Master</label>
            <select class="form-control" id="field_groupMaster" name="groupMaster" ng-model="designationMappings.groupMaster" ng-options="groupMaster as groupMaster.id for groupMaster in groupmasters track by groupMaster.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
