
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myReAllotmentLabel">Create or edit a ReAllotment</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="reAllotment.id" readonly />
        </div>

        <div class="form-group">
            <label for="field_fileNumber">fileNumber</label>
            <select class="form-control" id="field_fileNumber" name="fileNumber" ng-model="reAllotment.fileNumber" ng-options="fileNumber as fileNumber.id for fileNumber in filenumbers track by fileNumber.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_customer">customer</label>
            <select class="form-control" id="field_customer" name="customer" ng-model="reAllotment.customer" ng-options="customer as customer.id for customer in customers track by customer.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_feasibilityStatus">feasibilityStatus</label>
            <select class="form-control" id="field_feasibilityStatus" name="feasibilityStatus" ng-model="reAllotment.feasibilityStatus" ng-options="feasibilityStatus as feasibilityStatus.id for feasibilityStatus in feasibilitystatuss track by feasibilityStatus.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
