<style>
.typeahead-demo .custom-popup-wrapper {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	background-color: #f9f9f9;
}

.typeahead-demo .custom-popup-wrapper>.message {
	padding: 10px 20px;
	border-bottom: 1px solid #ddd;
	color: #868686;
}

.typeahead-demo .custom-popup-wrapper>.dropdown-menu {
	position: static;
	float: none;
	display: block;
	min-width: 160px;
	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
}
</style>
<form name="editForm" role="form" novalidate ng-submit="save()"
	show-validation>
	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Bill Details</h3>
		</div>
		<div class="list-group">
			<div class="list-group-item">
				<div class="modal-body">
					<jh-alert-error></jh-alert-error>
					<div class="row">
						<div class="col-sm-4 col-md-offset-4">
							<label for="field_applicationTxn">Search By CAN</label>

							<div class="form-group"
								ng-class="{ 'has-error' : editForm.field_custDetails.$invalid  && editForm.field_custDetails.$dirty}">
								<input type="text" ng-model="custInfo" typeahead-min-length="3"
									placeholder="Search CAN or Name or Address (Min 3 chars)"
									uib-typeahead="custInfo for custInfo in getLocation($viewValue)"
									typeahead-loading="loadingCANs"
									typeahead-on-select='onSelect($item, $model, $label)'
									typeahead-no-results="noResults" class="form-control">
								<i ng-show="loadingCANs" class="glyphicon glyphicon-refresh"></i>
								<div ng-show="noResults">
									<i class="glyphicon glyphicon-remove"></i> No CANs Found
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<label class="control-label" for="field_can">Can</label> <input
								type="text" class="form-control" name="can" id="field_can"
								ng-model="billDetails.can" readonly />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_consName">Consumer
								Name</label> <input type="text" class="form-control" name="consName"
								id="field_consName" ng-model="billDetails.consName" readonly />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_address">Address</label>
							<input type="text" class="form-control" name="address"
								id="field_address" ng-model="billDetails.address" readonly />
						</div>
					</div>
					<div class="row">
						<!-- <div class="col-sm-4">
							<label for="id">ID</label> <input type="text"
								class="form-control" id="id" name="id" ng-model="billDetails.id"
								readonly />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_can">CAN</label> <input
								type="text" class="form-control" name="can" id="field_can"
								ng-model="billDetails.can" readonly />
						</div> -->
						<div class="col-sm-4">
							<label class="control-label" for="field_billNumber">Bill
								Number</label> <input type="text" class="form-control" name="billNumber"
								id="field_billNumber" ng-model="billDetails.billNumber" />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<label class="control-label" for="field_billDate">Bill
								Date</label>
							<div class="form-group">
								<div class='input-group' id='field_billDate'>
									<input id="field_billDate" type="text" class="form-control"
										uib-datepicker-popup="{{dateformat}}"
										ng-model="billDetails.billDate"
										is-open="datePickerForBillDate.status.opened" required /> <span
										class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="datePickerForBillDateOpen($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</div>
							</div>
							<div ng-show="editForm.billDate.$invalid">
								<p class="help-block"
									ng-show="editForm.billDate.$error.required">This field is
									required.</p>
							</div>
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_billTime">Bill
								Time</label> <input type="text" class="form-control" name="billTime"
								id="field_billTime" ng-model="billDetails.billTime" />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_meterMake">Meter
								Make</label> <input type="text" class="form-control" name="meterMake"
								id="field_meterMake" ng-model="billDetails.meterMake" />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<label class="control-label" for="field_currentBillType">Current
								Bill Type</label> <select class="form-control"
								id="field_currentBillType" name="currentBillType"
								ng-model="billDetails.currentBillType">
								<option
									ng-repeat="currentBillType in billDetails.currentBillTypes"
									value="{{currentBillType.id}}">{{currentBillType.name}}</option>
							</select>
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_fromMonth">From
								Month</label>
							<div class="form-group">
								<div class='input-group' id='field_fromMonth'>
									<input id="field_fromMonth" type="text" class="form-control"
										uib-datepicker-popup="{{dateformat}}"
										ng-model="billDetails.prevBillMonth"
										is-open="datePickerForFromMonth.status.opened" required /> <span
										class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="datePickerForFromMonthOpen($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</div>
							</div>
							<div ng-show="editForm.fromMonth.$invalid">
								<p class="help-block"
									ng-show="editForm.fromMonth.$error.required">This field is
									required.</p>
							</div>
						</div>
						<!-- <div class="col-sm-4">
							<label class="control-label" for="field_toMonth">To Month</label>
							<input type="text" class="form-control" name="toMonth"
								id="field_toMonth" ng-model="billDetails.toMonth" />
						</div> -->
						<div class="col-sm-4">
							<label class="control-label" for="field_toMonth">To
								Month</label>
							<div class="form-group">
								<div class='input-group' id='field_toMonth'>
									<input id="field_toMonth" type="text" class="form-control"
										uib-datepicker-popup="{{dateformat}}"
										ng-model="billDetails.toMonth"
										is-open="datePickerForToMonth.status.opened" required /> <span
										class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="datePickerForToMonthOpen($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</div>
							</div>
							<div ng-show="editForm.toMonth.$invalid">
								<p class="help-block"
									ng-show="editForm.toMonth.$error.required">This field is
									required.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<label class="control-label" for="field_meterFixDate">Meter
								Fix Date</label>
							<div class="form-group">
								<div class='input-group' id='field_meterFixDate'>
									<input id="field_meterFixDate" type="text" class="form-control"
										uib-datepicker-popup="{{dateformat}}"
										ng-model="billDetails.meterFixDate"
										is-open="datePickerForMeterFixDate.status.opened" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="datePickerForMeterFixDateOpen($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_initialReading">Initial
								Reading</label> <input type="number" class="form-control"
								name="initialReading" id="field_initialReading"
								ng-model="billDetails.initialReading" />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_presentReading">Present
								Reading</label> <input type="number" class="form-control"
								name="presentReading" id="field_presentReading"
								ng-model="billDetails.presentReading" />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<label class="control-label" for="field_units">Units</label> <input
								type="number" class="form-control" name="units" id="field_units"
								ng-model="billDetails.units" />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_waterCess">Water
								Cess</label> <input type="number" class="form-control" name="waterCess"
								id="field_waterCess" ng-model="billDetails.waterCess" />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_sewerageCess">Sewerage
								Cess</label> <input type="number" class="form-control"
								name="sewerageCess" id="field_sewerageCess"
								ng-model="billDetails.sewerageCess" />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<label class="control-label" for="field_serviceCharge">Service
								Charge</label> <input type="number" class="form-control"
								name="serviceCharge" id="field_serviceCharge"
								ng-model="billDetails.serviceCharge" />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_meterServiceCharge">Meter
								Service Charge</label> <input type="number" class="form-control"
								name="meterServiceCharge" id="field_meterServiceCharge"
								ng-model="billDetails.meterServiceCharge" />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_totalAmount">Total
								Amount</label> <input type="number" class="form-control"
								name="totalAmount" id="field_totalAmount"
								ng-model="billDetails.totalAmount" />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<label class="control-label" for="field_netPayableAmount">Net
								Payable Amount</label> <input type="number" class="form-control"
								name="netPayableAmount" id="field_netPayableAmount"
								ng-model="billDetails.netPayableAmount" />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_telephoneNo">Telephone
								No</label> <input type="text" class="form-control" name="telephoneNo"
								id="field_telephoneNo" ng-model="billDetails.telephoneNo" />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_meterStatus">Meter
								Status</label> <input type="text" class="form-control"
								name="meterStatus" id="field_meterStatus"
								ng-model="billDetails.meterStatus" />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<label class="control-label" for="field_metReaderCode">Meter
								Reader Code</label> <input type="text" class="form-control"
								name="metReaderCode" id="field_metReaderCode"
								ng-model="billDetails.metReaderCode" />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_billFlag">Bill
								Flag</label> <input type="text" class="form-control" name="billFlag"
								id="field_billFlag" ng-model="billDetails.billFlag" />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_svrStatus">Server
								Status</label> <input type="text" class="form-control" name="svrStatus"
								id="field_svrStatus" ng-model="billDetails.svrStatus" />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<label class="control-label" for="field_terminalId">Terminal
								Id</label> <input type="text" class="form-control" name="terminalId"
								id="field_terminalId" ng-model="billDetails.terminalId" />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_meterReaderId">Meter
								Reader Id</label> <input type="text" class="form-control"
								name="meterReaderId" id="field_meterReaderId"
								ng-model="billDetails.meterReaderId" />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_userId">User Id</label> <input
								type="text" class="form-control" name="userId" id="field_userId"
								ng-model="billDetails.userId" />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<label class="control-label" for="field_mobileNo">Mobile
								No</label> <input type="text" class="form-control" name="mobileNo"
								id="field_mobileNo" ng-model="billDetails.mobileNo" />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_noticeNo">Notice
								No</label> <input type="text" class="form-control" name="noticeNo"
								id="field_noticeNo" ng-model="billDetails.noticeNo" />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_lat">Lat</label> <input
								type="text" class="form-control" name="lat" id="field_lat"
								ng-model="billDetails.lat" />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<label class="control-label" for="field_longi">Longi</label> <input
								type="text" class="form-control" name="longi" id="field_longi"
								ng-model="billDetails.longi" />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_noMeterAmt">No
								Meter Amt</label> <input type="text" class="form-control"
								name="noMeterAmt" id="field_noMeterAmt"
								ng-model="billDetails.noMeterAmt" />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_metReadingDt">Meter
								Reading Date</label>
							<div class="form-group">
								<div class='input-group' id='field_metReadingDt'>
									<input id="field_metReadingDt" type="text" class="form-control"
										uib-datepicker-popup="{{dateformat}}"
										ng-model="billDetails.metReadingDt"
										is-open="datePickerForMetReadingDt.status.opened" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="datePickerForMetReadingDtOpen($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal"
			ng-click="clear()">
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
		</button>
		<button type="submit" ng-disabled="editForm.$invalid || isSaving"
			class="btn btn-primary">
			<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
		</button>
	</div>
</form>
