<form name="editForm" rc-submit="save()" novalidate>


	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Revenue Details</h3>
		</div>

		<div class="list-group">
			<div class="list-group-item">
				<div class="modal-body">
					<jh-alert-error></jh-alert-error>
					<div class="row">
						<div class="col-sm-4">
							<label for="field_paymentTypes">Revenue Type</label>
							<select class="form-control" id="field_collectionTypeMaster"
								name="collectionTypeMaster" required="required"
								ng-model="collDetails.collectionTypeMaster"
								ng-options="revenueTypeMaster as revenueTypeMaster.collName for revenueTypeMaster in revenueTypeMasters track by revenueTypeMaster.id">
							</select>
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_receiptDt">Date</label>
							<div class="form-group"
								ng-class="{'has-error': editForm.receiptDt.$invalid && 
         (editForm.receiptDt.$dirty || rc.editForm.attempted)}">
								<div class='input-group' id='field_receiptDt'>
									<input id="field_receiptDt" name="receiptDt" type="date"
										class="form-control" placeholder="YYYY-MM-DD"
										uib-datepicker-popup="{{dateformat}}"
										ng-change="validateDate()" ng-model="collDetails.receiptDt"
										required="required"
										is-open="datePickerForReceiptDt.status.opened" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default"
											id='field_receiptDtBtn'
											ng-click="datePickerForReceiptDtOpen($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</div>
								<div
									ng-show="(editForm.receiptDt.$dirty || rc.editForm.attempted) && editForm.receiptDt.$invalid">
									<p class="help-block"
										ng-show="editForm.receiptDt.$error.required">Date is
										required.</p>
										<p class="help-block"
										ng-show="editForm.receiptDt.$error.date">Please enter date format.</p>
									<p class="help-block"
										ng-show="editForm.receiptDt.$error.veryOld">Date cannot be
										more than six months old.</p>
									<p class="help-block"
										ng-show="editForm.receiptDt.$error.future">Date cannot be
										more than one month in future.</p>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group"
								ng-class="{'has-error': editForm.receiptAmt.$invalid && 
         (editForm.receiptAmt.$dirty || rc.editForm.attempted)}">
								<label class="control-label" for="field_receiptAmt">Amount</label>
								<input type="number" class="form-control" name="receiptAmt"
									required="required" min="1" max="999999" id="field_receiptAmt"
									ng-model="collDetails.receiptAmt" />
								<div
									ng-show="(editForm.receiptAmt.$dirty || rc.editForm.attempted) && editForm.receiptAmt.$invalid">
									<p class="help-block"
										ng-show="editForm.receiptAmt.$error.required">Amount is
										required.</p>
									<p class="help-block" ng-show="editForm.receiptAmt.$error.min">Amount
										is required to be greater than 0.</p>
									<p class="help-block" ng-show="editForm.receiptAmt.$error.max">Amount
										cannot exceed 999999.</p>
									<p class="help-block"
										ng-show="editForm.receiptAmt.$error.number">Enter valid
										number.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group"
								ng-class="{'has-error': editForm.paymentTypes.$invalid && 
         (editForm.paymentTypes.$dirty || rc.editForm.attempted)}">
								<label for="field_paymentTypes">Payment Mode</label>
								<select class="form-control" id="field_paymentTypes"
									name="paymentTypes" ng-model="collDetails.paymentTypes"
									required="required"
									ng-options="paymentTypes as paymentTypes.paymentMode for paymentTypes in paymenttypess track by paymentTypes.id"
									ng-change="resetInstr(collDetails.paymentTypes.paymentMode)">
								</select>

								<div
									ng-show="(editForm.paymentTypes.$dirty || rc.editForm.attempted) && editForm.paymentTypes.$invalid">
									<p class="help-block"
										ng-show="editForm.paymentTypes.$error.required">Payment
										Type is required.</p>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_receiptNo">Approved
								By</label>
							<input type="text" class="form-control" name="consName"
								id="field_consName" ng-model="collDetails.consName" />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_remarks">Remarks</label>
							<input type="text" class="form-control" name="remarks"
								id="field_remarks" ng-model="collDetails.remarks" />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group"
								ng-class="{ 'has-error' : instrEnabled && editForm.instrNo.$invalid && 
         (editForm.instrNo.$dirty || rc.editForm.attempted)}">
								<label class="control-label" for="field_instrNo">Instrument
									No</label>
								<input type="number" class="form-control" name="instrNo"
									id="field_instrNo" ng-model="collDetails.instrNo"
									ng-required="instrEnabled" ng-disabled="!instrEnabled"
									ng-pattern="/^[0-9]*$/" />

								<div
									ng-show="(editForm.instrNo.$dirty || rc.editForm.attempted) && instrEnabled && editForm.instrNo.$invalid">
									<p class="help-block"
										ng-show="editForm.instrNo.$error.required">Instrument No
										is required.</p>
										<p class="help-block"
										ng-show="editForm.instrNo.$error.number">Please
								Enter Instrument Number!</p>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group"
								ng-class="{ 'has-error' : instrEnabled && editForm.instrumentIssuerMaster.$invalid && 
         (editForm.instrumentIssuerMaster.$dirty || rc.editForm.attempted)}">
								<label class="control-label" for="field_instrIssuer">Instrument
									Issuer</label>
								<select class="form-control" id="field_instrumentIssuerMaster"
									name="instrumentIssuerMaster"
									ng-model="collDetails.instrumentIssuerMaster"
									ng-required="instrEnabled"
									ng-options="bankMaster as bankMaster.bankName for bankMaster in bankmasters track by bankMaster.id"
									ng-disabled="!instrEnabled">
								</select>

								<div
									ng-show="(editForm.instrumentIssuerMaster.$dirty || rc.editForm.attempted) && instrEnabled && editForm.instrumentIssuerMaster.$invalid">
									<p class="help-block"
										ng-show="editForm.instrumentIssuerMaster.$error.required">Instrument Issuer
										is required.</p>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group"
								ng-class="{ 'has-error' : instrEnabled && editForm.instrDt.$invalid && 
         (editForm.instrDt.$dirty || rc.editForm.attempted)}">
							<label class="control-label" for="field_instrDt">Instrument
								Date</label>
								<div class='input-group' id='field_receiptDt'>
									<input id="field_instrDt" placeholder="YYYY-MM-DD"
										name="instrDt" type="text" class="form-control" ng-type="date"
										uib-datepicker-popup="{{dateformat}}"
										ng-model="collDetails.instrDt" ng-required="instrEnabled"
										is-open="datePickerForInstrDt.status.opened"
										ng-change="validateInstrDt()" ng-disabled="!instrEnabled" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default"
											id='field_receiptDtBtn' ng-disabled="!instrEnabled"
											ng-click="datePickerForInstrDtOpen($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</div>

								<div
									ng-show="(editForm.instrDt.$dirty || rc.editForm.attempted) && instrEnabled && editForm.instrDt.$invalid">
									<p class="help-block"
										ng-show="editForm.instrDt.$error.required">Instrument Date
										is required.</p>
									<p class="help-block" ng-show="editForm.instrDt.$error.future">
										Instrument Date cannot be more than one day in the future.</p>
									<p class="help-block" ng-show="editForm.instrDt.$error.veryOld">
										Instrument Date cannot be older than six months.</p>
								<p class="help-block" ng-show="editForm.instrDt.$error.date">
										Please enter date format.</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						ng-click="clear()">
						<span class="glyphicon glyphicon-ban-circle"></span>
						&nbsp;
						<span>Cancel</span>
					</button>
					<button type="submit" class="btn btn-primary" id="submitSave">
						<span class="glyphicon glyphicon-save"></span>
						&nbsp;
						<span>Save</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</form>
