<form name="editForm" rc.submit="getReport()" novalidate>
<div>
	<jh-alert></jh-alert>
	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Revenue Report Details</h3>
		</div>
		<div class="list-group">
			<div class="list-group-item">
				<hr>
				<div class="row">
					<div class="col-sm-4">
						<label for="field_divisionMaster">DMA</label> <select
							class="form-control" id="field_divisionMaster"
							name="divisionMaster" ng-model="custDetails.divisionMaster"
							ng-options="divisionMaster as divisionMaster.divisionCode +'-'+ divisionMaster.divisionName for divisionMaster in divisionmasters track by divisionMaster.id"
							required>
						</select>
					</div>

					<div class="col-sm-4">
						<label for="field_tariffCategoryMaster">Connection
							Category</label> <select class="form-control"
							id="field_tariffCategoryMaster" name="tariffCategoryMaster"
							ng-model="custDetails.tariffCategoryMaster"
							ng-options="tariffCategoryMaster as tariffCategoryMaster.tariffCategory for tariffCategoryMaster in tariffcategorymasters track by tariffCategoryMaster.id"
							required>
						</select>
					</div>
					<div class="col-sm-2">
					 <a type="button"
							href type="button" ng-click="getReport()"
							class="pull-right btn btn-warning"  
							ng-if="collDetails.betweenDetailedDates===false">Download as PDF
						</a>
							<a
							href type="button" ng-click="getReportDetails()"
							class="pull-right btn btn-warning"  
							ng-if="collDetails.betweenDetailedDates===true">Download as PDF
						</a>
					</div>

				</div>
				<br>
			
				<br>
				<div class="row">

					<div class="col-sm-4">
					<!-- <div class="form-group" ng-class="{'has-error':editForm.dateOfYear.$invalid &&(editForm.dateOfYear.$dirty || rc.editForm.attempted)}"> -->
						<label class="control-label" for="dateOfYear">Year</label>
						<div class="form-group">
							<div class='input-group date' id='dateOfYear'>
							<input id="dateOfYear" type="text" class="form-control" datepicker-mode="'year & month'"   
									uib-datepicker-popup='yyyy-MMMM ' name="dateOfYear"  datepicker-options="{{datepickerOptions}}" data-format="yyyy/MMMM"
									ng-model="collDetails.dateOfYear"   date-disabled="disabled(date, mode)" 
									is-open="datePickerFordateOfYear.status.opened" required
									 /> <span
									class="input-group-btn">
									<button type="button" class="btn btn-default"
										id='dateOfYearDtBtn'
										ng-click="datePickerFordateOfYearOpen($event)"
										>
										<i class="glyphicon glyphicon-calendar"></i>
									</button>	
								</span> 
	                           </div>
							<!-- <div ng-show="editForm.dateOfYear.$invalid &&(editForm.dateOfYear.$dirty || rc.editForm.attempted)">
							<p class="help-block" ng-show="editForm.dateOfYear.$error.required">This field is required</p>
							</div> -->
							</div>
						</div>
					<!-- </div> -->


					<!-- <div class="col-sm-4">
						<label class="control-label" for="dateOfMonth">Month</label>
						<div class="form-group">
							<div class='input-group date' id='dateOfMonth'>
								 <input id="dateOfMonth" type="text" class="form-control" datepicker-mode="'month'" 
									uib-datepicker-popup='MMMM ' name="dateOfMonth"  datepicker-options="{{datepickerOptions}}"
									ng-model="collDetails.dateOfMonth"   date-disabled="disabled(date, mode)" 
									is-open="datePickerFordateOfMonth.status.opened" required
									 /> <span
									class="input-group-btn">
									<button type="button" class="btn btn-default" id='dateOfMonthDtBtn'
										ng-click="datePickerFordateOfMonthOpen($event)"
										>
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</div>
						</div>
					</div> -->
				</div>
				<!-- <div class="row">
				
				<div class="col-sm-8">
				
				<label class="control-label" for="field_organization"> <input
							type="checkbox" ng-model="collDetails.betweenDetailedDates"
							ng-value="true">&nbsp;&nbsp;<span>Get Collection
								Report Complete Detailed between dates:</span>
				</div>
				</div> -->
				<hr>
				<!-- <div class="alert alert-danger" ng-show="message!=null">
					<strong>{{message}}</strong>
				</div> -->
			</div>
		</div>
	</div>
</div>
</form>
