<div>
	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Requests</h3>
		</div>
		<div class="list-group">
			<div class="table-responsive" ng-if="action_type !== '0'">
				<table class="clickableTable table table-striped">
					<thead>
						<tr>
							<th>Req. No</th>
							<th>Request Type</th>
							<th>From</th>
							<th>To</th>
							<th>Remarks</th>
							<th>Actioned Date</th>
							<th>IP Address</th>
							<th>Status</th>

						</tr>
					</thead>
					<tbody infinite-scroll="loadPage(page + 1)"
						infinite-scroll-disabled="links['last'] == page">
						<!-- <tr ng-repeat="item in requests"
							ui-sref="applicationTxn.detail({id:item.domainObject})"> -->
						<tr ng-repeat="item in requests"
							ng-click="getDetails(item.id,item.requestMaster.id, item.domainObject)">
							<td>{{item.domainObject}}</td>
							<td>{{item.requestMaster.requestType}}</td>
							<td>{{item.assignedFrom.firstName}}
								{{item.assignedFrom.lastName}} ({{item.assignedFrom.login}})</td>
							<td>{{item.assignedTo.firstName}}
								{{item.assignedTo.lastName}} ({{item.assignedTo.login}})</td>
							<td>{{item.remarks}}</td>
							<td>{{item.actionedDate | date:'mediumDate'}}</td>
							<td>{{item.ipAddress}}</td>
							<td>{{item.statusMaster.status}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>