
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myBankMasterLabel">Create or edit a BankMaster</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="bankMaster.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_bankCode">BankCode</label>
            <input type="text" class="form-control" name="bankCode" id="field_bankCode"
                    ng-model="bankMaster.bankCode"
                    required />
            <div ng-show="editForm.bankCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.bankCode.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_bankName">BankName</label>
            <input type="text" class="form-control" name="bankName" id="field_bankName"
                    ng-model="bankMaster.bankName"
                    required />
            <div ng-show="editForm.bankName.$invalid">
                <p class="help-block"
                    ng-show="editForm.bankName.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_bankBranch">BankBranch</label>
            <input type="text" class="form-control" name="bankBranch" id="field_bankBranch"
                    ng-model="bankMaster.bankBranch"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_bankAccount">BankAccount</label>
            <input type="text" class="form-control" name="bankAccount" id="field_bankAccount"
                    ng-model="bankMaster.bankAccount"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
