
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myDesignationMasterLabel">Create or edit a DesignationMaster</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="designationMaster.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="designationMaster.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_creationDate">CreationDate</label>
            <input id="field_creationDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="designationMaster.creationDate" is-open="datePickerForCreationDate.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForCreationDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_lastModifiedDate">LastModifiedDate</label>
            <input id="field_lastModifiedDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="designationMaster.lastModifiedDate" is-open="datePickerForLastModifiedDate.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForLastModifiedDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="designationMaster.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_orderNo">OrderNo</label>
            <input type="number" class="form-control" name="orderNo" id="field_orderNo"
                    ng-model="designationMaster.orderNo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_serviceType">ServiceType</label>
            <input type="text" class="form-control" name="serviceType" id="field_serviceType"
                    ng-model="designationMaster.serviceType"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="designationMaster.code"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_desigalias">Desigalias</label>
            <input type="text" class="form-control" name="desigalias" id="field_desigalias"
                    ng-model="designationMaster.desigalias"
                     />
        </div>

        <div class="form-group">
            <label for="field_statusMaster">statusMaster</label>
            <select class="form-control" id="field_statusMaster" name="statusMaster" ng-model="designationMaster.statusMaster" ng-options="statusMaster as statusMaster.id for statusMaster in statusmasters track by statusMaster.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
