
<form name="editForm" role="form" novalidate ng-submit="save()">

	<!-- <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" ng-click="clear()">&times;</button>
		<h4 class="modal-title" id="myOrgRoleInstanceLabel">Create or
			edit a Organization Role Instance</h4>
	</div> -->
	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Create or edit a Organization
				Role Instance</h3>
		</div>
		<div class="list-group">
			<div class="list-group-item">
				<div class="modal-body">
					<jh-alert-error></jh-alert-error>
					<!-- <div class="col-sm-4">
						<label for="id">ID</label> <input type="text" class="form-control"
							id="id" name="id" ng-model="orgRoleInstance.id" readonly />
					</div> -->
					<div class="row">
						<div class="col-sm-3">
							<label class="control-label" for="field_orgRoleName">Organization
								Role Name</label> <input type="text" class="form-control"
								name="orgRoleName" id="field_orgRoleName"
								ng-model="orgRoleInstance.orgRoleName" />
						</div>
						<!-- <div class="col-sm-3">
							<label class="control-label" for="field_parentOrgRoleId">Parent
								Organization Role</label> <input type="number" class="form-control"
								name="parentOrgRoleId" id="field_parentOrgRoleId"
								ng-model="orgRoleInstance.parentOrgRoleId" />
						</div> -->
						<div class="col-sm-3">
							<label for="field_parentOrgRoleId">Parent Organization Role</label> <select
								class="form-control" id="field_parentOrgRoleId"
								name="parentOrgRoleId" ng-model="orgRoleInstance.parentOrgRoleId"
								ng-options="orgRoleInstance.id as orgRoleInstance.orgRoleName for orgRoleInstance in orgroleinstances">
								<option value=""></option>
							</select>
						</div>
						<div class="col-sm-3">
							<label class="control-label" for="field_creationDate">Creation
								Date</label>
							<div class="form-group">
								<div class='input-group date' id='field_creationDate'>
									<input id="field_creationDate" type="text" class="form-control"
										uib-datepicker-popup="{{dateformat}}"
										ng-model="orgRoleInstance.creationDate"
										is-open="datePickerForCreationDate.status.opened" /> <span
										class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="datePickerForCreationDateOpen($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<label class="control-label" for="field_lastModifiedDate">Last
								Modified Date</label>
							<div class="form-group">
								<div class='input-group date' id='field_lastModifiedDate'>
									<input id="field_lastModifiedDate" type="text"
										class="form-control" uib-datepicker-popup="{{dateformat}}"
										ng-model="orgRoleInstance.lastModifiedDate"
										is-open="datePickerForLastModifiedDate.status.opened" /> <span
										class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="datePickerForLastModifiedDateOpen($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<label class="control-label" for="field_isHead">Is Head</label> <input
								type="number" class="form-control" name="isHead"
								id="field_isHead" ng-model="orgRoleInstance.isHead" />
						</div>

						<div class="col-sm-3">
							<label for="field_statusMaster">Status Master</label> <select
								class="form-control" id="field_statusMaster" name="statusMaster"
								ng-model="orgRoleInstance.statusMaster"
								ng-options="statusMaster as statusMaster.id+'-'+statusMaster.status for statusMaster in statusmasters track by statusMaster.id">
								<option value=""></option>
							</select>
						</div>
						<div class="col-sm-3">
							<label for="field_orgRoleHierarchy">Role
								Hierarchy</label> <select class="form-control"
								id="field_orgRoleHierarchy" name="orgRoleHierarchy"
								ng-model="orgRoleInstance.orgRoleHierarchy"
								ng-options="orgRoleHierarchy as orgRoleHierarchy.id for orgRoleHierarchy in orgrolehierarchys track by orgRoleHierarchy.id">
								<option value=""></option>
							</select>
						</div>
						<div class="col-sm-3">
							<label for="field_departmentsMaster">Departments Master</label> <select
								class="form-control" id="field_departmentsMaster"
								name="departmentsMaster"
								ng-model="orgRoleInstance.departmentsMaster"
								ng-options="departmentsMaster as departmentsMaster.id for departmentsMaster in departmentsmasters track by departmentsMaster.id">
								<option value=""></option>
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						ng-click="clear()">
						<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
					</button>
					<button type="submit" ng-disabled="editForm.$invalid || isSaving"
						class="btn btn-primary">
						<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</form>
