<div>
	<form name="editForm" role="form" novalidate ng-submit="save()">

		<div class="panel panel-primary">
			<div class="panel-heading clearfix">
				<h3 class="panel-title pull-left">Create or edit a
					Feasibility Study</h3>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<div class="modal-body">
						<jh-alert-error></jh-alert-error>
						<div class="row">
							<div class="col-sm-3">
								<label>File Number</label> <input list="applicationTxn" type=""
									class="form-control"
									ng-model="feasibilityStudy.applicationTxn.id" />
								<datalist id="applicationTxn">
									<option ng-repeat="applicationTxn in applicationTxns"
										value="{{applicationTxn.id}}">
								</datalist>
							</div>
							<span> <br>
								<button type="button"
									class="btn btn-primary glyphicon glyphicon-search"
									ng-click="getApplicationTxn(feasibilityStudy.applicationTxn.id)"></button>
							</span>
						</div>
						<fieldset>
							<legend>Applicant Detail</legend>
							<div class="row">
								<div class="col-sm-4">
									<label>First Name</label>
									<h5 class="list-group-item-heading">{{applicationTxn.firstName}}</h5>
								</div>
								<div class="col-sm-4">
									<label>Middle Name</label>
									<h5 class="list-group-item-heading">{{applicationTxn.middleName}}</h5>
								</div>
								<div class="col-sm-4">
									<label>Last Name</label>
									<h5 class="list-group-item-heading">{{applicationTxn.lastName}}</h5>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<label>Organization Name</label>
									<h5 class="list-group-item-heading">{{applicationTxn.organizationName}}</h5>
								</div>
								<div class="col-sm-4">
									<label>Designation</label>
									<h5 class="list-group-item-heading">{{applicationTxn.designation}}</h5>
								</div>
							</div>
							<br>
							<fieldset>
								<legend>Contact Detail</legend>
								<div class="row">
									<div class="col-sm-4">
										<label> Mobile No.</label>
										<h5 class="list-group-item-heading">{{applicationTxn.mobileNo}}</h5>
									</div>
									<div class="col-sm-4">
										<label>Office No.</label>
										<h5 class="list-group-item-heading">{{applicationTxn.officeNo}}</h5>
									</div>
									<div class="col-sm-4">
										<label>Email</label>
										<h5 class="list-group-item-heading">{{applicationTxn.email}}</h5>
									</div>
								</div>

							</fieldset>
							<fieldset>
								<legend>Property Address</legend>
								<div class="row">
									<div class="col-sm-3">
										<label>Street</label>
										<h5 class="list-group-item-heading">{{applicationTxn.street}}</h5>
									</div>
									<div class="col-sm-3">
										<label> Plot No.</label>
										<h5 class="list-group-item-heading">{{applicationTxn.plotNo}}</h5>
									</div>
									<div class="col-sm-3">
										<label> Block No.</label>
										<h5 class="list-group-item-heading">{{applicationTxn.blockNo}}</h5>
									</div>
									<div class="col-sm-3">
										<label>TANESCO Meter/LUKU No.</label>
										<h5 class="list-group-item-heading">{{applicationTxn.tanescoMeter}}</h5>
									</div>
								</div>
							</fieldset>
							<fieldset>
								<legend>Water Connection Details</legend>
								<div class="row">
									<div class="col-sm-3">
										<label>Water Connection Use</label>
										<h5 class="list-group-item-heading">{{applicationTxn.waterConnectionUse}}</h5>
									</div>
									<div class="col-sm-3">
										<label>Connection Category</label>
										<h5 class="list-group-item-heading">{{applicationTxn.categoryMaster.categoryName}}</h5>
									</div>
								</div>
							</fieldset>
							<br>
							<fieldset>
								<legend>Select Connection Location</legend>
								<div class="row">
									<div class="col-sm-4">
										<label for="field_divisionMaster">DMA</label> <select
											class="form-control" id="field_divisionMaster"
											name="divisionMaster"
											ng-model="feasibilityStudy.divisionMaster"
											ng-change="getZone(feasibilityStudy.divisionMaster.id)"
											ng-options="divisionMaster as divisionMaster.divisionName for divisionMaster in divisionmasters track by divisionMaster.id">
											<option value=""></option>
										</select>
									</div>

									<div class="col-sm-4">
										<label for="field_zoneMaster">Zone</label> <select
											class="form-control" id="field_zoneMaster" name="zoneMaster"
											ng-model="feasibilityStudy.zoneMaster"
											ng-change="getStreet(feasibilityStudy.zoneMaster.id)"
											ng-options="zoneMaster as zoneMaster.zoneName for zoneMaster in zoneMasters track by zoneMaster.id">
											<option value=""></option>
										</select>
									</div>
									<div class="col-sm-4">
										<label for="field_streetMaster">Street</label> <select
											class="form-control" id="field_streetMaster"
											name="streetMaster" ng-model="feasibilityStudy.streetMaster"
											ng-options="streetMaster as streetMaster.streetCode for streetMaster in streetMasters track by streetMaster.id">
											<option value=""></option>
										</select>
									</div>
								</div>
							</fieldset>
							<br>
							<fieldset>
								<legend>Select Approval Authority</legend>
								<div class="row">
									<div class="col-sm-4">
										<label for="field_preparedBy">Prepared By</label> <select
											class="form-control" id="field_preparedBy" name="preparedBy"
											ng-model="feasibilityStudy.preparedBy"
											ng-change="getpreparedByName(feasibilityStudy.preparedBy)"
											ng-options="user as user.login +'-'+ user.firstName+' '+user.lastName for user in users">
											<option value=""></option>
										</select>
										<!-- <input list="preparedBy" type="" class="form-control"
										id="field_preparedBy" name="preparedBy"
										ng-model="feasibilityStudy.preparedBy" 
										ng-change="getpreparedByName(feasibilityStudy.preparedBy)"/>
									<datalist id="preparedBy">
										<option ng-repeat="user in users" value="{{user.login}}">
									</datalist> -->
									</div>
									<div class="col-sm-4">
										<label class="control-label" for="field_status">Name</label> <input
											type="text" class="form-control" name="preparedBy"
											id="field_status" ng-model="feasibilityStudy.preparedBy.name"
											readonly />
									</div>
									<div class="col-sm-4">
										<label class="control-label" for="field_preparedDate">Date</label>
										<div class="form-group">
											<div class="input-group date" id="field_preparedDate">
												<input id="field_preparedDate" type="text"
													class="form-control" uib-datepicker-popup="{{dateformat}}"
													ng-model="feasibilityStudy.preparedDate" max-date="maxDate"
													is-open="datePickerForPreparedDate.status.opened" /> <span
													class="input-group-btn">
													<button type="button" class="btn btn-default"
														ng-click="datePickerForPreparedDateOpen($event)">
														<i class="glyphicon glyphicon-calendar"></i>
													</button>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-4">
										<label for="field_approvedByZonalHead">Approved By
											Head of Zonal</label> <select class="form-control"
											id="field_approvedByZonalHead" name="approvedByZonalHead"
											ng-model="feasibilityStudy.approvedByZonalHead"
											ng-change="getZonalHeadName(feasibilityStudy.approvedByZonalHead)"
											ng-options="user as user.login +'-'+ user.firstName+' '+user.lastName for user in users">
											<option value=""></option>
										</select>
									</div>
									<div class="col-sm-4">
										<label class="control-label" for="field_status">Name</label> <input
											type="text" class="form-control" name="approvedByZonalHead"
											id="field_approvedByZonalHead"
											ng-model="feasibilityStudy.approvedByZonalHead.name" readonly />
									</div>
									<div class="col-sm-4">
										<label class="control-label" for="field_zonalHeadApprovalDate">Date</label>
										<div class="form-group">
											<div class="input-group date"
												id="field_zonalHeadApprovalDate">
												<input id="field_zonalHeadApprovalDate" type="text"
													class="form-control" uib-datepicker-popup="{{dateformat}}"
													ng-model="feasibilityStudy.zonalHeadApprovalDate"
													max-date="maxDate"
													is-open="datePickerForZonalHeadApprovalDate.status.opened" />
												<span class="input-group-btn">
													<button type="button" class="btn btn-default"
														ng-click="datePickerForZonalHeadApprovalDateOpen($event)">
														<i class="glyphicon glyphicon-calendar"></i>
													</button>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-4">
										<label for="field_inspectionByDepartmentHead">Inspection
											By Head of Department</label> <select class="form-control"
											id="field_inspectionByDepartmentHead"
											name="inspectionByDepartmentHead"
											ng-model="feasibilityStudy.inspectionByDepartmentHead"
											ng-change="getDeparmentHeadName(feasibilityStudy.inspectionByDepartmentHead)"
											ng-options="user as user.login +'-'+ user.firstName+' '+user.lastName for user in users">
											<option value=""></option>
										</select>
									</div>
									<div class="col-sm-4">
										<label class="control-label"
											for="field_inspectionByDepartmentHead">Name</label> <input
											type="text" class="form-control"
											name="inspectionByDepartmentHead"
											id="field_inspectionByDepartmentHead"
											ng-model="feasibilityStudy.inspectionByDepartmentHead.name"
											readonly />
									</div>
									<div class="col-sm-4">
										<label class="control-label" for="field_deptHeadInspectedDate">Date</label>
										<div class="form-group">
											<div class="input-group date"
												id="field_deptHeadInspectedDate">
												<input id="field_deptHeadInspectedDate" type="text"
													class="form-control" uib-datepicker-popup="{{dateformat}}"
													ng-model="feasibilityStudy.deptHeadInspectedDate"
													max-date="maxDate"
													is-open="datePickerForDeptHeadInspectedDate.status.opened" />
												<span class="input-group-btn">
													<button type="button" class="btn btn-default"
														ng-click="datePickerForDeptHeadInspectedDateOpen($event)">
														<i class="glyphicon glyphicon-calendar"></i>
													</button>
												</span>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-4">
										<label for="field_approvedByOperationManager">Approved
											By Manager Operation</label> <select class="form-control"
											id="field_approvedByOperationManager"
											name="approvedByOperationManager"
											ng-model="feasibilityStudy.approvedByOperationManager"
											ng-change="getOperationManagerName(feasibilityStudy.approvedByOperationManager)"
											ng-options="user as user.login +'-'+ user.firstName+' '+user.lastName for user in users">
											<option value=""></option>
										</select>
									</div>
									<div class="col-sm-4">
										<label class="control-label"
											for="field_approvedByOperationManager">Name</label> <input
											type="text" class="form-control"
											name="approvedByOperationManager"
											id="field_approvedByOperationManager"
											ng-model="feasibilityStudy.approvedByOperationManager.name"
											readonly />
									</div>
									<div class="col-sm-4">
										<label class="control-label"
											for="field_operationMangrapproveDate">Date</label>
										<div class="form-group">
											<div class="input-group date"
												id="field_operationMangrapproveDate">
												<input id="field_operationMangrapproveDate" type="text"
													class="form-control" uib-datepicker-popup="{{dateformat}}"
													ng-model="feasibilityStudy.operationMangrapproveDate"
													is-open="datePickerForOperationMangrapproveDate.status.opened" />
												<span class="input-group-btn">
													<button type="button" class="btn btn-default"
														ng-click="datePickerForOperationMangrapproveDateOpen($event)">
														<i class="glyphicon glyphicon-calendar"></i>
													</button>
												</span>
											</div>
										</div>
									</div>
								</div>
							</fieldset>
							<br>
							<fieldset>
								<legend></legend>
								<div class="row">
									<div class="col-sm-12">
										<label class="control-label" for="field_remarks">Remarks</label>
										<textarea rows="2" cols="30" class="form-control"
											name="remarks" id="field_remarks"
											ng-model="feasibilityStudy.remarks"></textarea>
									</div>
								</div>
							</fieldset>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-click="clear()">
							<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
						</button>
						<button type="submit" ng-disabled="editForm.$invalid || isSaving"
							class="btn btn-primary">
							<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>

	<!-- for approval form -->
	<!-- <div id="approveModal" class="modal" name="aproveForm">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<form name="editForm" role="form" novalidate>
					<div class="panel panel-primary">
						<div class="panel-heading clearfix">
							<h3 class="panel-title pull-left">Application Approval
								Details</h3>
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true" ng-click="clear()">&times;</button>
						</div>
						<div class="list-group">
							<div class="list-group-item">
								<div class="modal-body">
									<jh-alert-error></jh-alert-error>
									<div class="row">
										<div class="col-sm-3">
											<label for="field_applicationTxn">Application No. </label> <input
												type="text" class="form-control" name="applicationTxn"
												id="field_applicationTxn" ng-model="applicationTxn.id"
												disabled />
										</div>
										<div class="col-sm-3">
											<label for="field_fileNumber">File Number</label> <input
												type="text" class="form-control" id="field_fileNumber"
												name="fileNumber" ng-model="applicationTxn.fileNumber"
												disabled />

										</div>
										<div class="col-sm-3">
											<label class="control-label" for="field_approvedDate">Approved
												Date</label>
											<div class="form-group">
												<div class='input-group date' id='field_approvedDate'>
													<input id="field_approvedDate" type="text"
														class="form-control" uib-datepicker-popup="{{dateformat}}"
														ng-model="approvalDetails.approvedDate"
														is-open="datePickerForApprovedDate.status.opened" /> <span
														class="input-group-btn">
														<button type="button" class="btn btn-default"
															ng-click="datePickerForApprovedDateOpen($event)">
															<i class="glyphicon glyphicon-calendar"></i>
														</button>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<label class="control-label" for="field_remarks">Remarks</label>
											<textarea rows="4" cols="50" class="form-control"
												name="remarks" id="field_remarks"
												ng-model="applicationTxn.remarks"></textarea>
										</div>
									</div>
									<br>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default"
										data-dismiss="modal" ng-click="clear()">
										<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
									</button>
									<button type="button"
										ng-disabled="editForm.$invalid || isSaving"
										class="btn btn-primary"
										ng-click="approvalDetailsSave(applicationTxn.id, applicationTxn.remarks)">
										<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div> -->
</div>