<div>
	<form name="editForm" role="form" novalidate ng-submit="save()">

		<div class="panel panel-primary">
			<div class="panel-heading clearfix">
				<h3 class="panel-title pull-left">Create or edit a
					FeasibilityStudy</h3>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<div class="modal-body">
						<jh-alert-error></jh-alert-error>
						<div class="row">
							<!-- <div class="col-sm-4">
								<label for="field_applicationTxn">applicationTxn</label> <select
									class="form-control" id="field_applicationTxn"
									name="applicationTxn"
									ng-change="getApplicationTxn(feasibilityStudy.applicationTxn.id)"
									ng-model="feasibilityStudy.applicationTxn"
									ng-options="applicationTxn as applicationTxn.id for applicationTxn in applicationTxns track by applicationTxn.id">
									<option value=""></option>
								</select>
							</div> -->
							<!-- <div class="col-sm-3">
								<label>File Number</label> <input type="text"
									class="form-control" id="field_fileNo" name="fileNo"
									ng-model="feasibilityStudy.fileNo">
							</div>
							<span> <br>
								<button type="button"
									class="btn btn-primary glyphicon glyphicon-search"
									ng-click="getApplicationTxn(feasibilityStudy.fileNo)"></button>
							</span> -->
							<div class="col-sm-3">
								<label>File Number</label> <input list="applicationTxn" type=""
									class="form-control" ng-model="feasibilityStudy.applicationTxn.id"
									 />
								<datalist id="applicationTxn">
									<option ng-repeat="applicationTxn in applicationTxns"
										value="{{applicationTxn.id}}">
								</datalist>
							</div>
							<span> <br>
								<button type="button"
									class="btn btn-primary glyphicon glyphicon-search"
									ng-click="getApplicationTxn(feasibilityStudy.applicationTxn.id)"></button>
							</span>
						</div>
						<fieldset>
							<legend>Applicant Detail</legend>
							<div class="row">
								<div class="col-sm-6">
									<label>Full Name</label>
									<h5 class="list-group-item-heading">{{applicationTxn.fullName}}</h5>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<label>Home/Office Number</label>
									<h5 class="list-group-item-heading">{{applicationTxn.homeOrOfficeNumber}}</h5>
								</div>
								<div class="col-sm-4">
									<label> Regional Number</label>
									<h5 class="list-group-item-heading">{{applicationTxn.regionalNumber}}</h5>
								</div>
								<div class="col-sm-4">
									<label> Fax Number</label>
									<h5 class="list-group-item-heading">{{applicationTxn.faxNumber}}</h5>
								</div>
							</div>

						</fieldset>
						<fieldset>
							<legend>Address</legend>
							<div class="row">
								<div class="col-sm-4">
									<label> Plot Number</label>
									<h5 class="list-group-item-heading">{{applicationTxn.plotNumber}}</h5>
								</div>
								<div class="col-sm-4">
									<label> Area</label>
									<h5 class="list-group-item-heading">{{applicationTxn.area}}</h5>
								</div>
								<div class="col-sm-4">
									<label> Street</label>
									<h5 class="list-group-item-heading">{{applicationTxn.street}}</h5>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-sm-4">
									<label> Village Executive Office</label>
									<h5 class="list-group-item-heading">{{applicationTxn.villageExecutiveOffice}}</h5>
								</div>
								<div class="col-sm-4">
									<label> Village Executive Office</label>
									<h5 class="list-group-item-heading">{{applicationTxn.villageExecutiveOffice}}</h5>
								</div>
							</div>
						</fieldset>
						<br>
						<fieldset>
							<legend>Connection Details</legend>
							<div class="row">
								<!-- <div class="col-sm-4">
									<label for="id">ID</label> <input type="text"
										class="form-control" id="id" name="id"
										ng-model="feasibilityStudy.id" readonly />
								</div>
								<div class="col-sm-4">
									<label class="control-label" for="field_createdDate">CreatedDate</label>
									<div class="form-group">
										<div class="input-group date" id="field_createdDate">
											<input id="field_createdDate" type="text"
												class="form-control" uib-datepicker-popup="{{dateformat}}"
												ng-model="feasibilityStudy.createdDate"
												is-open="datePickerForCreatedDate.status.opened" /> <span
												class="input-group-btn">
												<button type="button" class="btn btn-default"
													ng-click="datePickerForCreatedDateOpen($event)">
													<i class="glyphicon glyphicon-calendar"></i>
												</button>
											</span>
										</div>
									</div>
								</div>

								<div class="col-sm-4">
									<label class="control-label" for="field_modifiedDate">ModifiedDate</label>
									<div class="form-group">
										<div class="input-group date" id="field_modifiedDate">
											<input id="field_modifiedDate" type="text"
												class="form-control" uib-datepicker-popup="{{dateformat}}"
												ng-model="feasibilityStudy.modifiedDate"
												is-open="datePickerForModifiedDate.status.opened" /> <span
												class="input-group-btn">
												<button type="button" class="btn btn-default"
													ng-click="datePickerForModifiedDateOpen($event)">
													<i class="glyphicon glyphicon-calendar"></i>
												</button>
											</span>
										</div>
									</div>
								</div> 
								<div class="col-sm-4">
									<label class="control-label" for="field_status">Status</label>
									<input type="text" class="form-control" name="status"
										id="field_status" ng-model="feasibilityStudy.status" />
								</div> -->
							</div>
							<div class="row">
								<div class="col-sm-4">
									<label for="field_categoryMaster">categoryMaster</label> <select
										class="form-control" id="field_categoryMaster"
										name="categoryMaster"
										ng-model="feasibilityStudy.categoryMaster"
										ng-options="categoryMaster as categoryMaster.categoryName for categoryMaster in categorymasters track by categoryMaster.id">
										<option value=""></option>
									</select>
								</div>
							</div>
						</fieldset>
						<br>
						<fieldset>
							<legend>Select Connection Location</legend>
							<div class="row">
								<div class="col-sm-4">
									<label for="field_divisionMaster">Division</label> <select
										class="form-control" id="field_divisionMaster"
										name="divisionMaster"
										ng-model="feasibilityStudy.divisionMaster"
										ng-change="getZone(feasibilityStudy.divisionMaster.id)"
										ng-options="divisionMaster as divisionMaster.divisionName for divisionMaster in divisionmasters track by divisionMaster.id">
										<option value=""></option>
									</select>
								</div>

								<div class="col-sm-4">
									<label for="field_zoneMaster">Zone</label> <select
										class="form-control" id="field_zoneMaster" name="zoneMaster"
										ng-model="feasibilityStudy.zoneMaster"
										ng-change="getStreet(feasibilityStudy.zoneMaster.id)"
										ng-options="zoneMaster as zoneMaster.zoneName for zoneMaster in zoneMasters track by zoneMaster.id">
										<option value=""></option>
									</select>
								</div>
								<div class="col-sm-4">
									<label for="field_streetMaster">Street</label> <select
										class="form-control" id="field_streetMaster"
										name="streetMaster" ng-model="feasibilityStudy.streetMaster"
										ng-options="streetMaster as streetMaster.streetName for streetMaster in streetMasters track by streetMaster.id">
										<option value=""></option>
									</select>
								</div>
							</div>
						</fieldset>
						<br>
						<fieldset>
							<legend>Select Approval Authority</legend>
							<div class="row">
								<div class="col-sm-4">
									<label for="field_preparedBy">Prepared By</label> <select
										class="form-control" id="field_preparedBy" name="preparedBy"
										ng-model="feasibilityStudy.preparedBy"
										ng-change="getpreparedByName(feasibilityStudy.preparedBy)"
										ng-options="user as user.login for user in users track by user.id">
										<option value=""></option>
									</select>
									<!-- <input list="preparedBy" type="" class="form-control"
										id="field_preparedBy" name="preparedBy"
										ng-model="feasibilityStudy.preparedBy" 
										ng-change="getpreparedByName(feasibilityStudy.preparedBy)"/>
									<datalist id="preparedBy">
										<option ng-repeat="user in users" value="{{user.login}}">
									</datalist> -->
								</div>
								<div class="col-sm-4">
									<label class="control-label" for="field_status">Name</label> <input
										type="text" class="form-control" name="preparedBy"
										id="field_status" ng-model="feasibilityStudy.preparedBy.name"
										readonly />
								</div>
								<div class="col-sm-4">
									<label class="control-label" for="field_preparedDate">Date</label>
									<div class="form-group">
										<div class="input-group date" id="field_preparedDate">
											<input id="field_preparedDate" type="text"
												class="form-control" uib-datepicker-popup="{{dateformat}}"
												ng-model="feasibilityStudy.preparedDate"
												is-open="datePickerForPreparedDate.status.opened" /> <span
												class="input-group-btn">
												<button type="button" class="btn btn-default"
													ng-click="datePickerForPreparedDateOpen($event)">
													<i class="glyphicon glyphicon-calendar"></i>
												</button>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<label for="field_approvedByZonalHead">Approved By Head
										of Zonal</label> <select class="form-control"
										id="field_approvedByZonalHead" name="approvedByZonalHead"
										ng-model="feasibilityStudy.approvedByZonalHead"
										ng-change="getZonalHeadName(feasibilityStudy.approvedByZonalHead)"
										ng-options="user as user.login for user in users track by user.id">
										<option value=""></option>
									</select>
								</div>
								<div class="col-sm-4">
									<label class="control-label" for="field_status">Name</label> <input
										type="text" class="form-control" name="approvedByZonalHead"
										id="field_approvedByZonalHead"
										ng-model="feasibilityStudy.approvedByZonalHead.name" readonly />
								</div>
								<div class="col-sm-4">
									<label class="control-label" for="field_zonalHeadApprovalDate">Date</label>
									<div class="form-group">
										<div class="input-group date" id="field_zonalHeadApprovalDate">
											<input id="field_zonalHeadApprovalDate" type="text"
												class="form-control" uib-datepicker-popup="{{dateformat}}"
												ng-model="feasibilityStudy.zonalHeadApprovalDate"
												is-open="datePickerForZonalHeadApprovalDate.status.opened" />
											<span class="input-group-btn">
												<button type="button" class="btn btn-default"
													ng-click="datePickerForZonalHeadApprovalDateOpen($event)">
													<i class="glyphicon glyphicon-calendar"></i>
												</button>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<label for="field_inspectionByDepartmentHead">Inspection
										By Head of Department</label> <select class="form-control"
										id="field_inspectionByDepartmentHead"
										name="inspectionByDepartmentHead"
										ng-model="feasibilityStudy.inspectionByDepartmentHead"
										ng-change="getDeparmentHeadName(feasibilityStudy.inspectionByDepartmentHead)"
										ng-options="user as user.login for user in users track by user.id">
										<option value=""></option>
									</select>
								</div>
								<div class="col-sm-4">
									<label class="control-label"
										for="field_inspectionByDepartmentHead">Name</label> <input
										type="text" class="form-control"
										name="inspectionByDepartmentHead"
										id="field_inspectionByDepartmentHead"
										ng-model="feasibilityStudy.inspectionByDepartmentHead.name"
										readonly />
								</div>
								<div class="col-sm-4">
									<label class="control-label" for="field_deptHeadInspectedDate">Date</label>
									<div class="form-group">
										<div class="input-group date" id="field_deptHeadInspectedDate">
											<input id="field_deptHeadInspectedDate" type="text"
												class="form-control" uib-datepicker-popup="{{dateformat}}"
												ng-model="feasibilityStudy.deptHeadInspectedDate"
												is-open="datePickerForDeptHeadInspectedDate.status.opened" />
											<span class="input-group-btn">
												<button type="button" class="btn btn-default"
													ng-click="datePickerForDeptHeadInspectedDateOpen($event)">
													<i class="glyphicon glyphicon-calendar"></i>
												</button>
											</span>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-4">
									<label for="field_approvedByOperationManager">Approved
										By Manager Operation</label> <select class="form-control"
										id="field_approvedByOperationManager"
										name="approvedByOperationManager"
										ng-model="feasibilityStudy.approvedByOperationManager"
										ng-change="getOperationManagerName(feasibilityStudy.approvedByOperationManager)"
										ng-options="user as user.login for user in users track by user.id">
										<option value=""></option>
									</select>
								</div>
								<div class="col-sm-4">
									<label class="control-label"
										for="field_approvedByOperationManager">Name</label> <input
										type="text" class="form-control"
										name="approvedByOperationManager"
										id="field_approvedByOperationManager"
										ng-model="feasibilityStudy.approvedByOperationManager.name"
										readonly />
								</div>
								<div class="col-sm-4">
									<label class="control-label"
										for="field_operationMangrapproveDate">Date</label>
									<div class="form-group">
										<div class="input-group date"
											id="field_operationMangrapproveDate">
											<input id="field_operationMangrapproveDate" type="text"
												class="form-control" uib-datepicker-popup="{{dateformat}}"
												ng-model="feasibilityStudy.operationMangrapproveDate"
												is-open="datePickerForOperationMangrapproveDate.status.opened" />
											<span class="input-group-btn">
												<button type="button" class="btn btn-default"
													ng-click="datePickerForOperationMangrapproveDateOpen($event)">
													<i class="glyphicon glyphicon-calendar"></i>
												</button>
											</span>
										</div>
									</div>
								</div>
							</div>
						</fieldset>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-click="clear()">
							<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
						</button>
						<button type="submit" ng-disabled="editForm.$invalid || isSaving"
							class="btn btn-primary">
							<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>