
<form name="editForm" role="form" novalidate ng-submit="save()">
	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Create or edit a
				FeasibilityStudy</h3>
		</div>
		<div class="list-group">
			<div class="list-group-item">
				<!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myFeasibilityStudyLabel">Create or edit a FeasibilityStudy</h4>
    	</div> -->
				<div class="modal-body">
					<jh-alert-error></jh-alert-error>
					<fieldset>
						<legend>Customer Details</legend>
						<div class="row">
							<!-- <div class="col-sm-4">
								<label for="id">ID</label> <input type="text"
									class="form-control" id="id" name="id"
									ng-model="feasibilityStudy.id" readonly />
							</div> -->
							<!-- <div class="col-sm-6">
								<label for="field_applicationTxn">applicationTxn</label> <select
									class="form-control" id="field_applicationTxn"
									name="applicationTxn"
									ng-model="feasibilityStudy.applicationTxn"
									ng-options="applicationTxn as applicationTxn.id for applicationTxn in applicationtxns track by applicationTxn.id">
									<option value=""></option>
								</select>
							</div> -->
							<div class="col-sm-3">
								<label>File Number</label> <input type="text"
									class="form-control" id="field_fileNo" name="fileNo"
									ng-model="feasibilityStudy.fileNo">
							</div>
							<div class="col-sm-1">
								<br>
								<button type="button"
									class="btn btn-primary glyphicon glyphicon-search"
									ng-disabled="editForm.$invalid || isSaving"
									ng-click="getCustomer(feasibilityStudy.fileNo)"></button>
							</div>
						</div>
					</fieldset>
					<br>
					<fieldset>
						<legend>Customer Name</legend>
						<div class="row">
							<div class="col-sm-4">
								<label>First Name</label>
								<h5 class="list-group-item-heading">{{feasibilityStudy.firstName}}</h5>
							</div>
							<div class="col-sm-4">
								<label>Middle Name</label>
								<h5 class="list-group-item-heading">{{feasibilityStudy.middleName}}</h5>
							</div>
							<div class="col-sm-4">
								<label>Last Name</label>
								<h5 class="list-group-item-heading">{{feasibilityStudy.lastName}}</h5>
							</div>
						</div>
					</fieldset>
					<br>
					<fieldset>
						<legend>Service Premises Area</legend>
						<div class="row">
							<div class="col-sm-4">
								<label>House No.</label> <input type="text" class="form-control"
									id="field_sHouseNo" name="sHouseNo"
									ng-modal="feasibilityStudy.applicationTxn.sHouseNo"
									disabled>
							</div>
							<div class="col-sm-4">
								<label>Street</label> <input type="text" class="form-control"
									id="field_street" name="street"
									ng-modal="feasibilityStudy.street"
									ng-value="applicationTxn.street" disabled>
							</div>
							<div class="col-sm-4">
								<label>Area Code</label> <input type="text" class="form-control"
									id="field_areaCode" name="areaCode"
									ng-modal="feasibilityStudy.areaCode"
									ng-value="applicationTxn.areaCode" disabled>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<label>govtOfficialNo</label> <input type="text"
									class="form-control" id="field_govtOfficialNo"
									name="govtOfficialNo"
									ng-modal="feasibilityStudy.govtOfficialNo"
									ng-value="applicationTxn.govtOfficialNo" disabled>
							</div>
							<div class="col-sm-4">
								<label>Pincode</label> <input type="text" class="form-control"
									id="field_pincode" name="pincode"
									ng-modal="feasibilityStudy.pincode"
									ng-value="applicationTxn.pincode" disabled>
							</div>
							<div class="col-sm-4">
								<label>Area</label> <input type="text" class="form-control"
									id="field_area" name="area" ng-modal="feasibilityStudy.area"
									ng-value="applicationTxn.area" disabled>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<label>Telephone</label> <input type="text" class="form-control"
									id="field_telephoneNumber" name="telephoneNumber"
									ng-modal="feasibilityStudy.telephoneNumber"
									ng-value="applicationTxn.telephoneNumber" disabled>
							</div>
							<div class="col-sm-4">
								<label>Mobile</label> <input type="text" class="form-control"
									id="field_mobile" name="mobile"
									ng-modal="feasibilityStudy.mobile"
									ng-value="applicationTxn.mobile" disabled>
							</div>
							<div class="col-sm-4">
								<label>section</label> <input type="text" class="form-control"
									id="field_section" name="section"
									ng-modal="feasibilityStudy.section"
									ng-value="applicationTxn.section" disabled>
							</div>
						</div>
					</fieldset>
					<br>
					<fieldset>
						<legend>Accepted For</legend>
						<div class="row">
							<div class="col-sm-6">
								<label for="field_schemeMaster">schemeMaster</label> <select
									class="form-control" id="field_schemeMaster"
									name="schemeMaster" ng-model="feasibilityStudy.schemeMaster"
									ng-options="schemeMaster as schemeMaster.schemeName for schemeMaster in schememasters track by schemeMaster.id">
									<option value=""></option>
								</select>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-3">
								<label class="control-label" for="field_plotAreaInSqMtrs">PlotAreaInSqMtrs</label>
								<input type="number" class="form-control"
									name="plotAreaInSqMtrs" id="field_plotAreaInSqMtrs"
									ng-model="feasibilityStudy.plotAreaInSqMtrs" />
							</div>
							<div class="col-sm-3">
								<label class="control-label" for="field_plotAreaInYards">PlotAreaInYards</label>
								<input type="number" class="form-control" name="plotAreaInYards"
									id="field_plotAreaInYards"
									ng-model="feasibilityStudy.plotAreaInYards" />
							</div>
						<!-- </div>
						<br>
						<div class="row"> -->
							<div class="col-sm-3">
								<label for="field_tariffCategoryMaster">tariffCategoryMaster</label>
								<select class="form-control" id="field_tariffCategoryMaster"
									name="tariffCategoryMaster"
									ng-model="feasibilityStudy.tariffCategoryMaster"
									ng-options="tariffCategoryMaster as tariffCategoryMaster.tariffName for tariffCategoryMaster in tariffcategorymasters track by tariffCategoryMaster.id">
									<option value=""></option>
								</select>
							</div>
							<div class="col-sm-3">
								<label for="field_categoryMaster">categoryMaster</label> <select
									class="form-control" id="field_categoryMaster"
									name="categoryMaster"
									ng-model="feasibilityStudy.categoryMaster"
									ng-options="categoryMaster as categoryMaster.categoryName for categoryMaster in categorymasters track by categoryMaster.id">
									<option value=""></option>
								</select>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-3">
								<label class="control-label" for="field_noOfFlatsOrNoOfUnits">NoOfFlatsOrNoOfUnits</label>
								<input type="number" class="form-control"
									name="noOfFlatsOrNoOfUnits" id="field_noOfFlatsOrNoOfUnits"
									ng-model="feasibilityStudy.noOfFlatsOrNoOfUnits" />
							</div>
							<div class="col-sm-3">
								<label class="control-label" for="field_noOfFloors">NoOfFloors</label>
								<input type="number" class="form-control" name="noOfFloors"
									id="field_noOfFloors" ng-model="feasibilityStudy.noOfFloors" />
							</div>
						<!-- </div>
						<br>
						<div class="row"> -->
							<div class="col-sm-3">
								<label class="control-label" for="field_totalPlinthArea">TotalPlinthArea</label>
								<input type="number" class="form-control" name="totalPlinthArea"
									id="field_totalPlinthArea"
									ng-model="feasibilityStudy.totalPlinthArea" />
							</div>
							<div class="col-sm-3">
								<label class="control-label" for="field_waterRequirement">WaterRequirement</label>
								<input type="number" class="form-control"
									name="waterRequirement" id="field_waterRequirement"
									ng-model="feasibilityStudy.waterRequirement" />
							</div>
						</div>
						<br>
						<fieldset>
							<legend>Water Connection</legend>
							<div class="row">
								<div class="col-sm-4">
									<label for="field_pipeSizeMaster">pipeSizeMaster</label> <select
										class="form-control" id="field_pipeSizeMaster"
										name="pipeSizeMaster"
										ng-model="feasibilityStudy.pipeSizeMaster"
										ng-options="pipeSizeMaster as pipeSizeMaster.pipeSize for pipeSizeMaster in pipesizemasters track by pipeSizeMaster.id">
										<option value=""></option>
									</select>
								</div>
								<div class="col-sm-4">
									<label for="field_mainWaterSize">mainWaterSize</label> <select
										class="form-control" id="field_mainWaterSize"
										name="mainWaterSize" ng-model="feasibilityStudy.mainWaterSize"
										ng-options="mainWaterSize as mainWaterSize.size for mainWaterSize in mainwatersizes track by mainWaterSize.id">
										<option value=""></option>
									</select>
								</div>
								<div class="col-sm-4">
									<label for="field_makeOfWaterPipe">makeOfWaterPipe</label> <select
										class="form-control" id="field_makeOfWaterPipe"
										name="makeOfWaterPipe"
										ng-model="feasibilityStudy.makeOfWaterPipe"
										ng-options="makeOfPipe as makeOfPipe.makeName for makeOfPipe in makeofpipes track by makeOfPipe.id">
										<option value=""></option>
									</select>
								</div>
							</div>
						</fieldset>
						<br>
						<fieldset>
							<legend>Sewerage Connection</legend>
							<div class="row">
								<div class="col-sm-4">
									<label for="field_sewerSize">sewerSize</label> <select
										class="form-control" id="field_sewerSize" name="sewerSize"
										ng-model="feasibilityStudy.sewerSize"
										ng-options="sewerSize as sewerSize.sewerSize for sewerSize in sewersizes track by sewerSize.id">
										<option value=""></option>
									</select>
								</div>
								<div class="col-sm-4">
									<label for="field_mainSewerageSize">mainSewerageSize</label> <select
										class="form-control" id="field_mainSewerageSize"
										name="mainSewerageSize"
										ng-model="feasibilityStudy.mainSewerageSize"
										ng-options="mainSewerageSize as mainSewerageSize.size for mainSewerageSize in mainseweragesizes track by mainSewerageSize.id">
										<option value=""></option>
									</select>
								</div>
								<div class="col-sm-4">
									<label for="field_makeOfSeweragePipe">makeOfSeweragePipe</label>
									<select class="form-control" id="field_makeOfSeweragePipe"
										name="makeOfSeweragePipe"
										ng-model="feasibilityStudy.makeOfSeweragePipe"
										ng-options="makeOfPipe as makeOfPipe.makeName for makeOfPipe in makeofpipes track by makeOfPipe.id">
										<option value=""></option>
									</select>
								</div>
							</div>
						</fieldset>
						<br>
						<div class="row">
							<div class="col-sm-6">
								<label for="field_docketCode">docketCode</label> <select
									class="form-control" id="field_docketCode" name="docketCode"
									ng-model="feasibilityStudy.docketCode"
									ng-options="docketCode as docketCode.code for docketCode in docketcodes track by docketCode.id">
									<option value=""></option>
								</select>
							</div>
							<div class="col-sm-6">
								<label for="field_feasibilityStatus">feasibilityStatus</label> <select
									class="form-control" id="field_feasibilityStatus"
									name="feasibilityStatus"
									ng-model="feasibilityStudy.feasibilityStatus"
									ng-options="feasibilityStatus as feasibilityStatus.status for feasibilityStatus in feasibilitystatuss track by feasibilityStatus.id">
									<option value=""></option>
								</select>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						ng-click="clear()">
						<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
					</button>
					<button type="submit" ng-disabled="editForm.$invalid || isSaving"
						class="btn btn-primary">
						<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</form>
