<form name="editForm" rc-submit="save()" novalidate>
<!-- <form name="editForm" role="form" novalidate ng-submit="save()"> -->

	<!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myExpenseDetailsLabel">Create or edit a ExpenseDetails</h4>
    </div> -->
	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Expense Details</h3>
		</div>
		<div class="list-group">
			<div class="list-group-item">
				<div class="modal-body">
					<jh-alert-error></jh-alert-error>
					<div class="row">
						<div class="col-sm-4">
							<label class="control-label" for="field_expenseNo">Expense
								Number</label> <input type="text" class="form-control" name="expenseNo"
								id="field_expenseNo" ng-model="expenseDetails.id"
								readonly />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_expenseDt">Expense
								Date</label>
							<div class="form-group">
								<div class='input-group' id='field_expenseDt'>
									<input id="field_expenseDt" type="text" class="form-control"
										uib-datepicker-popup="{{dateformat}}"
										ng-model="expenseDetails.expenseDt"
										is-open="datePickerForExpenseDt.status.opened" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="datePickerForExpenseDtOpen($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
						 <div class="form-group" ng-class="{'has-error':editForm.expenseAmt.$invalid && (editForm.expenseAmt.$dirty||rc.editForm.attempted)}"> 
						
							
							<label class="control-label" for="field_expenseAmt">Expense
								Amount</label> <input type="number" class="form-control"
								name="expenseAmt" id="field_expenseAmt" 
								ng-model="expenseDetails.expenseAmt" required="required" min="1" max="9999999"/>
								
								<div ng-show="{'has-error':editForm.expenseAmt.$invalid && (editForm.expenseAmt.$dirty||rc.editForm.attempted)}">
							 <p class="help-block" ng-show="editForm.expenseAmt.$error.number" >Enter valid amount number</p> 
							<p class="help-block" ng-show="editForm.expenseAmt.$error.required">This field is required
						
							
						</div>
						</div>
					</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group"
								ng-class="{'has-error': editForm.paymentTypes.$invalid && 
         (editForm.paymentTypes.$dirty || rc.editForm.attempted)}">
								<label for="field_paymentTypes">Expense Mode</label>
								<select class="form-control" id="field_paymentTypes"
									name="paymentTypes" ng-model="collDetails.paymentTypes"
									required="required"
									ng-options="paymentTypes as paymentTypes.paymentMode for paymentTypes in paymenttypess track by paymentTypes.id"
									ng-change="resetInstr(collDetails.paymentTypes.paymentMode)">
								</select>

								<div
									ng-show="(editForm.paymentTypes.$dirty || rc.editForm.attempted) && editForm.paymentTypes.$invalid">
									<p class="help-block"
										ng-show="editForm.paymentTypes.$error.required">Payment
										Type is required.</p>
								</div>
							</div>
						</div>
						<!-- <div class="col-sm-4">
							<label for="field_collectionTypeMaster">Expense Type</label> <select
								class="form-control" id="field_collectionTypeMaster"
								name="collectionTypeMaster"
								ng-model="expenseDetails.collectionTypeMaster"
								ng-options="collectionTypeMaster as collectionTypeMaster.collName for collectionTypeMaster in collectiontypemasters track by collectionTypeMaster.id">
								<option value=""></option>
							</select>
						</div> -->
						<div class="col-sm-4">
							<label for="field_applicationTxn">Search By Expense Type</label>

							<div class="form-group"
								ng-class="{ 'has-error' : editForm.field_custDetails.$invalid  && editForm.field_custDetails.$dirty}">

								<input type="text"
									name="collectionTypeMaster" ng-model="expenseDetails.collectionTypeMaster" typeahead-min-length="3"
									placeholder="Search Expense Type (Min 3 chars)"
									uib-typeahead="collectionTypeMaster.collName for collectionTypeMaster in getLocation($viewValue)"
									typeahead-loading="loadingCANs" autocomplete="off"
									typeahead-on-select='onSelect($item, $model, $label)'
									typeahead-no-results="noResults" class="form-control">
								<i ng-show="loadingCANs" class="glyphicon glyphicon-refresh"></i>
								<div ng-show="noResults">
									<i class="glyphicon glyphicon-remove"></i> No Expense Type's Found
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group"
								ng-class="{ 'has-error' : instrEnabled && editForm.instrNo.$invalid && 
         (editForm.instrNo.$dirty || rc.editForm.attempted)}">
								<label class="control-label" for="field_instrNo">Instrument
									No</label>
								<input type="number" class="form-control" name="instrNo"
									id="field_instrNo" ng-model="collDetails.instrNo"
									ng-required="instrEnabled" ng-disabled="!instrEnabled"
									ng-pattern="/^[0-9]*$/" />

								<div
									ng-show="(editForm.instrNo.$dirty || rc.editForm.attempted) && instrEnabled && editForm.instrNo.$invalid">
								<p class="help-block"
										ng-show="editForm.instrNo.$error.required">Instrument Numberd
										is required.</p> 
								
										<p class="help-block"
										ng-show="editForm.instrNo.$error.number">Please
								Enter Instrument Number!</p>
								    </div>
								 </div>
				            </div>
						
							<div class="col-sm-4">
							<div class="form-group"
								ng-class="{ 'has-error' : instrEnabled && editForm.instrumentIssuerMaster.$invalid && 
         (editForm.instrumentIssuerMaster.$dirty || rc.editForm.attempted)}">
								<label class="control-label" for="field_instrIssuer">Instrument
									Issuer</label>
								<select class="form-control" id="field_instrumentIssuerMaster"
									name="instrumentIssuerMaster"
									ng-model="collDetails.instrumentIssuerMaster"
									ng-required="instrEnabled"
									ng-options="instrumentIssuerMaster as instrumentIssuerMaster.instrumentIssuer for instrumentIssuerMaster in instrumentissuermasters track by instrumentIssuerMaster.id"
									ng-disabled="!instrEnabled">
								</select>

								<div
									ng-show="(editForm.instrumentIssuerMaster.$dirty || rc.editForm.attempted) && instrEnabled && editForm.instrumentIssuerMaster.$invalid">
									<p class="help-block"
										ng-show="editForm.instrumentIssuerMaster.$error.required">Instrument Issuer
										is required.</p>
								</div>
							</div>
						</div>
						
						
						
						
						
						
							<div class="col-sm-4">
							<div class="form-group"
								ng-class="{ 'has-error' : instrEnabled && editForm.instrDt.$invalid && 
         (editForm.instrDt.$dirty || rc.editForm.attempted)}">
							<label class="control-label" for="field_instrDt">Instrument
								Date</label>
								<div class='input-group' id='field_receiptDt'>
									<input id="field_instrDt" placeholder="YYYY-MM-DD"
										name="instrDt" type="text" class="form-control"
										uib-datepicker-popup="{{dateformat}}"
										ng-model="collDetails.instrDt" ng-required="instrEnabled"
										is-open="datePickerForInstrDt.status.opened"
										ng-change="validateInstrDt()" ng-disabled="!instrEnabled" />
									<span class="input-group-btn">
										<button type="button" class="btn btn-default"
											id='field_receiptDtBtn' ng-disabled="!instrEnabled"
											ng-click="datePickerForInstrDtOpen($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</div>

								<div
									ng-show="(editForm.instrDt.$dirty || rc.editForm.attempted) && instrEnabled && editForm.instrDt.$invalid">
									<p class="help-block"
										ng-show="editForm.instrDt.$error.required">Instrument Date
										is required.</p>
									<p class="help-block" ng-show="editForm.instrDt.$error.future">
										Instrument Date cannot be more than one day in the future.</p>
									<p class="help-block" ng-show="editForm.instrDt.$error.veryOld">
										Instrument Date cannot be older than six months.</p>
								</div>
							</div>
						</div>	
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						ng-click="clear()">
						<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
					</button>
					<!-- <button type="submit" ng-enabled="validate()"
						class="btn btn-primary">
						<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
					</button> -->
					
					<button type="submit"  ng-enabled="validate() "
						class="btn btn-primary" id="submitSave">
						<span class="glyphicon glyphicon-save"></span>
						&nbsp;
						<span>Save</span>
					</button>
					
					
					
				</div>
			</div>
		</div>
	</div>
</form>
