<div>
	<form name="editForm" rc-submit="save()" novalidate>

		<!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myAdjustmentsLabel">Create or edit a Adjustments</h4>
    </div>  -->

		<div class="panel panel-primary">
			<div class="panel-heading clearfix">
				<h3 class="panel-title pull-left">Create or edit a Adjustments</h3>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<div class="modal-body">
						<jh-alert-error></jh-alert-error>
						<div class="row">
							<div class="col-sm-4 col-md-offset-4">
								<label for="field_SearchCan">Search By CAN</label>

								<!-- 	<div class="form-group"
								ng-class="{ 'has-error' : editForm.field_custDetails.$invalid  && editForm.field_custDetails.$dirty}"> -->
								<input type="text" ng-model="adjustInfo"
									typeahead-min-length="3"
									placeholder="Search CAN or Name or Address (Min 3 chars)"
									uib-typeahead="adjustInfo for adjustInfo in getLocation($viewValue)"
									typeahead-loading="loadingCANs"
									typeahead-on-select='onSelect($item, $model, $label)'
									typeahead-no-results="noResults" class="form-control">
								<i ng-show="loadingCANs" class="glyphicon glyphicon-refresh"></i>
								<div ng-show="noResults">
									<i class="glyphicon glyphicon-remove"></i> No CANs Found
									<!-- </div> -->
								</div>
							</div>
						</div>
						<br>
						<hr>
						<div class="row">
							<div class="col-sm-4">
								<div class="form-group"
									ng-class="{'has-error': editForm.can.$invalid && 
         (editForm.can.$dirty || rc.editForm.attempted)}">
									<label class="control-label" for="field_can">Can</label> <input
										type="text" class="form-control" name="can" id="field_can"
										ng-model="adjustments.can" required disabled />
									<div
										ng-show="(editForm.can.$dirty || rc.editForm.attempted) && editForm.can.$invalid">
										<p class="help-block" ng-show="editForm.can.$error.required">This
											field is required.</p>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group"
									ng-class="{'has-error': editForm.amount.$invalid && 
         (editForm.amount.$dirty || rc.editForm.attempted)}">
									<label class="control-label" for="field_amount">Amount</label>
									<input type="number" class="form-control" name="amount"
										id="field_amount" ng-model="adjustments.amount" />
									<div
										ng-show="(editForm.amount.$dirty || rc.editForm.attempted) && editForm.amount.$invalid">
										<p class="help-block" ng-show="editForm.amount.$error.number">Please
											enter valid numbers .</p>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<label for="field_user">User</label> <select
									class="form-control" id="field_user" name="user"
									ng-model="adjustments.user"
									ng-options="user as user.firstName +' '+user.lastName for user in users track by user.firstName">
									<option value=""></option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<label class="control-label" for="field_txnTime">Txn Time</label>
								<div class="form-group"
									ng-class="{'has-error': editForm.txnTime.$invalid && 
         							(editForm.txnTime.$dirty || rc.editForm.attempted)}">
									<div class='input-group' id='field_txnTime'>
										<input id="field_txnTime" name="txnTime" type="date"
											class="form-control" placeholder="YYYY-MM-DD"
											uib-datepicker-popup="{{dateformat}}"
											ng-model="adjustments.txnTime" required="required"
											is-open="datePickerForTxnTime.status.opened" /> <span
											class="input-group-btn">
											<button type="button" class="btn btn-default"
												id='field_txnTime'
												ng-click="datePickerForTxnTimeOpen($event)">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</span>
									</div>
									<div
										ng-show="(editForm.txnTime.$dirty || rc.editForm.attempted) && editForm.txnTime.$invalid">
										<p class="help-block"
											ng-show="editForm.txnTime.$error.required">Date is
											required.</p>
										<p class="help-block" ng-show="editForm.txnTime.$error.date">Please
											enter date format.</p>

									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group"
									ng-class="{'has-error': editForm.status.$invalid && 
         							(editForm.status.$dirty || rc.editForm.attempted)}">
									<label class="control-label" for="field_status">Status</label>
									<select class="form-control" name="status"
										ng-model="adjustments.status" id="field_status" required>
										<option value="INITIATED">INITIATED</option>
										<option value="PROCESSING">PROCESSING</option>
										<option value="BILLED">BILLED</option>
									</select>
									<div
										ng-show="(editForm.status.$dirty || rc.editForm.attempted) && editForm.status.$invalid">
										<p class="help-block"
											ng-show="editForm.status.$error.required">This field is
											required.</p>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group"">									
									<label for="field_transactionTypeMaster">Transaction Type</label>
									<select class="form-control" id="field_transactionTypeMaster"
										name="transactionTypeMaster" 
										ng-model="adjustments.transactionTypeMaster"
										ng-options="transactionTypeMaster as transactionTypeMaster.typeOfTxn for transactionTypeMaster in transactiontypemasters track by transactionTypeMaster.typeoftxn">
										<option value=""></option>
									</select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<div class="form-group"
									ng-class="{'has-error': editForm.complaintTypeMaster.$invalid && 
         (editForm.complaintTypeMaster.$dirty || rc.editForm.attempted)}">
									<label for="field_complaintTypeMaster">Complaint Type </label>
									<select class="form-control" id="field_complaintTypeMaster"
										name="complaintTypeMaster" required
										ng-model="adjustments.complaintTypeMaster"
										ng-options="complaintTypeMaster as complaintTypeMaster.complaintType for complaintTypeMaster in complainttypemasters track by complaintTypeMaster.complaintType">
										<option value=""></option>
									</select>
									<div
										ng-show="(editForm.complaintTypeMaster.$dirty || rc.editForm.attempted) && editForm.complaintTypeMaster.$invalid">
										<p class="help-block"
											ng-show="editForm.complaintTypeMaster.$error.required">This
											field is required.</p>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<label class="control-label" for="field_remarks">Remarks</label>
								<input type="text" class="form-control" name="remarks"
									id="field_remarks" ng-model="adjustments.remarks" />
							</div>

						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-click="clear()">
							<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
						</button>
						<button type="submit" ng-enabled="editForm.$invalid || isSaving"
							class="btn btn-primary">
							<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div id="saveSuccessfullyModal" class="modal" name="saveForm">
		<div class="modal-dialog">
			<div class="modal-content">
				<form name="confirmForm">
					<div class="modal-header"></div>
					<div class="modal-body">
						<p>
						<h3>Request Submitted Successfully!</h3>
						</p>
						<div>
							<h4>
								<label>Application No.:&nbsp;&nbsp; </label>{{adjustments.id}}
							</h4>
						</div>

					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-success" data-dismiss="modal"
							ng-click="clear()">
							<span class="glyphicon glyphicon-ok"></span>&nbsp;<span>Ok</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
