<div id="viewApplicationTxnModal" tabindex="-1" role="dialog"
	aria-labelledby="myApplicationTxnLabel" aria-hidden="true">
	<div class="modal-header">
		<h4 class="modal-title" id="myApplicationTxnLabel">View
			Application Txn</h4>
	</div>
	<div class="row">
		<div class="col-md-3">
			<select class="input-sm form-control" name="applicationTxnSearch"
				id="statusSearch" ng-model="statusSearch"
				ng-change="onSearch(statusSearch)">
				<option value="All" label="All">Select Status</option>
				<option value="Pending" label="Pending">Pending</option>
				<option value="In Feasibility" label="In Feasibility">In
					Feasibility</option>
				<option value="Approved" label="Approved">Approved</option>
			</select>
		</div>
	</div>
	<div class="modal-body">
		<div class="table-responsive">
			<table class="jh-table table  table-striped">
				<thead>
					<tr jh-sort="predicate" ascending="reverse" callback="reset()">
						<th jh-sort-by="id"><span>Application ID</span> <span
							class="glyphicon glyphicon-sort"></span></th>
						<th jh-sort-by="fileNumber.id"><span>File Number</span> <span
							class="glyphicon glyphicon-sort"></span></th>
						<th jh-sort-by="customer.id"><span>Customer</span> <span
							class="glyphicon glyphicon-sort"></span></th>
						<th jh-sort-by="status"><span>Status</span> <span
							class="glyphicon glyphicon-sort"></span></th>
						<th jh-sort-by="applicationTypeMaster.id"><span>Application
								Type</span> <span class="glyphicon glyphicon-sort"></span></th>
						<th jh-sort-by="connectionTypeMaster.id"><span>Connection
								Type</span> <span class="glyphicon glyphicon-sort"></span></th>
						<th jh-sort-by="categoryMaster.id"><span>Category</span> <span
							class="glyphicon glyphicon-sort"></span></th>
						<th jh-sort-by="pipeSizeMaster.id"><span>Pipe Size</span> <span
							class="glyphicon glyphicon-sort"></span></th>
						<th jh-sort-by="sewerSize.id"><span>Sewer Size</span> <span
							class="glyphicon glyphicon-sort"></span></th>
						<th></th>
					</tr>
				</thead>
				<tbody infinite-scroll="loadPage(page + 1)"
					infinite-scroll-disabled="links['last'] == page">
					<tr
						ng-repeat="applicationTxn in applicationTxns track by applicationTxn.id">
						<td><a
							ui-sref="applicationTxn.detail({id:applicationTxn.id})">{{applicationTxn.id}}</a></td>
						<td>{{applicationTxn.fileNumber.fileNo}}</td>
						<td><a
							ui-sref="customer.detail({id:applicationTxn.customer.id})">{{applicationTxn.customer.id}}</a>
						</td>

						<td><span class="label" class="label"
							ng-class="{'label-success'   : applicationTxn.status === 'Approved', 
										'label-warning'   : applicationTxn.status === 'In Feasibility', 
										'label-danger'   : applicationTxn.status === 'Pending'}">
								{{applicationTxn.status==='Pending'?'Pending':(applicationTxn.status==='In Feasibility'?'In Feasibility':'Completed')}}</span></td>
						<td>{{applicationTxn.applicationTypeMaster.applicationType}}
						</td>
						<td>{{applicationTxn.connectionTypeMaster.connectionType}}</td>
						<td>{{applicationTxn.categoryMaster.categoryName}}</td>
						<td>{{applicationTxn.pipeSizeMaster.pipeSize}}</td>
						<td>{{applicationTxn.sewerSize.sewerSize}}</td>

						<td class="text-right">
							<div class="btn-group flex-btn-group-container">
								<button type="submit"
									ui-sref="applicationTxn.detail({id:applicationTxn.id})"
									class="btn btn-info btn-sm">
									<span class="glyphicon glyphicon-eye-open"></span> <span
										class="hidden-xs hidden-sm"></span>
								</button>
								<button type="submit"
									ui-sref="applicationTxn.edit({id:applicationTxn.id})"
									class="btn btn-primary btn-sm">
									<span class="glyphicon glyphicon-pencil"></span> <span
										class="hidden-xs hidden-sm"></span>
								</button>
								<button type="submit"
									ui-sref="applicationTxn.delete({id:applicationTxn.id})"
									class="btn btn-danger btn-sm">
									<span class="glyphicon glyphicon-remove-circle"></span> <span
										class="hidden-xs hidden-sm"></span>
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>





<!-- 
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myApplicationTxnLabel">Create or edit a ApplicationTxn</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="applicationTxn.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_sHouseNo">SHouseNo</label>
            <input type="text" class="form-control" name="sHouseNo" id="field_sHouseNo"
                    ng-model="applicationTxn.sHouseNo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_govtOfficialNo">GovtOfficialNo</label>
            <input type="text" class="form-control" name="govtOfficialNo" id="field_govtOfficialNo"
                    ng-model="applicationTxn.govtOfficialNo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ward">Ward</label>
            <input type="text" class="form-control" name="ward" id="field_ward"
                    ng-model="applicationTxn.ward"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_street">Street</label>
            <input type="text" class="form-control" name="street" id="field_street"
                    ng-model="applicationTxn.street"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pincode">Pincode</label>
            <input type="text" class="form-control" name="pincode" id="field_pincode"
                    ng-model="applicationTxn.pincode"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_block">Block</label>
            <input type="text" class="form-control" name="block" id="field_block"
                    ng-model="applicationTxn.block"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_area">Area</label>
            <input type="text" class="form-control" name="area" id="field_area"
                    ng-model="applicationTxn.area"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_section">Section</label>
            <input type="text" class="form-control" name="section" id="field_section"
                    ng-model="applicationTxn.section"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_constituency">Constituency</label>
            <input type="text" class="form-control" name="constituency" id="field_constituency"
                    ng-model="applicationTxn.constituency"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="applicationTxn.email"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_telephoneNumber">TelephoneNumber</label>
            <input type="text" class="form-control" name="telephoneNumber" id="field_telephoneNumber"
                    ng-model="applicationTxn.telephoneNumber"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_mobile">Mobile</label>
            <input type="text" class="form-control" name="mobile" id="field_mobile"
                    ng-model="applicationTxn.mobile"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_scanPlan">ScanPlan</label>
            <input type="number" class="form-control" name="scanPlan" id="field_scanPlan"
                    ng-model="applicationTxn.scanPlan"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_scanPlan1">ScanPlan1</label>
            <input type="number" class="form-control" name="scanPlan1" id="field_scanPlan1"
                    ng-model="applicationTxn.scanPlan1"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_saleDeed">SaleDeed</label>
            <input type="number" class="form-control" name="saleDeed" id="field_saleDeed"
                    ng-model="applicationTxn.saleDeed"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_saleDeed1">SaleDeed1</label>
            <input type="number" class="form-control" name="saleDeed1" id="field_saleDeed1"
                    ng-model="applicationTxn.saleDeed1"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_totalPlinthArea">TotalPlinthArea</label>
            <input type="number" class="form-control" name="totalPlinthArea" id="field_totalPlinthArea"
                    ng-model="applicationTxn.totalPlinthArea"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_createdDate">CreatedDate</label>
            <input id="field_createdDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="applicationTxn.createdDate" is-open="datePickerForCreatedDate.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForCreatedDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_updatedDate">UpdatedDate</label>
            <input id="field_updatedDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="applicationTxn.updatedDate" is-open="datePickerForUpdatedDate.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForUpdatedDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="applicationTxn.status"
                     />
        </div>

        <div class="form-group">
            <label for="field_applicationTypeMaster">applicationTypeMaster</label>
            <select class="form-control" id="field_applicationTypeMaster" name="applicationTypeMaster" ng-model="applicationTxn.applicationTypeMaster" ng-options="applicationTypeMaster as applicationTypeMaster.id for applicationTypeMaster in applicationtypemasters track by applicationTypeMaster.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_connectionTypeMaster">connectionTypeMaster</label>
            <select class="form-control" id="field_connectionTypeMaster" name="connectionTypeMaster" ng-model="applicationTxn.connectionTypeMaster" ng-options="connectionTypeMaster as connectionTypeMaster.id for connectionTypeMaster in connectiontypemasters track by connectionTypeMaster.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_categoryMaster">categoryMaster</label>
            <select class="form-control" id="field_categoryMaster" name="categoryMaster" ng-model="applicationTxn.categoryMaster" ng-options="categoryMaster as categoryMaster.id for categoryMaster in categorymasters track by categoryMaster.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_pipeSizeMaster">pipeSizeMaster</label>
            <select class="form-control" id="field_pipeSizeMaster" name="pipeSizeMaster" ng-model="applicationTxn.pipeSizeMaster" ng-options="pipeSizeMaster as pipeSizeMaster.id for pipeSizeMaster in pipesizemasters track by pipeSizeMaster.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_sewerSize">sewerSize</label>
            <select class="form-control" id="field_sewerSize" name="sewerSize" ng-model="applicationTxn.sewerSize" ng-options="sewerSize as sewerSize.id for sewerSize in sewersizes track by sewerSize.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_fileNumber">fileNumber</label>
            <select class="form-control" id="field_fileNumber" name="fileNumber" ng-model="applicationTxn.fileNumber" ng-options="fileNumber as fileNumber.id for fileNumber in filenumbers track by fileNumber.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_customer">customer</label>
            <select class="form-control" id="field_customer" name="customer" ng-model="applicationTxn.customer" ng-options="customer as customer.id for customer in customers track by customer.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
 -->