<div>
	<h2>
		<span>Application No.: </span> {{applicationTxn.id}}
	</h2>
	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Requests</h3>
		</div>
		<div class="list-group">
			<div class="table-responsive" ng-hide="applicationTxn.ststus===0">
				<table class="clickableTable table table-striped">
					<thead>
						<tr>
							<!-- <th>Req. Id</th>
							<th>Req. No.</th> -->
							<th>From</th>
							<th>To</th>
							<th>Remarks</th>
							<th>Actioned Date</th>
							<th>IP Address</th>
							<th>Status</th>

						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in requestWorkflowHistorys">
							<!-- <td>{{item.domainObject}}</td>
							<td>{{item.fileNumber}}</td> -->
							<td>{{item.assignedFrom.firstName}}
								{{item.assignedFrom.lastName}} ({{item.assignedFrom.login}})</td>
							<td>{{item.assignedTo.firstName}}
								{{item.assignedTo.lastName}} ({{item.assignedTo.login}})</td>
							<td>{{item.remarks}}</td>
							<td>{{item.actionedDate | date:'mediumDate'}}</td>
							<td>{{item.ipAddress}}</td>
							<td>{{item.statusMaster.status}}</td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div>
		<div class="panel panel-primary">
			<div class="panel-heading clearfix">
				<h3 class="panel-title pull-left">
					Application For New Connection
					<!-- <span class="label" class="label"
						ng-class="{	'label-success'	: applicationTxn.status === 2, 
										'label-warning'	: applicationTxn.status === 1, 
										'label-danger'	: applicationTxn.status === 0}">
						{{applicationTxn.status===0?'Pending':(requisition.status===1?'In
						Feasibility':'Approved')}}</span> -->
				</h3>
				<div class="pull-right">
					<a type="button"
						href="/api/applicationTxns/report/{{applicationTxn.id}}"
						class="pull-right btn btn-warning">Download as PDF</a>
				</div>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<fieldset>
						<legend></legend>
						<div class="row">
							<div class="col-sm-3">
								<label>Application No</label>
								<h5 class="list-group-item-heading">{{applicationTxn.id}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Request Date</label>
								<h5 class="list-group-item-heading">{{applicationTxn.requestedDate
									| date:'mediumDate'}}</h5>
							</div>
							<div class="col-sm-3" ng-if="applicationTxn.can!=null">
								<label>Customer Account Number(CAN)</label>
								<h5 class="list-group-item-heading">{{applicationTxn.can}}</h5>
							</div>
						</div>
					</fieldset>
					<br>
					<fieldset>
						<legend>Applicant Details</legend>
						<div class="row">
							<div class="col-sm-3">
								<label>First Name</label>
								<h5 class="list-group-item-heading">{{applicationTxn.firstName}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Middle Name</label>
								<h5 class="list-group-item-heading">{{applicationTxn.middleName}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Last Name</label>
								<h5 class="list-group-item-heading">{{applicationTxn.lastName}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Organization Name</label>
								<h5 class="list-group-item-heading">{{applicationTxn.organizationName}}</h5>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<label>Designation</label>
								<h5 class="list-group-item-heading">{{applicationTxn.designation}}</h5>
							</div>
							<div class="col-sm-3">
								<label> Mobile Number</label>
								<h5 class="list-group-item-heading">{{applicationTxn.mobileNo}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Office Number</label>
								<h5 class="list-group-item-heading">{{applicationTxn.officeNo}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Email</label>
								<h5 class="list-group-item-heading">{{applicationTxn.email}}</h5>
							</div>
						</div>
					</fieldset>
					<br>
					<fieldset>
						<legend>Property Address</legend>
						<div class="row">
							<div class="col-sm-3">
								<label>Street</label>
								<h5 class="list-group-item-heading">{{applicationTxn.street}}</h5>
							</div>
							<div class="col-sm-3">
								<label> Plot No.</label>
								<h5 class="list-group-item-heading">{{applicationTxn.plotNo}}</h5>
							</div>
							<div class="col-sm-3">
								<label> Block No.</label>
								<h5 class="list-group-item-heading">{{applicationTxn.blockNo}}</h5>
							</div>
							<div class="col-sm-3">
								<label>TANESCO Meter/LUKU No.</label>
								<h5 class="list-group-item-heading">{{applicationTxn.tanescoMeter}}</h5>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<label>Detail Address</label>
								<h5 class="list-group-item-heading">{{applicationTxn.dma}}</h5>
							</div>
							<div class="col-sm-3"
								ng-if="applicationTxn.divisionMaster.divisionName != null">
								<label>DMA</label>
								<h5 class="list-group-item-heading">{{applicationTxn.divisionMaster.divisionName}}</h5>
							</div>
							<div class="col-sm-3"
								ng-if="applicationTxn.streetMaster.streetName != null">
								<label>Street</label>
								<h5 class="list-group-item-heading">{{applicationTxn.streetMaster.streetName}}</h5>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>Water Connection Details</legend>
						<div class="row">
							<div class="col-sm-3">
								<label>Water Connection Use</label>
								<h5 class="list-group-item-heading">{{applicationTxn.waterConnectionUse}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Connection Category</label>
								<h5 class="list-group-item-heading">{{applicationTxn.tariffCategoryMaster.tariffCategory}}</h5>
							</div>
						</div>
					</fieldset>
					<br>
					<fieldset ng-hide="true">
						<legend>Billing Address</legend>
						<div class="row">
							<div class="col-sm-3">
								<label>Street</label>
								<h5 class="list-group-item-heading">{{applicationTxn.bStreet}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Ward</label>
								<h5 class="list-group-item-heading">{{applicationTxn.ward}}</h5>
							</div>
							<div class="col-sm-3">
								<label>DMA</label>
								<h5 class="list-group-item-heading">{{applicationTxn.dma}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Plot No.</label>
								<h5 class="list-group-item-heading">{{applicationTxn.bPlotNo}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Registered Mobile</label>
								<h5 class="list-group-item-heading">{{applicationTxn.registeredMobile}}</h5>
							</div>
						</div>
					</fieldset>
					<fieldset>
						<legend>Documents to be Attached </legend>
						<div class="row">
							<div class="col-sm-3">
								<label>Attached Document</label>
								<h5 class="list-group-item-heading">{{applicationTxn.idProofMaster.idProof}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Id Number</label>
								<h5 class="list-group-item-heading">{{applicationTxn.idNumber}}</h5>
							</div>
							<div class="col-sm-6">
								<label>Property Ownership Document </label>
								<h5 class="list-group-item-heading">{{applicationTxn.deedDoc}}</h5>
								<h5 class="list-group-item-heading">{{applicationTxn.agreementDoc}}</h5>
							</div>
						</div>
					</fieldset>
					<br>
					<fieldset ng-if="applicationTxn.user != null">
						<legend>Approval Details </legend>
						<div class="row">
							<div class="col-sm-3">
								<label>Approved By</label>
								<h5 class="list-group-item-heading">{{applicationTxn.user.firstName}}&nbsp;{{applicationTxn.user.firstName}}({{applicationTxn.user.login}})</h5>
							</div>
							<div class="col-sm-3">
								<label>Approved Date</label>
								<h5 class="list-group-item-heading">{{applicationTxn.approvedDate
									| date:'mediumDate'}}</h5>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>

		<!-- ng-show="{{applicationTxn.status==0}}" -->
		<button type="button" class="btn btn-success pull-right"
			ng-if="applicationTxn.status === 0 && orgRole.orgRoleName === 'Technical Manager'"
			ng-click="getApplicationTxn(applicationTxn.id)">
			<span class="glyphicon glyphicon-check"></span> &nbsp;Forward
		</button>

		<button type="button" class="btn btn-success pull-right"
			ng-if="applicationTxn.status === 1 && orgRole.orgRoleName === 'Technical Zonal Supervisor'"
			ng-click="getApplicationTxn(applicationTxn.id)">
			<span class="glyphicon glyphicon-check"></span> &nbsp;Approve
		</button>

		<button type="button" class="btn btn-success pull-right"
			ng-show="applicationTxn.status===2 && orgRole.orgRoleName === 'Officer, Operation & Maintance - NRW, Water Supply and Sanitation'"
			ui-sref="feasibilityStudyForAppTxn({applicationId:applicationTxn.id})">
			<span class="glyphicon glyphicon-check"></span> &nbsp;Create
			Feasibility
		</button>

		<button type="button" class="btn btn-success pull-right"
			ng-show="applicationTxn.status===3 && orgRole.orgRoleName === 'Technical Manager'"
			ui-sref="proceedingsForAppTxn({applicationTxnId:applicationTxn.id})">
			<span class="glyphicon glyphicon-check"></span> &nbsp;Create
			Proceedings
		</button>

		<button type="button" class="btn btn-success pull-right"
			ng-show="applicationTxn.status===4 && orgRole.orgRoleName === 'Assistant Accountant(Revenue)'"
			ui-sref="proceedingsDetailForAppTxn({applicationTxnId:applicationTxn.id})">
			<span class="glyphicon glyphicon-check"></span> &nbsp;Review
			Proceedings
		</button>

		<button type="button" class="btn btn-success pull-right"
			ng-show="applicationTxn.status===5 && orgRole.orgRoleName === 'Stores & Supplies Officer'"
			ui-sref="itemRequiredForApplicationTxn({applicationTxnId:applicationTxn.id})">
			<span class="glyphicon glyphicon-check"></span> &nbsp;Issue Items
		</button>

		<!-- ui-sref="custMeterMappingForMeterAllot({applicationTxnId:applicationTxn.id})" -->
		<button type="button" class="btn btn-success pull-right"
			ng-show="applicationTxn.status===6 && orgRole.orgRoleName === 'Officer, Operation & Maintance - NRW, Water Supply and Sanitation'"
			ui-sref="applicationTxnIssueMeter({applicationTxnId:applicationTxn.id})">
			<span class="glyphicon glyphicon-check"></span> &nbsp;Issue Meter
		</button>

		<button type="button" class="btn btn-success pull-right"
			ng-show="applicationTxn.status===7 && orgRole.orgRoleName === 'Billing Officer'"
			ui-sref="applicationTxnClose({applicationTxnId:applicationTxn.id})">
			<span class="glyphicon glyphicon-check"></span> &nbsp;Complete
		</button>
		<span class="pull-right">&nbsp;&nbsp;&nbsp;</span>
		
		<button type="button" class="btn btn-success pull-right"
			ng-show="applicationTxn.user.id !=null"
			ui-sref="applicationTxnCloseWithoutMeter({applicationTxnId:applicationTxn.id})">
			<span class="glyphicon glyphicon-check"></span> &nbsp;Complete(W)
		</button>
		<button type="button" class="btn btn-danger pull-right"
			ng-show="canDecline()" ng-disabled="isSaving"
			ng-click="declineRequest(applicationTxn.id)">
			<span class="glyphicon glyphicon-remove-circle"></span> &nbsp;Decline
		</button>

		<button type="button" onclick="window.history.back()"
			class="btn btn-info">
			<span class="glyphicon glyphicon-arrow-left"></span> &nbsp; <span>
				Back</span>
		</button>
	</div>

	<div id="approveModal" class="modal" name="aproveForm">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<form name="editForm" role="form" novalidate>
					<div class="panel panel-primary">
						<div class="panel-heading clearfix">
							<h3 class="panel-title pull-left">Application Approval
								Details</h3>
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true" ng-click="clear()">&times;</button>
						</div>
						<div class="list-group">
							<div class="list-group-item">
								<div class="modal-body">
									<div class="row">
										<div class="col-sm-3">
											<label for="field_applicationTxn">Application No. </label> <input
												type="text" class="form-control" name="applicationTxn"
												id="field_applicationTxn" ng-model="applicationTxn.id"
												disabled />
										</div>
										<div class="col-sm-3">
											<label class="control-label" for="field_approvedDate">Approved
												Date</label>
											<div class="form-group">
												<div class='input-group date' id='field_approvedDate'>
													<input id="field_approvedDate" type="text"
														class="form-control" uib-datepicker-popup="{{dateformat}}"
														ng-model="applicationTxn.approvedDate" max-date="maxDate"
														is-open="datePickerForApprovedDate.status.opened" required />
													<span class="input-group-btn">
														<button type="button" class="btn btn-default"
															ng-click="datePickerForApprovedDateOpen($event)">
															<i class="glyphicon glyphicon-calendar"></i>
														</button>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<label class="control-label" for="field_remarks">Remarks</label>
											<textarea rows="4" cols="50" class="form-control"
												name="remarks" id="field_remarks" max="20"
												ng-model="applicationTxn.remarks" required></textarea>
										</div>
									</div>
									<br>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default"
										data-dismiss="modal" ng-click="clear()">
										<span class="glyphicon glyphicon-ban-circle"></span> &nbsp; <span>Cancel</span>
									</button>
									<button type="button"
										ng-disabled="editForm.$invalid || isSaving"
										class="btn btn-primary"
										ng-click="approvalDetailsSave(applicationTxn.id, applicationTxn.remarks, applicationTxn.approvedDate)">
										<span class="glyphicon glyphicon-save"></span> &nbsp; <span>Save</span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
