
<form name="editForm" role="form" novalidate ng-submit="save()"
	show-validation>
	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Create CAN</h3>
		</div>
		<div class="list-group">
			<div class="list-group-item">
				<div class="modal-body">
					<!-- <jh-alert-error></jh-alert-error> -->

					<fieldset>
						<legend>Applicant Detail</legend>
						<div class="row">
							<div class="col-sm-3">
								<label>Application No.</label>
								<h5 class="list-group-item-heading">{{changeCaseDTO.applicationTxn.id}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Full Name</label>
								<h5 class="list-group-item-heading">{{changeCaseDTO.applicationTxn.firstName
									| uppercase}}&nbsp;{{changeCaseDTO.applicationTxn.middleName |
									uppercase}}&nbsp;{{changeCaseDTO.applicationTxn.lastName |
									uppercase}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Mobile No.</label>
								<h5 class="list-group-item-heading">{{changeCaseDTO.applicationTxn.mobileNo}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Customer Account Number(CAN)</label>
								<h5 class="list-group-item-heading">
									<b>{{changeCaseDTO.applicationTxn.can}}</b>
								</h5>
							</div>
						</div>
					</fieldset>
					<hr>
					<fieldset>
						<legend>Address Details</legend>
						<div class="row">
							<div class="col-sm-4">
								<label>Division</label>
								<h5 class="list-group-item-heading">{{changeCaseDTO.applicationTxn.divisionMaster.divisionName
									| uppercase}}</h5>
							</div>
							<div class="col-sm-4">
								<label>Street</label>
								<h5 class="list-group-item-heading">{{changeCaseDTO.applicationTxn.streetMaster.streetName
									| uppercase}}</h5>
							</div>
							<div class="col-sm-4">
								<label>Address</label>
								<h5 class="list-group-item-heading">{{changeCaseDTO.applicationTxn.dma
									| uppercase}}</h5>
							</div>
						</div>
					</fieldset>
					<hr>
					<fieldset>
						<legend>Connection Detail</legend>
						<div class="row">
							<div class="col-sm-4">
								<label>Category</label>
								<h5 class="list-group-item-heading">{{changeCaseDTO.applicationTxn.tariffCategoryMaster.tariffCategory
									| uppercase}}</h5>
							</div>
							<div class="col-sm-4">
								<label> Meter Id</label>
								<h5 class="list-group-item-heading">{{changeCaseDTO.applicationTxn.meterDetails.meterId
									| uppercase}}</h5>
							</div>
							<div class="col-sm-4">
								<label>Meter Reading</label>
								<h5 class="list-group-item-heading">{{changeCaseDTO.applicationTxn.meterReading}}</h5>
							</div>
						</div>
						<br>
						<div class="row">
							<!-- <div class="col-sm-4">
								<label>Connection Date</label>
								<h5 class="list-group-item-heading">{{changeCaseDTO.applicationTxn.connectionDate
									| date:'mediumDate'}}</h5>
							</div> -->
							<div class="col-sm-4">
								<label>Total Amount</label>
								<h5 class="list-group-item-heading">{{changeCaseDTO.proceedings.grandTotal|
									number:2}}</h5>
							</div>
							<div class="col-sm-4">
								<label class="control-label" for="field_connectionDate">Connection
									Date</label>
								<div class="form-group">
									<div class='input-group date' id='field_connectionDate'>
										<input id="field_connectionDate" type="text"
											class="form-control" uib-datepicker-popup="{{dateformat}}"
											ng-model="changeCaseDTO.applicationTxn.connectionDate" max-date="dtmax"
											is-open="datePickerForConnectionDate.status.opened"
											ng-change="getEffectiveMonth(applicationTxn.connectionDate)"
											required /> <span class="input-group-btn">
											<button type="button" class="btn btn-default"
												ng-click="datePickerForConnectionDateOpen($event)">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</span>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					<hr>
					<fieldset>
						<legend>Remarks</legend>
						<div class="row">
							<div class="col-sm-12">
								<!-- <label class="control-label" for="field_remarks">Remarks</label> -->
								<textarea rows="2" cols="30" class="form-control" name="remarks"
									id="field_remarks" style="resize: none"
									ng-model="changeCaseDTO.applicationTxn.remarks" required></textarea>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" onclick="window.history.back()"
					class="btn btn-info pull-left">
					<span class="glyphicon glyphicon-arrow-left"></span> &nbsp; <span>
						Back</span>
				</button>
				<button type="button" ng-disabled="editForm.$invalid || isSaving"
					class="btn btn-primary" ng-click="save(changeCaseDTO)">
					<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
				</button>
			</div>
		</div>
	</div>
</form>
<div id="saveSuccessfullyModal" class="modal" name="saveForm">
	<div class="modal-dialog">
		<div class="modal-content">
			<form name="confirmForm">

				<div class="modal-body">
					<p>
					<h3>CAN Generated Successfully!</h3>
					</p>
					<div>
						<h4>
							<label>Application No.:&nbsp;&nbsp; </label>{{applicationTxnId}}
						</h4>
						<h4>
							<label>CAN.:&nbsp;&nbsp; </label>{{can}}
						</h4>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" data-dismiss="modal"
						ng-click="done()">
						<span class="glyphicon glyphicon-ok"></span>&nbsp;<span>Ok</span>
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
