<div>
	<form name="editForm" role="form" novalidate ng-submit="save()">
		<div class="panel panel-primary">
			<div class="panel-heading clearfix">
				<h3 class="panel-title pull-left">Create A Connection</h3>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<div class="modal-body">
						<jh-alert-error></jh-alert-error>
						<fieldset>
							<legend></legend>
							<div class="row">
								<div class="col-sm-3">
									<label for="id">ID</label> <input type="text"
										class="form-control" id="id" name="id"
										ng-model="applicationTxn.id" readonly />
								</div>
								<div class="col-sm-3">
									<label class="control-label" for="field_fileNumber">File
										Number</label> <input type="text" class="form-control"
										name="fileNumber" id="field_fileNumber"
										ng-model="applicationTxn.fileNumber" readonly />
								</div>
								<div class="col-sm-3">
									<label class="control-label" for="field_requestedDate">Requested
										Date</label>
									<div class="form-group">
										<div class='input-group date' id='field_requestedDate'>
											<input id="field_requestedDate" type="text"
												class="form-control" uib-datepicker-popup="{{dateformat}}"
												ng-model="applicationTxn.requestedDate"
												is-open="datePickerForRequestedDate.status.opened" required />
											<span class="input-group-btn">
												<button type="button" class="btn btn-default"
													ng-click="datePickerForRequestedDateOpen($event)">
													<i class="glyphicon glyphicon-calendar"></i>
												</button>
											</span>
										</div>
									</div>
								</div>
								<div class="1"></div>

							</div>
						</fieldset>
						<br>
						<fieldset>
							<legend>Applicant Details</legend>
							<div class="row">
								<div class="col-sm-6">
									<label class="control-label" for="field_fullName">Full
										Name</label> <input type="text" class="form-control" name="fullName"
										id="field_fullName" ng-model="applicationTxn.fullName"
										required />
									<div
										ng-show="editForm.fullName.$invalid && editForm.fullName.$dirty || editForm.fullName.$touched"
										class="has-error">
										<p class="help-block" ng-show="editForm.fullName$error.text">This
											field should be text</p>
										<p class="help-block"
											ng-show="editForm.fullName.$error.required">Enter Name.</p>
									</div>
								</div>
								<div class="col-sm-2">
									<label>Photo</label>
									<button type="submit" class="btn btn-primary" ngf-drop=""
										ngf-select="" ng-model="applicationTxn.photo1"
										ng-model-rejected="rejFiles"
										ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
										class="drop-box" ngf-multiple="true" ngf-allow-dir="true"
										ngf-accept="'image/*,application/pdf'"
										ngf-drop-available="dropAvailable">
										<span class="glyphicon glyphicon-open"></span>&nbsp;<span>Upload
											Photo</span>
									</button>
								</div>
								<div class="col-sm-3">
									<ul style="clear: both" ng-show="rejFiles.length > 0"
										class="response">
										<li class="sel-file" ng-repeat="f in rejFiles">Rejected
											file: {{f.name}} - size: {{f.size}}B - type: {{f.type}}</li>
									</ul>
									<ul style="clear: both"
										ng-show="applicationTxn.photo1.length > 0" class="response">
										<li class="sel-file" ng-repeat="f in applicationTxn.photo1">
											- {{f.name}} <a ng-show="f.result" href="javascript:void(0)"
											ng-click="f.showDetail = !f.showDetail">details</a>
										</li>
									</ul>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-sm-4">
									<label class="control-label" for="field_homeOrOfficeNumber">Home/Office
										Number</label> <input type="number" class="form-control"
										name="homeOrOfficeNumber" id="field_homeOrOfficeNumber"
										ng-model="applicationTxn.homeOrOfficeNumber" required />
								</div>
								<div class="col-sm-4">
									<label class="control-label" for="field_regionalNumber">Regional
										Number</label> <input type="number" class="form-control"
										name="regionalNumber" id="field_regionalNumber"
										ng-model="applicationTxn.regionalNumber" required />
								</div>
								<div class="col-sm-4">
									<label class="control-label" for="field_faxNumber">Fax
										Number</label> <input type="number" class="form-control"
										name="faxNumber" id="field_faxNumber"
										ng-model="applicationTxn.faxNumber" />
								</div>
							</div>
						</fieldset>
						<br>
						<fieldset>
							<legend>Address</legend>
							<div class="row">
								<div class="col-sm-3">
									<label class="control-label" for="field_plotNumber">Plot
										Number</label> <input type="text" class="form-control"
										name="plotNumber" id="field_plotNumber"
										ng-model="applicationTxn.plotNumber" required />
								</div>
								<div class="col-sm-3">
									<label class="control-label" for="field_area">Area</label> <input
										type="text" class="form-control" name="area" id="field_area"
										ng-model="applicationTxn.area" required />
								</div>
								<div class="col-sm-3">
									<label class="control-label" for="field_street">Street</label>
									<input type="text" class="form-control" name="street"
										id="field_street" ng-model="applicationTxn.street" required />
								</div>
								<div class="col-sm-3">
									<label class="control-label" for="field_poBox">P.O. Box</label>
									<input type="text" class="form-control" name="poBox"
										id="field_poBox" ng-model="applicationTxn.poBox" required />
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-sm-6">
									<label class="control-label" for="field_villageExecutiveOffice">Village
										Executive Office</label> <input type="text" class="form-control"
										name="villageExecutiveOffice"
										id="field_villageExecutiveOffice"
										ng-model="applicationTxn.villageExecutiveOffice" required />
								</div>
								<div class="col-sm-6">
									<label class="control-label"
										for="field_villageExecutiveOfficeNumber">Village
										Executive Office Number</label> <input type="text"
										class="form-control" name="villageExecutiveOfficeNumber"
										id="field_villageExecutiveOfficeNumber"
										ng-model="applicationTxn.villageExecutiveOfficeNumber"
										required />
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-sm-12">
									<label class="control-label" for="field_detailAddress">Address
										Details</label>
									<textarea rows="4" cols="50" class="form-control"
										name="detailAddress" id="field_detailAddress" maxlength="255"
										style="resize: none" ng-model="applicationTxn.detailAddress"></textarea>
								</div>
							</div>
						</fieldset>
						<br>
						<fieldset>
							<legend>Connection Type</legend>
							<div class="row">
								<div class="col-sm-6">
									<label for="field_categoryMaster">Category</label> <select
										class="form-control" id="field_categoryMaster"
										name="categoryMaster" ng-model="applicationTxn.categoryMaster"
										ng-options="categoryMaster as categoryMaster.categoryName for categoryMaster in categoryMasters track by categoryMaster.id"
										required>
										<option value=""></option>
									</select>
								</div>
							</div>
						</fieldset>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-click="clear()">
							<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
						</button>
						<button type="submit" ng-disabled="editForm.$invalid || isSaving"
							class="btn btn-primary">
							<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div id="saveSuccessfullyModal" class="modal fade" name="saveForm">
		<div class="modal-dialog">
			<div class="modal-content">
				<form name="confirmForm">
					<div class="modal-header">
						<!-- <h4 class="modal-title">Confirmation message</h4> -->
					</div>
					<div class="modal-body">
						<p><h3>Request Submitted Successfully!</h3></p>
						<div>
							<h4><label>Application No.:&nbsp;&nbsp; </label>{{applicationTxn.id}}</h4>
						</div>
						<!-- <div>
							<label>File No.: </label>{{applicationTxn.fileNumber}}
						</div> -->
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-success" data-dismiss="modal"
							ng-click="clear()">
							<span class="glyphicon glyphicon-ok"></span>&nbsp;<span>Ok</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>