<div>
	<h2>
		<span>ApplicationTxn</span> {{applicationTxn.id}}
	</h2>
	<div>
		<div class="panel panel-primary">
			<div class="panel-heading clearfix">
				<h3 class="panel-title pull-left">Application For New
					Connection</h3>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<fieldset>
						<legend></legend>
						<div class="row">
							<div class="col-sm-4">
								<label>File Number</label>
								<h5 class="list-group-item-heading">{{applicationTxn.fileNumber.fileNo}}</h5>
							</div>
							<div class="col-sm-4">
								<label>Application No</label>
								<h5 class="list-group-item-heading">{{applicationTxn.id}}</h5>
							</div>
							<div class="col-sm-4">
								<label>RequestDate</label>
								<h5 class="list-group-item-heading">{{applicationTxn.customer.requestDate
									| date:'medium'}}</h5>
							</div>
						</div>
					</fieldset>
					<br>
					<fieldset>
						<legend>APPLICANT NAME</legend>
						<div class="row">
							<div class="col-sm-4">
								<label>First Name</label>
								<h5 class="list-group-item-heading">{{applicationTxn.customer.firstName}}</h5>
							</div>
							<div class="col-sm-4">
								<label>Middle Name</label>
								<h5 class="list-group-item-heading">{{applicationTxn.customer.middleName}}</h5>
							</div>
							<div class="col-sm-4">
								<label>Last Name</label>
								<h5 class="list-group-item-heading">{{applicationTxn.customer.lastName}}</h5>
							</div>
						</div>
					</fieldset>
					<br>
					<fieldset>
						<legend>CORRESPONDANCE ADDRESS</legend>
						<div class="row">
							<div class="col-sm-4">
								<label>House No</label>
								<h5 class="list-group-item-heading">{{applicationTxn.customer.houseNo}}</h5>
							</div>
							<div class="col-sm-4">
								<label>Street</label>
								<h5 class="list-group-item-heading">{{applicationTxn.customer.street}}</h5>
							</div>
							<div class="col-sm-4">
								<label>Area</label>
								<h5 class="list-group-item-heading">{{applicationTxn.customer.area}}</h5>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<label>Govt. Official No.</label>
								<h5 class="list-group-item-heading">{{applicationTxn.customer.govtOfficialNo}}</h5>
							</div>
							<div class="col-sm-4">
								<label>Pincode</label>
								<h5 class="list-group-item-heading">{{applicationTxn.customer.pincode}}</h5>
							</div>
							<div class="col-sm-4">
								<label>Section</label>
								<h5 class="list-group-item-heading">{{applicationTxn.customer.section}}</h5>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<label>Ward</label>
								<h5 class="list-group-item-heading">{{applicationTxn.customer.ward}}</h5>
							</div>
							<div class="col-sm-4">
								<label>Block</label>
								<h5 class="list-group-item-heading">{{applicationTxn.customer.block}}</h5>
							</div>
							<div class="col-sm-4">
								<label>Constituency</label>
								<h5 class="list-group-item-heading">{{applicationTxn.customer.constituency}}</h5>
							</div>
						</div>
					</fieldset>
					<br>
					<fieldset>
						<legend>Contact Details</legend>
						<div class="row">
							<div class="col-sm-4">
								<label>Tel. Office</label>
								<h5 class="list-group-item-heading">{{applicationTxn.customer.telOffice}}</h5>
							</div>
							<div class="col-sm-4">
								<label>Tel. Home</label>
								<h5 class="list-group-item-heading">{{applicationTxn.customer.telHome}}</h5>
							</div>
							<div class="col-sm-4">
								<label>Mobile</label>
								<h5 class="list-group-item-heading">{{applicationTxn.customer.mobile}}</h5>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<label>Email</label>
								<h5 class="list-group-item-heading">{{applicationTxn.customer.email}}</h5>
							</div>
						</div>
					</fieldset>
					<br>
					<fieldset>
						<legend>SERVICE PREMISES ADDRESS</legend>
						<div class="row">
							<div class="col-sm-4">
								<label>House No</label>
								<h5 class="list-group-item-heading">{{applicationTxn.sHouseNo}}</h5>
							</div>
							<div class="col-sm-4">
								<label>Street</label>
								<h5 class="list-group-item-heading">{{applicationTxn.street}}</h5>
							</div>
							<div class="col-sm-4">
								<label>Area</label>
								<h5 class="list-group-item-heading">{{applicationTxn.area}}</h5>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<label>Govt. Official No.</label>
								<h5 class="list-group-item-heading">{{applicationTxn.govtOfficialNo}}</h5>
							</div>
							<div class="col-sm-4">
								<label>Pincode</label>
								<h5 class="list-group-item-heading">{{applicationTxn.pincode}}</h5>
							</div>
							<div class="col-sm-4">
								<label>Section</label>
								<h5 class="list-group-item-heading">{{applicationTxn.section}}</h5>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<label>Ward</label>
								<h5 class="list-group-item-heading">{{applicationTxn.ward}}</h5>
							</div>
							<div class="col-sm-4">
								<label>Block</label>
								<h5 class="list-group-item-heading">{{applicationTxn.block}}</h5>
							</div>
							<div class="col-sm-4">
								<label>Constituency</label>
								<h5 class="list-group-item-heading">{{applicationTxn.constituency}}</h5>
							</div>
						</div>
					</fieldset>
					<br>
					<fieldset>
						<legend>SERVICE PREMISES CONTACT DETAILS</legend>
						<div class="row">
							<div class="col-sm-4">
								<label>Tel. Office</label>
								<h5 class="list-group-item-heading">{{applicationTxn.telephoneNumber}}</h5>
							</div>
							<div class="col-sm-4">
								<label>Mobile</label>
								<h5 class="list-group-item-heading">{{applicationTxn.mobile}}</h5>
							</div>
							<div class="col-sm-4">
								<label>Email</label>
								<h5 class="list-group-item-heading">{{applicationTxn.email}}</h5>
							</div>
						</div>
					</fieldset>
					<br>
					<fieldset>
						<legend>PlotArea(As per)</legend>
						<div class="row">
							<div class="col-sm-2">
								<label>(a)MCH Sanc. Plan</label>
								<h5 class="list-group-item-heading"></h5>
							</div>
							<div class="col-sm-2">
								<label>Sq. Mts. </label>
								<h5 class="list-group-item-heading">{{applicationTxn.scanPlan}}</h5>
							</div>
							<div class="col-sm-2">
								<label> Sq. Yards </label>
								<h5 class="list-group-item-heading">{{applicationTxn.scanPlan1}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Application Type</label>
								<h5 class="list-group-item-heading">{{applicationTxn.applicationTypeMaster.applicationType}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Connection Type</label>
								<h5 class="list-group-item-heading">{{applicationTxn.connectionTypeMaster.connectionType}}</h5>
							</div>

						</div>
						<div class="row">
							<div class="col-sm-2">
								<label>(b)Reg. Sale Deed</label>
								<h5 class="list-group-item-heading"></h5>
							</div>
							<div class="col-sm-2">
								<label>Sq. Mts. </label>
								<h5 class="list-group-item-heading">{{applicationTxn.saleDeed}}</h5>
							</div>
							<div class="col-sm-2">
								<label>Sq. Yards</label>
								<h5 class="list-group-item-heading">{{applicationTxn.saleDeed1}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Category</label>
								<h5 class="list-group-item-heading">{{applicationTxn.ctegoryMaster.categoryName}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Pipe Size</label>
								<h5 class="list-group-item-heading">{{applicationTxn.pipeSizeMaster.pipeSize}}</h5>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-9">
								<label>Total Plinth Area</label>
								<h5 class="list-group-item-heading">{{applicationTxn.totalPlinthArea}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Sewer Size</label>
								<h5 class="list-group-item-heading">{{applicationTxn.sewerSize.sewerSize}}</h5>
							</div>
						</div>
					</fieldset>
					<br>
				</div>
			</div>
		</div>

		<button type="submit" onclick="window.history.back()"
			class="btn btn-info">
			<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span>
				Back</span>
		</button>

		<button type="button" ng-disabled="editForm.$invalid"
			class="btn btn-success pull-right" ng-click="load(applicationTxn.id)">
			<span class="glyphicon glyphicon-check"></span>&nbsp;Approve
		</button>

		<span class="pull-right">&nbsp;&nbsp;&nbsp;</span>

		<button type="button" ng-disabled="editForm.$invalid"
			class="btn btn-danger pull-right" ng-click="decline()">
			<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;Decline
		</button>
	</div>


	<div id="approveModal" class="modal" name="aproveForm">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<!-- <form name="confirmForm">
					<div class="modal-header">
						<h4 class="modal-title">Confirmation message</h4>
					</div>
					<div class="modal-body">
						<p>Request Approved Successfully!</p>
						<div>
							<label>Application No.: </label>{{applicationTxn.id}}
						</div>
						<div>
							<label>File No.: </label>{{applicationTxn.fileNumber.fileNo}}
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-success" data-dismiss="modal"
							ng-click="clear()" ui-sref="applicationTxn.all">
							<span class="glyphicon glyphicon-ok"></span>&nbsp;<span>Ok</span>
						</button>
					</div>
				</form> -->
				<form name="editForm" role="form" novalidate ng-submit="approvalDetailsSave()">
					<div class="panel panel-primary">
						<div class="panel-heading clearfix">
							<h3 class="panel-title pull-left">Application Approval
								Details</h3>
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true" ng-click="clear()">&times;</button>
						</div>
						<div class="list-group">
							<div class="list-group-item">
								<div class="modal-body">
									<div class="modal-body">
										<jh-alert-error></jh-alert-error>
										<div class="row">
											<div class="col-sm-3">
												<label for="field_applicationTxn">applicationTxn</label> <input
													type="text" class="form-control" name="applicationTxn"
													id="field_applicationTxn"
													ng-model="approvalDetails.applicationTxn.id" />
											</div>
											<div class="col-sm-3">
												<label for="field_customer">customer</label> <input
													type="text" class="form-control" id="field_customer" name="customer"
													ng-model="approvalDetails.customer.id" />

											</div>
											<div class="col-sm-3">
												<label class="control-label" for="field_approvedDate">ApprovedDate</label>
												<input id="field_approvedDate" type="text"
													class="form-control" uib-datepicker-popup="{{dateformat}}"
													ng-model="approvalDetails.approvedDate"
													is-open="datePickerForApprovedDate.status.opened" /> <span
													class="input-group-btn">
													<button type="button" class="btn btn-default"
														ng-click="datePickerForApprovedDateOpen($event)">
														<i class="glyphicon glyphicon-calendar"></i>
													</button>
												</span>
											</div>
											<div class="col-sm-3">
												<label for="field_feasibilityStatus">feasibilityStatus</label>
												<select class="form-control" id="field_feasibilityStatus"
													name="feasibilityStatus"
													ng-model="approvalDetails.feasibilityStatus"
													ng-options="feasibilityStatus as feasibilityStatus.id for feasibilityStatus in feasibilitystatuss track by feasibilityStatus.id">
													<option value=""></option>
												</select>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12">
												<label class="control-label" for="field_remarks">Remarks</label>
												<input type="text" class="form-control" name="remarks"
													id="field_remarks" ng-model="approvalDetails.remarks" />
											</div>
										</div>
										<br>
										<div class="row">
											<div class="col-sm-3">
												<label class="control-label" for="field_approvedEmpNo">ApprovedEmpNo</label>
												<input type="text" class="form-control" name="approvedEmpNo"
													id="field_approvedEmpNo"
													ng-model="approvalDetails.approvedEmpNo" />
											</div>
											<div class="col-sm-3">
												<label class="control-label" for="field_approvedEmpName">ApprovedEmpName</label>
												<input type="text" class="form-control"
													name="approvedEmpName" id="field_approvedEmpName"
													ng-model="approvalDetails.approvedEmpName" />
											</div>
											<div class="col-sm-3">
												<label class="control-label" for="field_approvedEmpDesig">ApprovedEmpDesig</label>
												<input type="text" class="form-control"
													name="approvedEmpDesig" id="field_approvedEmpDesig"
													ng-model="approvalDetails.approvedEmpDesig" />
											</div>
											<div class="col-sm-3">
												<label for="field_designationMaster">designationMaster</label>
												<select class="form-control" id="field_designationMaster"
													name="designationMaster"
													ng-model="approvalDetails.designationMaster"
													ng-options="designationMaster as designationMaster.id for designationMaster in designationmasters track by designationMaster.id">
													<option value=""></option>
												</select>
											</div>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default"
											data-dismiss="modal" ng-click="clear()">
											<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
										</button>
										<button type="submit"
											ng-disabled="editForm.$invalid || isSaving"
											class="btn btn-primary">
											<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
