<div>
	<form name="editForm" role="form" novalidate ng-submit="save()">
		<div class="panel panel-primary">
			<div class="panel-heading clearfix">
				<h3 class="panel-title pull-left">Create Connection(Without Metered)</h3>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<div class="modal-body">
						<jh-alert-error></jh-alert-error>
						<div class="row">
							<!-- <div class="col-sm-4">
								<label for="id">ID</label> <input type="text"
									class="form-control" id="id" name="id"
									ng-model="applicationTxn.id" readonly />
							</div> -->
							<div class="col-sm-4">
								<label class="control-label" for="field_requestedDate">Requested
									Date</label>
								<div class="form-group">
									<div class='input-group date' id='field_requestedDate'>
										<input id="field_requestedDate" type="text"
											class="form-control" uib-datepicker-popup="{{dateformat}}"
											ng-model="applicationTxn.requestedDate" max-date="dtmax"
											is-open="datePickerForRequestedDate.status.opened" required />
										<span class="input-group-btn">
											<button type="button" class="btn btn-default"
												ng-click="datePickerForRequestedDateOpen($event)">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</span>
									</div>
								</div>
							</div>
						</div>
						<br>
						<fieldset>
							<legend>Water Connection Details</legend>
							<div class="row">
								<div class="col-sm-6">
									<label for="field_tariffCategoryMaster">Connection
										Category</label> <select class="form-control"
										id="field_tariffCategoryMaster" name="tariffCategoryMaster"
										ng-model="applicationTxn.tariffCategoryMaster"
										ng-change="disableOrg(applicationTxn.tariffCategoryMaster.id)"
										ng-options="tariffCategoryMaster as tariffCategoryMaster.tariffCategory for tariffCategoryMaster in tariffcategorymasters track by tariffCategoryMaster.id">
										<option value=""></option>
									</select>
								</div>
								<div class="col-sm-6">
									<label class="control-label" for="field_waterConnectionUse">Water
										Connection Use</label> <input type="text" class="form-control"
										name="waterConnectionUse" id="field_waterConnectionUse"
										ng-model="applicationTxn.waterConnectionUse" />
								</div>
							</div>
						</fieldset>
						<br>
						<fieldset>
							<legend>Applicant Details</legend>
							<div class="row">
								<div class="col-sm-3">
									<label class="control-label" for="field_firstName">First
										Name</label> <input type="text" class="form-control" name="firstName"
										id="field_firstName" ng-model="applicationTxn.firstName" />
								</div>
								<div class="col-sm-3">
									<label class="control-label" for="field_middleName">Middle
										Name</label> <input type="text" class="form-control" name="middleName"
										id="field_middleName" ng-model="applicationTxn.middleName" />
								</div>
								<div class="col-sm-3">
									<label class="control-label" for="field_lastName">Last
										Name</label> <input type="text" class="form-control" name="lastName"
										id="field_lastName" ng-model="applicationTxn.lastName" />
								</div>
								<div class="col-sm-1">
									<label>Photo</label>
									<button type="submit" class="btn btn-primary" ngf-drop=""
										ngf-select="" ng-model="applicationTxn.photo1"
										ng-model-rejected="rejFiles"
										ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
										class="drop-box" ngf-multiple="true" ngf-allow-dir="true"
										ngf-accept="'image/*,application/pdf'"
										ngf-drop-available="dropAvailable">
										<span class="glyphicon glyphicon-open"></span>&nbsp;<span>Upload
											Photo</span>
									</button>
								</div>
								<div class="col-sm-2">
									<ul style="clear: both" ng-show="rejFiles.length > 0"
										class="response">
										<li class="sel-file" ng-repeat="f in rejFiles">Rejected
											file: {{f.name}} - size: {{f.size}}B - type: {{f.type}}</li>
									</ul>
									<ul style="clear: both"
										ng-show="applicationTxn.photo1.length > 0" class="response">
										<li class="sel-file" ng-repeat="f in applicationTxn.photo1">
											- {{f.name}} <a ng-show="f.result" href="javascript:void(0)"
											ng-click="f.showDetail = !f.showDetail">details</a>
										</li>
									</ul>
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-sm-4">
									<label class="control-label" for="field_organization">Organization</label>
									<input type="checkbox" class="form-control" name="organization"
										ng-disabled="applicationTxn.tariffCategoryMaster.id===1"
										id="field_organization" ng-model="applicationTxn.organization" />
								</div>
								<div class="col-sm-4">
									<label class="control-label" for="field_organizationName">Organization
										Name</label> <input type="text" class="form-control"
										name="organizationName" id="field_organizationName"
										ng-model="applicationTxn.organizationName"
										ng-disabled="!applicationTxn.organization || applicationTxn.tariffCategoryMaster.id===1" />
								</div>
								<div class="col-sm-4">
									<label class="control-label" for="field_designation">Designation</label>
									<input type="text" class="form-control" name="designation"
										id="field_designation" ng-model="applicationTxn.designation"
										ng-disabled="applicationTxn.tariffCategoryMaster.id===1" />
								</div>
							</div>
							<br>
						</fieldset>
						<fieldset>
							<legend>Contact Details</legend>
							<div class="row">
								<div class="col-sm-4">
									<label class="control-label" for="field_mobileNo">Mobile
										Number</label> <input type="number" class="form-control" name="mobileNo"
										id="field_mobileNo" ng-model="applicationTxn.mobileNo" />
								</div>
								<div class="col-sm-4">
									<label class="control-label" for="field_officeNo">Office
										Number</label> <input type="number" class="form-control" name="officeNo"
										id="field_officeNo" ng-model="applicationTxn.officeNo" />
								</div>
								<div class="col-sm-4">
									<label class="control-label" for="field_email">Email</label> <input
										type="text" class="form-control" name="email" id="field_email"
										ng-model="applicationTxn.email" />
								</div>
							</div>
						</fieldset>
						<br>
						<fieldset>
							<legend>Property Address</legend>
							<div class="row">
								<div class="col-sm-3">
									<label class="control-label" for="field_street">Street</label>
									<input type="text" class="form-control" name="street"
										id="field_street" ng-model="applicationTxn.street" />
								</div>
								<div class="col-sm-3">
									<label class="control-label" for="field_plotNo">Plot
										No.</label> <input type="text" class="form-control" name="plotNo"
										id="field_plotNo" ng-model="applicationTxn.plotNo" />
								</div>
								<div class="col-sm-3">
									<label class="control-label" for="field_blockNo">Block
										No.</label> <input type="text" class="form-control" name="blockNo"
										id="field_blockNo" ng-model="applicationTxn.blockNo" />
								</div>
								<div class="col-sm-3">
									<label class="control-label" for="field_tanescoMeter">TANESCO
										Meter/LUKU No.</label> <input type="text" class="form-control"
										name="tanescoMeter" id="field_tanescoMeter"
										ng-model="applicationTxn.tanescoMeter" />
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-sm-12">
									<label class="control-label" for="field_dma">Address
										Detail</label>
									<textarea rows="2" cols="30" class="form-control" name="dma"
										id="field_dma" style="resize: none"
										ng-model="applicationTxn.dma"></textarea>
								</div>
							</div>
						</fieldset>
						<br>
						<fieldset ng-hide="true">
							<legend>Billing Address</legend>
							<div class="row">
								<div class="col-sm-4">
									<label class="control-label" for="field_bStreet">Street</label>
									<input type="text" class="form-control" name="bStreet"
										id="field_bStreet" ng-model="applicationTxn.bStreet" />
								</div>
								<div class="col-sm-4">
									<label class="control-label" for="field_ward">Ward</label> <input
										type="text" class="form-control" name="ward" id="field_ward"
										ng-model="applicationTxn.ward" />
								</div>
								<div class="col-sm-4">
									<label class="control-label" for="field_dma">DMA</label> <input
										type="text" class="form-control" name="dma" id="field_dma"
										ng-model="applicationTxn.dma" />
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-sm-4">
									<label class="control-label" for="field_bPlotNo">PlotNo</label>
									<input type="text" class="form-control" name="bPlotNo"
										id="field_bPlotNo" ng-model="applicationTxn.bPlotNo" />
								</div>
								<div class="col-sm-4">
									<label class="control-label" for="field_regiterMobile">Registered
										Mobile</label> <input type="number" class="form-control"
										name="regiterMobile" id="field_regiterMobile"
										ng-model="applicationTxn.regiterMobile" />
								</div>
							</div>
						</fieldset>
						<br>
						<fieldset>
							<legend>Documents to be Attached </legend>
							<div class="row">
								<div class="col-sm-6">
									<label for="field_idProofMaster">Any among these</label> <select
										class="form-control" id="field_idProofMaster"
										name="idProofMaster" ng-model="applicationTxn.idProofMaster"
										ng-change="disableOrg(applicationTxn.idProofMaster.id)"
										ng-options="idProofMaster as idProofMaster.idProof for idProofMaster in idProofMasters track by idProofMaster.id">
										<option value=""></option>
									</select>
								</div>
								<!-- <div class="col-sm-6">
									<label>Any among these</label>
									<div class="radio">
										<label class="radio-inline"> <input type="radio"
											name="attachedDocType" ng-value="1"
											ng-change="getDocType(applicationTxn.attachedDocType1)"
											ng-model="applicationTxn.attachedDocType1">Driving
											License
										</label> <label class="radio-inline"> <input type="radio"
											name="attachedDocType" ng-value="2"
											ng-change="getDocType(applicationTxn.attachedDocType2)"
											ng-model="applicationTxn.attachedDocType2">Voter's Id
										</label> <label class="radio-inline"> <input type="radio"
											name="attachedDocType" ng-value="3"
											ng-change="getDocType(applicationTxn.attachedDocType3)"
											ng-model="applicationTxn.attachedDocType3">Passport
										</label> <label class="radio-inline"> <input type="radio"
											name="attachedDocType" ng-value="4"
											ng-change="getDocType(applicationTxn.attachedDocType4)"
											ng-model="applicationTxn.attachedDocType4">Other Id
										</label>
									</div>
								</div> -->
								<!-- <div class="col-sm-3">
								<label class="control-label" for="field_attachedDocType">Selected
									document</label> <input type="text" class="form-control"
									name="attachedDocType" id="field_attachedDocType"
									ng-model="applicationTxn.attachedDocType" />
							</div> -->
								<div class="col-sm-3">
									<label class="control-label" for="field_idNumber">Number
										of ID</label> <input type="text" class="form-control" name="idNumber"
										id="field_idNumber" ng-model="applicationTxn.idNumber" />
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-sm-4">
									<label class="control-label" for="field_propertyDoc">Property
										Ownership Document</label> <br> <input type="checkbox"
										ng-model="applicationTxn.deedDoc"
										ng-true-value="'Tittle Deed/Offer letter'"
										ng-false-value="'Not Submitted'">&nbsp;<span>Tittle
										Deed/Offer letter </span><br> <input type="checkbox"
										ng-model="applicationTxn.agreementDoc"
										ng-true-value="'Rented Property-lease-Rent Agreement'"
										ng-false-value="'Not Submitted'">&nbsp;<span>Rented
										Property- lease-Rent Agreement </span>
								</div>
							</div>
						</fieldset>
						<br>
						<fieldset>
							<legend>Approval Details</legend>
							<div class="row">
								<div class="col-sm-3">
									<label for="field_divisionMaster">DMA</label> <select
										class="form-control" id="field_divisionMaster"
										name="divisionMaster" ng-model="applicationTxn.divisionMaster"
										ng-change="getStreet(applicationTxn.divisionMaster.id)"
										ng-options="divisionMaster as divisionMaster.divisionCode +'-'+ divisionMaster.divisionName for divisionMaster in divisionmasters track by divisionMaster.id"
										required>
										<option value=""></option>
									</select>
								</div>
								<div class="col-sm-3">
									<label for="field_streetMaster">Street</label> <select
										class="form-control" id="field_streetMaster"
										name="streetMaster" ng-model="applicationTxn.streetMaster"
										ng-options="streetMaster as streetMaster.streetNo +'-'+ streetMaster.streetName for streetMaster in streetmasters track by streetMaster.id"
										required>
										<option value=""></option>
									</select>
								</div>
								<div class="col-sm-3">
									<label for="field_user">Approved By</label> <select
										class="form-control" id="field_user" name="user"
										ng-model="applicationTxn.user"
										ng-options="user as user.login +'-'+ user.firstName+' '+user.lastName for user in users">
										<option value=""></option>
									</select>
								</div>
								<div class="col-sm-3">
									<label class="control-label" for="field_approvedDate">Approved Date</label>
									<div class="form-group">
										<div class='input-group date' id='field_approvedDate'>
											<input id="field_approvedDate" type="text"
												class="form-control" uib-datepicker-popup="{{dateformat}}"
												ng-model="applicationTxn.approvedDate" max-date="dtmax"
												is-open="datePickerForApprovedDate.status.opened" /> <span
												class="input-group-btn">
												<button type="button" class="btn btn-default"
													ng-click="datePickerForApprovedDateOpen($event)">
													<i class="glyphicon glyphicon-calendar"></i>
												</button>
											</span>
										</div>
									</div>
								</div>
							</div>
						</fieldset>


					</div>
					<div class="modal-footer">
						 <button type="button" class="btn btn-default" data-dismiss="modal"
							ng-click="clear()">
							<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
						</button>  
						<button type="submit" ng-disabled="editForm.$invalid || isSaving"
							class="btn btn-primary">
							<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Submit</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div id="saveSuccessfullyModal" class="modal fade" name="saveForm">
		<div class="modal-dialog">
			<div class="modal-content">
				<form name="confirmForm">
					<div class="modal-header">
						<!-- <h4 class="modal-title">Confirmation message</h4> -->
					</div>
					<div class="modal-body">
						<p>
						<h3>Request Submitted Successfully!</h3>
						</p>
						<div>
							<h4>
								<label>Application No.:&nbsp;&nbsp; </label>{{applicationTxn.id}}
							</h4>
						</div>
						<!-- <div>
							<label>File No.: </label>{{applicationTxn.fileNumber}}
						</div> -->
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-success" data-dismiss="modal"
							ng-click="clear()">
							<span class="glyphicon glyphicon-ok"></span>&nbsp;<span>Ok</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
