<div>
	<form name="editForm" role="form" novalidate ng-submit="save()">
		<div class="panel panel-primary">
			<div class="panel-heading clearfix">
				<h3 class="panel-title pull-left">Create A Connection</h3>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<div class="modal-body">
						<jh-alert-error></jh-alert-error>
						<fieldset>
							<legend></legend>
							<div class="row">
								<div class="col-sm-3">
									<label for="id">ID</label> <input type="text"
										class="form-control" id="id" name="id"
										ng-model="applicationTxn.id" readonly />
								</div>
								<div class="col-sm-3">
									<label class="control-label" for="field_fileNumber">File
										Number</label> <input type="text" class="form-control"
										name="fileNumber" id="field_fileNumber"
										ng-model="applicationTxn.fileNumber" />
								</div>
								<div class="col-sm-3">
									<label class="control-label" for="field_requestedDate">Requested
										Date</label>
									<div class="form-group">
										<div class='input-group date' id='field_requestedDate'>
											<input id="field_requestedDate" type="text"
												class="form-control" uib-datepicker-popup="{{dateformat}}"
												ng-model="applicationTxn.requestedDate"
												is-open="datePickerForRequestedDate.status.opened" /> <span
												class="input-group-btn">
												<button type="button" class="btn btn-default"
													ng-click="datePickerForRequestedDateOpen($event)">
													<i class="glyphicon glyphicon-calendar"></i>
												</button>
											</span>
										</div>
									</div>
								</div>
								<div class="1"></div>
								<div class="col-sm-3">
									<label class="control-label" for="field_poBox">P.O. Box</label>
									<input type="text" class="form-control" name="poBox"
										id="field_poBox" ng-model="applicationTxn.poBox" />
								</div>
							</div>
						</fieldset>
						<br>
						<fieldset>
							<legend>Applicant Details</legend>
							<div class="row">
								<div class="col-sm-8">
									<label class="control-label" for="field_fullName">Full
										Name</label> <input type="text" class="form-control" name="fullName"
										id="field_fullName" ng-model="applicationTxn.fullName" />
								</div>
								<div class="col-sm-4">
									<label class="control-label" for="field_photo">Photo</label> <input
										type="text" class="form-control" name="photo" id="field_photo"
										ng-model="applicationTxn.photo" />
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-sm-4">
									<label class="control-label" for="field_homeOrOficeNumber">Home/Ofice
										Number</label> <input type="number" class="form-control"
										name="homeOrOficeNumber" id="field_homeOrOficeNumber"
										ng-model="applicationTxn.homeOrOficeNumber" />
								</div>
								<div class="col-sm-4">
									<label class="control-label" for="field_regionalNumber">Regional
										Number</label> <input type="number" class="form-control"
										name="regionalNumber" id="field_regionalNumber"
										ng-model="applicationTxn.regionalNumber" />
								</div>
								<div class="col-sm-4">
									<label class="control-label" for="field_faxNumber">Fax
										Number</label> <input type="number" class="form-control"
										name="faxNumber" id="field_faxNumber"
										ng-model="applicationTxn.faxNumber" />
								</div>
							</div>
						</fieldset>
						<br>
						<fieldset>
							<legend>Address</legend>
							<div class="row">
								<div class="col-sm-4">
									<label class="control-label" for="field_plotNumber">Plot
										Number</label> <input type="text" class="form-control"
										name="plotNumber" id="field_plotNumber"
										ng-model="applicationTxn.plotNumber" />
								</div>
								<div class="col-sm-4">
									<label class="control-label" for="field_area">Area</label> <input
										type="text" class="form-control" name="area" id="field_area"
										ng-model="applicationTxn.area" />
								</div>
								<div class="col-sm-4">
									<label class="control-label" for="field_street">Street</label>
									<input type="text" class="form-control" name="street"
										id="field_street" ng-model="applicationTxn.street" />
								</div>
							</div>
							<br>
							<div class="row">
								<div class="col-sm-6">
									<label class="control-label" for="field_villageExecutiveOffice">Village
										Executive Office</label> <input type="text" class="form-control"
										name="villageExecutiveOffice"
										id="field_villageExecutiveOffice"
										ng-model="applicationTxn.villageExecutiveOffice" />
								</div>
								<div class="col-sm-6">
									<label class="control-label"
										for="field_villageExecutiveOfficeNumber">Village
										Executive Office Number</label> <input type="text"
										class="form-control" name="villageExecutiveOfficeNumber"
										id="field_villageExecutiveOfficeNumber"
										ng-model="applicationTxn.villageExecutiveOfficeNumber" />
								</div>
							</div>
						</fieldset>
						<br>
						<fieldset>
							<legend>Connection Type</legend>
							<div class="row">
								<div class="col-sm-3">
									<label class="control-label" for="field_house">House</label> <input
										type="text" class="form-control" name="house" id="field_house"
										ng-model="applicationTxn.house" />
								</div>
								<div class="col-sm-3">
									<label class="control-label" for="field_institution">Institution</label>
									<input type="text" class="form-control" name="institution"
										id="field_institution" ng-model="applicationTxn.institution" />
								</div>
								<div class="col-sm-3">
									<label class="control-label" for="field_business">Business</label>
									<input type="text" class="form-control" name="business"
										id="field_business" ng-model="applicationTxn.business" />
								</div>
								<div class="col-sm-3">
									<label class="control-label" for="field_industry">Industry</label>
									<input type="text" class="form-control" name="industry"
										id="field_industry" ng-model="applicationTxn.industry" />
								</div>
							</div>
						</fieldset>
						<!-- <div class="col-sm-3">
						<label class="control-label" for="field_createdDate">CreatedDate</label>
						<input id="field_createdDate" type="text" class="form-control"
							uib-datepicker-popup="{{dateformat}}"
							ng-model="applicationTxn.createdDate"
							is-open="datePickerForCreatedDate.status.opened" /> <span
							class="input-group-btn">
							<button type="button" class="btn btn-default"
								ng-click="datePickerForCreatedDateOpen($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</div>
					<div class="col-sm-3">
						<label class="control-label" for="field_updatedDate">UpdatedDate</label>
						<input id="field_updatedDate" type="text" class="form-control"
							uib-datepicker-popup="{{dateformat}}"
							ng-model="applicationTxn.updatedDate"
							is-open="datePickerForUpdatedDate.status.opened" /> <span
							class="input-group-btn">
							<button type="button" class="btn btn-default"
								ng-click="datePickerForUpdatedDateOpen($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</div>
					<div class="col-sm-3">
						<label class="control-label" for="field_status">Status</label> <input
							type="number" class="form-control" name="status"
							id="field_status" ng-model="applicationTxn.status" />
					</div> -->
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-click="clear()">
							<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
						</button>
						<button type="submit" ng-disabled="editForm.$invalid || isSaving"
							class="btn btn-primary">
							<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div id="saveSuccessfullyModal" class="modal fade" name="saveForm">
		<div class="modal-dialog">
			<div class="modal-content">
				<form name="confirmForm">
					<div class="modal-header">
						<!-- <h4 class="modal-title">Confirmation message</h4> -->
					</div>
					<div class="modal-body">
						<p>Request Submitted Successfully!</p>
						<div>
							<label>Application No.: </label>{{applicationTxn.id}}
						</div>
						<div>
							<label>File No.: </label>{{applicationTxn.fileNumber}}
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-success" data-dismiss="modal"
							ng-click="clear()">
							<span class="glyphicon glyphicon-ok"></span>&nbsp;<span>Ok</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
