<div>
	<h2>Application </h2>
	<jh-alert></jh-alert>
	<br />
	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Connection</h3>
		</div>
		<div class="list-group">
			<div class="list-group-item">
				<div class="table-responsive">
					<div class="row">
						<div class="col-md-3">
							<select class="input-sm form-control" id="statusSearch"
								ng-model="statusSearch" ng-change="onSearch()">
								<option value="" label="All">Select Status</option>
								<option value="0" label="Pending">Pending Approval</option>
								<option value="1" label="Pending Approval">Forwarded</option>
								<option value="2" label="In Feasibility">In Feasibility</option>
								<option value="3" label="In Proceedings">In Proceedings</option>
								<option value="4" label="In Receipt Generation">In
									Receipt Generation</option>
								<option value="5" label="In Stores">In Stores</option>
								<option value="6" label="Waiting for Meter">Waiting for
									Meter</option>
								<option value="7" label="CAN Generation">CAN Generation</option>
								<option value="8" label="Completed">Completed</option>
							</select>
						</div>
						<div class="col-md-3">
							<input type="text" class="input-sm form-control"
								id="applicationTxnId" placeholder="Search By Application No"
								name="applicationTxnId" ng-model="applicationTxnId"
								ng-change="onSearch()" />
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<div class='input-group date' id='field_requestedDate'>
									<input id="field_requestedDate" type="text"
										class="form-control" uib-datepicker-popup="{{dateformat}}"
										ng-model="applicationTxnDt" max-date="dtmax"
										placeholder="Search By Application Date"
										is-open="datePickerForapplicationTxnDt.status.opened"
										ng-change="onSearch()" /> <span class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="datePickerForapplicationTxnDtOpen($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<select class="input-sm form-control" id="typeSearch"
								ng-model="typeSearch" ng-change="onSearch()">
								<option value="" label="All">Select Status</option>
								<option value="0" label="Metered">Metered</option>
								<option value="1" label="Without Metered">Without
									Metered</option>
							</select>
						</div>
					</div>
					<hr>
					<table class="jh-table table table-striped">
						<thead>
							<tr jh-sort="predicate" ascending="reverse" callback="reset()">
								<th><span>S.No.</span></th>
								<th jh-sort-by="id"><span>Application No.</span> <span
									class="glyphicon glyphicon-sort"></span></th>
								<th jh-sort-by="fullName"><span>Full Name</span> <span
									class="glyphicon glyphicon-sort"></span></th>
								<th jh-sort-by="can"><span>CAN</span> <span
									class="glyphicon glyphicon-sort"></span></th>
								<th jh-sort-by="category"><span>Category</span> <span
									class="glyphicon glyphicon-sort"></span></th>
								<th jh-sort-by="area"><span>DMA</span> <span
									class="glyphicon glyphicon-sort"></span></th>
								<th jh-sort-by="status"><span>Status</span> <span
									class="glyphicon glyphicon-sort"></span></th>
								<th><span>Type</span></th>
								<th></th>
							</tr>
						</thead>
						<tbody infinite-scroll="loadPage(page + 1)"
							infinite-scroll-disabled="links['last'] == page">
							<tr
								ng-repeat="applicationTxn in applicationTxns track by applicationTxn.id">
								<td>{{$index+1}}</td>
								<td>{{applicationTxn.id}}</td>
								<td>{{applicationTxn.firstName | uppercase}}&nbsp;{{applicationTxn.middleName | uppercase}}&nbsp;{{applicationTxn.lastName | uppercase}}</td>
								<!-- <td>{{applicationTxn.middleName}}</td>
								<td>{{applicationTxn.lastName}}</td> -->
								<td>{{applicationTxn.can}}</td>
								<td>{{applicationTxn.tariffCategoryMaster.tariffCategory}}</td>
								<td>{{applicationTxn.divisionMaster.divisionName}}</td>
								<!-- <td>{{applicationTxn.status}}</td> -->
								<td><span class="label"
									ng-class="{ 'label-danger': applicationTxn.status === 0, 'label-default': applicationTxn.status === 1,
												'label-info': applicationTxn.status === 2, 'label-primary': applicationTxn.status === 3, 
												'label-warning': applicationTxn.status === 4, 'label-default': applicationTxn.status === 5, 
												'label-info': applicationTxn.status === 6,  'label-primary': applicationTxn.status === 7, 
												'label-success': applicationTxn.status === 8}">
										{{(applicationTxn.status===0?'Pending':(applicationTxn.status===1?'Approved':(applicationTxn.status===2?'Feasibility':
										(applicationTxn.status===3?'Proceedings':(applicationTxn.status===4?'Receipt':(applicationTxn.status===5?'Store':
										(applicationTxn.status===6?'Meter':(applicationTxn.status===7?'CAN':'Completed'))))))))}}</span></td>
								<td><span class="label"
									ng-class="{ 'label-success'   : applicationTxn.user == null, 'label-danger'   : applicationTxn.user !=null}">
										{{applicationTxn.user===null?'Metered':'Unmetered'}}</span></td>


								<td class="text-right">
									<div class="btn-group flex-btn-group-container">
										<button type="button"
											ng-click="goToState(applicationTxn.id, applicationTxn.user)"			
											class="btn btn-info btn-sm">
											<span class="glyphicon glyphicon-eye-open"></span>&nbsp;View <span
												class="hidden-xs hidden-sm"></span>
										</button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>