<div>
	<h2>Application :</h2>
	<jh-alert></jh-alert>
	<br />
	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Connection</h3>
		</div>
		<div class="list-group">
			<div class="list-group-item">
				<div class="table-responsive">
					<div class="row">
						<div class="col-md-4">
							<select class="input-sm form-control" id="statusSearch"
								ng-model="statusSearch" ng-change="onSearch()">
								<option value="" label="All">Select Status</option>
								<option value="0" label="Pending">Pending
									Approval</option>
								<option value="1" label="Pending Approval">Forwarded</option>
								<option value="2" label="In Feasibility">In Feasibility</option>
								<option value="3" label="In Proceedings">In Proceedings</option>
								<option value="4" label="In Receipt Generation">In
									Receipt Generation</option>
								<option value="5" label="In Stores">In Stores</option>
								<option value="6" label="Waiting for Meter">Waiting for
									Meter</option>
								<option value="7" label="CAN Generation">CAN Generation</option>
								<option value="8" label="Completed">Completed</option>
							</select>
						</div>
						<div class="col-md-4">
							<input type="text" class="input-sm form-control"
								id="applicationTxnId" placeholder="Search By Application No"
								name="applicationTxnId" ng-model="applicationTxnId"
								ng-change="onSearch()" />
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<div class='input-group date' id='field_requestedDate'>
									<input id="field_requestedDate" type="text"
										class="form-control" uib-datepicker-popup="{{dateformat}}"
										ng-model="applicationTxnDt" max-date="dtmax"
										placeholder="Search By Application Date"
										is-open="datePickerForapplicationTxnDt.status.opened"
										ng-change="onSearch()" /> <span class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="datePickerForapplicationTxnDtOpen($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</div>
							</div>
						</div>


					</div>
					<!-- <div class="row">
						<div class="col-sm-3">
							<label>Application No.</label> <input list="applicationTxn"
								type="" class="form-control" ng-model="applicationTxnId" />
							<datalist id="applicationTxn">
								<option ng-repeat="applicationTxn in applicationTxns"
									value="{{applicationTxn.id}}">
							</datalist>
						</div>
						<span> <br>
							<button type="button"
								class="btn btn-primary glyphicon glyphicon-search"
								ui-sref="applicationTxn.detail({id:applicationTxnId})"></button>
						</span>
					</div> -->
					<hr>
					<table class="jh-table table table-striped">
						<thead>
							<tr jh-sort="predicate" ascending="reverse" callback="reset()">
								<th><span>S.No.</span></th>
								<th jh-sort-by="id"><span>Application No.</span> <span
									class="glyphicon glyphicon-sort"></span></th>
								<th jh-sort-by="fullName"><span>First Name</span> <span
									class="glyphicon glyphicon-sort"></span></th>
								<th jh-sort-by="fullName"><span>Middle Name</span> <span
									class="glyphicon glyphicon-sort"></span></th>
								<th jh-sort-by="fullName"><span>Last Name</span> <span
									class="glyphicon glyphicon-sort"></span></th>
								<th jh-sort-by="category"><span>Category</span> <span
									class="glyphicon glyphicon-sort"></span></th>
								<th jh-sort-by="area"><span>DMA</span> <span
									class="glyphicon glyphicon-sort"></span></th>
								<th jh-sort-by="status"><span>Status</span> <span
									class="glyphicon glyphicon-sort"></span></th>

								<!-- <th jh-sort-by="homeOrOficeNumber"><span>HomeOrOficeNumber</span>
									<span class="glyphicon glyphicon-sort"></span></th>
								<th jh-sort-by="regionalNumber"><span>RegionalNumber</span>
									<span class="glyphicon glyphicon-sort"></span></th>
								<th jh-sort-by="faxNumber"><span>FaxNumber</span> <span
									class="glyphicon glyphicon-sort"></span></th>
								<th jh-sort-by="plotNumber"><span>PlotNumber</span> <span
									class="glyphicon glyphicon-sort"></span></th>
								
								<th jh-sort-by="street"><span>Street</span> <span
									class="glyphicon glyphicon-sort"></span></th>
								<th jh-sort-by="villageExecutiveOffice"><span>VillageExecutiveOffice</span>
									<span class="glyphicon glyphicon-sort"></span></th>
								<th jh-sort-by="villageExecutiveOfficeNumber"><span>VillageExecutiveOfficeNumber</span>
									<span class="glyphicon glyphicon-sort"></span></th>
								
								<th jh-sort-by="poBox"><span>PoBox</span> <span
									class="glyphicon glyphicon-sort"></span></th>
								<th jh-sort-by="requestedDate"><span>RequestedDate</span> <span
									class="glyphicon glyphicon-sort"></span></th>
								<th jh-sort-by="photo"><span>Photo</span> <span
									class="glyphicon glyphicon-sort"></span></th>
								<th jh-sort-by="fileNumber"><span>FileNumber</span> <span
									class="glyphicon glyphicon-sort"></span></th>
								<th jh-sort-by="createdDate"><span>CreatedDate</span> <span
									class="glyphicon glyphicon-sort"></span></th>
								<th jh-sort-by="updatedDate"><span>UpdatedDate</span> <span
									class="glyphicon glyphicon-sort"></span></th> -->

								<th></th>
							</tr>
						</thead>
						<tbody infinite-scroll="loadPage(page + 1)"
							infinite-scroll-disabled="links['last'] == page">
							<tr
								ng-repeat="applicationTxn in applicationTxns track by applicationTxn.id">
								<td>{{$index+1}}</td>
								<td>{{applicationTxn.id}}</td>
								<td>{{applicationTxn.firstName}}</td>
								<td>{{applicationTxn.middleName}}</td>
								<td>{{applicationTxn.lastName}}</td>
								<td>{{applicationTxn.tariffCategoryMaster.tariffCategory}}</td>
								<td>{{applicationTxn.divisionMaster.divisionName}}</td>
								<td>{{applicationTxn.status}}</td>

								<!-- <td>{{applicationTxn.homeOrOficeNumber}}</td>
								<td>{{applicationTxn.regionalNumber}}</td>
								<td>{{applicationTxn.faxNumber}}</td>
								<td>{{applicationTxn.plotNumber}}</td>
								<td>{{applicationTxn.street}}</td>
								<td>{{applicationTxn.villageExecutiveOffice}}</td>
								<td>{{applicationTxn.villageExecutiveOfficeNumber}}</td>
								<td>{{applicationTxn.poBox}}</td>
								<td>{{applicationTxn.requestedDate | date:'medium'}}</td>
								<td><div ng-hide="applicationTxn.photo === ''">
										<a href="{{applicationTxn.photo}}">Download</a>&nbsp;<span
											class="glyphicon glyphicon-download"></span>
									</div></td>
								<td>{{applicationTxn.fileNumber}}</td>
								<td>{{applicationTxn.createdDate | date:'medium'}}</td>
								<td>{{applicationTxn.updatedDate | date:'medium'}}</td> -->

								<td class="text-right">
									<div class="btn-group flex-btn-group-container">
										<button type="submit"
											ui-sref="applicationTxn.detail({id:applicationTxn.id})"
											class="btn btn-info btn-sm">
											<span class="glyphicon glyphicon-eye-open"></span> <span
												class="hidden-xs hidden-sm"></span>
										</button>
										<button type="submit"
											ui-sref="applicationTxn.edit({id:applicationTxn.id})"
											class="btn btn-primary btn-sm">
											<span class="glyphicon glyphicon-pencil"></span> <span
												class="hidden-xs hidden-sm"></span>
										</button>
										<button type="submit"
											ui-sref="applicationTxn.delete({id:applicationTxn.id})"
											class="btn btn-danger btn-sm">
											<span class="glyphicon glyphicon-remove-circle"></span> <span
												class="hidden-xs hidden-sm"></span>
										</button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
