<div>
	<h2>SewerageChargeMasters</h2>
	<jh-alert></jh-alert>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-4 no-padding-left">
				<button class="btn btn-primary" ui-sref="sewerageChargeMaster.new">
					<span class="glyphicon glyphicon-plus"></span> <span>Create
						new SewerageChargeMaster </span>
				</button>
			</div>
		</div>
	</div>
	<br />
	<div class="table-responsive">
		<table class="jh-table table table-striped">
			<thead>
				<tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
					<th jh-sort-by="id"><span>ID</span> <span
						class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="tariffCategoryMaster.tariffCategory"><span>Tariff
							Category Master</span> <span class="glyphicon glyphicon-sort"></span></th>
					<th jh-sort-by="amount"><span>Amount</span> <span
						class="glyphicon glyphicon-sort"></span></th>

					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr
					ng-repeat="sewerageChargeMaster in sewerageChargeMasters track by sewerageChargeMaster.id">
					<td><a
						ui-sref="sewerageChargeMaster.detail({id:sewerageChargeMaster.id})">{{sewerageChargeMaster.id}}</a></td>
					<td><a
						ui-sref="tariffCategoryMaster.detail({id:sewerageChargeMaster.tariffCategoryMaster.id})">{{sewerageChargeMaster.tariffCategoryMaster.tariffCategory}}</a>
					</td>
					<td>{{sewerageChargeMaster.amount}}</td>

					<td class="text-right">
						<div class="btn-group flex-btn-group-container">
							<button type="submit"
								ui-sref="sewerageChargeMaster.detail({id:sewerageChargeMaster.id})"
								class="btn btn-info btn-sm">
								<span class="glyphicon glyphicon-eye-open"></span> <span
									class="hidden-xs hidden-sm"></span>
							</button>
							<button type="submit"
								ui-sref="sewerageChargeMaster.edit({id:sewerageChargeMaster.id})"
								class="btn btn-primary btn-sm">
								<span class="glyphicon glyphicon-pencil"></span> <span
									class="hidden-xs hidden-sm"></span>
							</button>
							<button type="submit"
								ui-sref="sewerageChargeMaster.delete({id:sewerageChargeMaster.id})"
								class="btn btn-danger btn-sm">
								<span class="glyphicon glyphicon-remove-circle"></span> <span
									class="hidden-xs hidden-sm"></span>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<uib-pager total-items="totalItems" ng-model="page"
		ng-change="loadAll()"></uib-pager>
</div>
