<div>
	<h2>
		<span>Meter Change Case:</span> {{meterChange.id}}
	</h2>
	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Requests</h3>
		</div>
		<div class="list-group">
			<div class="table-responsive" ng-hide="applicationTxn.ststus===0">
				<table class="clickableTable table table-striped">
					<thead>
						<tr>
							<!-- <th>Req. Id</th>
							<th>Req. No.</th> -->
							<th>From</th>
							<th>Remarks</th>
							<th>Actioned Date</th>
							<th>To</th>
							<th>Status</th>
							<th>IP Address</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in requestWorkflowHistorys">
							<!-- <td>{{item.domainObject}}</td>
							<td>{{item.fileNumber}}</td> -->
							<td>{{item.assignedFrom.firstName}}
								{{item.assignedFrom.lastName}} ({{item.assignedFrom.login}})</td>
							<td>{{item.remarks}}</td>
							<td>{{item.actionedDate | date:'medium'}}</td>
							<td>{{item.assignedTo.firstName}}
								{{item.assignedTo.lastName}} ({{item.assignedTo.login}})</td>
							<td>{{item.statusMaster.status}}</td>
							<td>{{item.ipAddress}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div>
		<div class="panel panel-primary">
			<div class="panel-heading clearfix">
				<h3 class="panel-title pull-left">Application For Meter Change</h3>
				<div class="pull-right" ng-hide="true">
					<a type="button"
						href="/api/meterChanges/report/{{meterChange.id}}"
						class="pull-right btn btn-warning">Download as PDF</a>
				</div>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<fieldset>
						<legend></legend>
						<div class="row">
							<div class="col-sm-4">
								<label>Customer Account No.</label>
								<h5 class="list-group-item-heading">{{meterChange.can}}</h5>
							</div>
							<div class="col-sm-4">
								<label>Name</label>
								<h5 class="list-group-item-heading">{{meterChange.custDetails.consName}}</h5>
							</div>
							<div class="col-sm-4">
								<label>Address</label>
								<h5 class="list-group-item-heading">{{meterChange.custDetails.address}}</h5>
							</div>
						</div>
					</fieldset>
					<br>
					<fieldset>
						<legend>Change Case</legend>
						<div class="row">
							<div class="col-sm-4">
								<label>Reason For Change</label>
								<h5 class="list-group-item-heading">{{meterChange.reasonForChange}}</h5>
							</div>
							<div class="col-sm-4">
								<label>Approved Date</label>
								<h5 class="list-group-item-heading">{{meterChange.approvedDate
									| date:'mediumDate'}}</h5>
							</div>
							<div class="col-sm-4">
								<label>Approved By</label>
								<h5 class="list-group-item-heading">{{meterChange.user.firstName}}&nbsp;{{meterChange.user.lastName}}({{meterChange.user.login}})</h5>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-3">
								<label>Existing Meter Number</label>
								<h5 class="list-group-item-heading">{{meterChange.prevMeterNo.meterId}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Existing Meter Reading</label>
								<h5 class="list-group-item-heading">{{meterChange.prevMeterReading}}</h5>
							</div>
							<div class="col-sm-3">
								<label>New Meter Number</label>
								<h5 class="list-group-item-heading">{{meterChange.newMeterNo.meterId}}</h5>
							</div>
							<div class="col-sm-3">
								<label>New Meter Reading</label>
								<h5 class="list-group-item-heading">{{meterChange.newMeterReading}}</h5>
							</div>
						</div>
					</fieldset>
					<br>
					<fieldset>
						<legend></legend>
						<div class="col-sm-12">
							<label class="control-label" for="field_remarks">Remarks</label>
							<textarea rows="4" cols="50" class="form-control" name="remarks"
								id="field_remarks" max="20" ng-model="meterChange.remarks"></textarea>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
		<button type="submit" onclick="window.history.back()"
			class="btn btn-info">
			<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span>
				Back</span>
		</button>
		<button type="button" class="btn btn-success pull-right"
			ng-click="approvalMeterChange(meterChange.id, meterChange.remarks)">
			<span class="glyphicon glyphicon-check"></span>&nbsp;Approve
		</button>
	</div>
</div>
