<div>
<h1>Customer History</h1>
<div class="row">
		<div class="col-sm-4 col-md-offset-4">
			<label for="field_SearchCan">Search By CAN</label>
			<div class="form-group"
				ng-class="{ 'has-error' : editForm.field_custDetails.$invalid  && editForm.field_custDetails.$dirty}">
				<input type="text" ng-model="custInfo" typeahead-min-length="3"
					placeholder="Search CAN or Name or Address (Min 3 chars)"
					uib-typeahead="custInfo for custInfo in getLocation($viewValue)"
					typeahead-loading="loadingCANs"
					typeahead-on-select='onSelect($item, $model, $label)'
					typeahead-no-results="noResults" class="form-control">
				<i ng-show="loadingCANs" class="glyphicon glyphicon-refresh"></i>
				<div ng-show="noResults">
					<i class="glyphicon glyphicon-remove"></i>
					No CANs Found
				</div>
			</div>
		</div>
	</div>
	
		<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Customer Complaints</h3>
		</div>
		<!-- <span ng-show="customerComplaintss.length == 0"><h5>No Complaints Found</h5></span> -->
		<div class="alert-info" ng-show="customerComplaintss.length == 0">
			<strong>No Complaints Found</strong>
		</div>
		<div class="list-group"  ng-hide="customerComplaintss.length == 0">
			<div class="list-group-item">
				<div class="table-responsive">
					<table class="jh-table table table-striped">
						<thead>
							<tr jh-sort="predicate" ascending="reverse" callback="reset()">
								<th jh-sort-by="id"><span>ID</span></th>
								<th jh-sort-by="remarks"><span>Remarks</span></th>
								<th jh-sort-by="relevantDoc"><span>Relevant Document</span></th>
								<th jh-sort-by="complaintBy"><span>Complaint By</span></th>
								<th jh-sort-by="complaintDate"><span>Complaint Date</span></th>
								<th jh-sort-by="can"><span>CAN</span></th>
								<th jh-sort-by="complaintTypeMaster.complaintType"><span>Complaint Type</span></th>
								<th></th>
							</tr>
						</thead>
						<tbody infinite-scroll="loadPage(page + 1)"
							infinite-scroll-disabled="links['last'] == page">
							<tr
								ng-repeat="customerComplaints in customerComplaintss track by customerComplaints.id">
								<td>
								<a style="cursor:pointer; cursor: hand;" ng-click="getRequestTypeId(customerComplaints.id,customerComplaints.complaintTypeMaster.id)">{{customerComplaints.id}}</a></td>
								<td>{{customerComplaints.remarks}}</td>
								<td>
								<div ng-hide="customerComplaints.relevantDoc === ''">
									<a href="{{customerComplaints.relevantDoc}}">Download&nbsp;<span
										class="glyphicon glyphicon-download"></span></a>
								</div>
								</td>
								<td>{{customerComplaints.complaintBy}}</td>
								<td>{{customerComplaints.complaintDate | date:'mediumDate'}}</td>
								<td>{{customerComplaints.can}}</td>
								<td><a ui-sref="complaintTypeMaster.detail({id:customerComplaints.complaintTypeMaster.id})"
									>{{customerComplaints.complaintTypeMaster.complaintType}}</a>
								</td>
								<td class="text-right">
									<div class="btn-group flex-btn-group-container">
										<button type="submit"
											ng-click="getRequestTypeId(customerComplaints.id,customerComplaints.complaintTypeMaster.id)"
											class="btn btn-info btn-sm">
											<span class="glyphicon glyphicon-eye-open"></span> <span
												class="hidden-xs hidden-sm"></span>
										</button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	
	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Bill Details</h3>
		</div>
		<div class="alert-info" ng-show="txnList.length == 0">
			<strong>No Bills  Found</strong>
		</div>
		<div class="list-group" ng-hide="txnList.length == 0">
			<div class="list-group-item">
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr jh-sort="predicate" ascending="reverse" callback="reset()">
					<th jh-sort-by="id">
						<span>ID</span>
					</th>
					<th jh-sort-by="txn_date">
						<span>Transaction Date</span>
					</th>
					<th jh-sort-by="txn_type">
						<span>Transaction Type</span>
					</th>
					<th jh-sort-by="debit">
						<span>Debit</span>
					</th>

					<th jh-sort-by="credit">
						<span>Credit</span>
					</th>

					<th jh-sort-by="balance">
						<span>Balance</span>
					</th>
			</thead>
			<tbody infinite-scroll="loadPage(page + 1)"
				infinite-scroll-disabled="links['last'] == page">
				<tr ng-repeat="txn in txnList">
					<td>{{$index+1}}</td>
					<td>{{txn.txn_date| date:'mediumDate'}}</td>
					<td>{{txn.txn_type}}</td>
					<td>{{txn.debit}}</td>
					<td>{{txn.credit}}</td>
					<td>{{txn.balance}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	</div></div></div>
</div>