
<form name="editForm" role="form" novalidate ng-submit="save()">

    <!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCustomerComplaintsLabel">Create or edit a CustomerComplaints</h4>
    </div> -->
    <div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Complaint Request</h3>
		</div>
		<div class="list-group">
			<div class="list-group-item">
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="customerComplaints.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_remarks">Remarks</label>
            <input type="text" class="form-control" name="remarks" id="field_remarks"
                    ng-model="customerComplaints.remarks"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_relevantDoc">Relevant Document</label>
            <input type="text" class="form-control" name="relevantDoc" id="field_relevantDoc"
                    ng-model="customerComplaints.relevantDoc"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_complaintBy">Complaint By</label>
            <input type="text" class="form-control" name="complaintBy" id="field_complaintBy"
                    ng-model="customerComplaints.complaintBy"
                     />
        </div>

        <div class="form-group">
            <label for="field_applicationTxn">Customer ID</label>
            <select class="form-control" id="field_applicationTxn" name="applicationTxn" ng-model="customerComplaints.applicationTxn" ng-options="applicationTxn as applicationTxn.id for applicationTxn in applicationtxns track by applicationTxn.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_complaintTypeMaster">Complaint Type</label>
            <select class="form-control" id="field_complaintTypeMaster" name="complaintTypeMaster" ng-model="customerComplaints.complaintTypeMaster" ng-options="complaintTypeMaster as complaintTypeMaster.complaintType for complaintTypeMaster in complainttypemasters track by complaintTypeMaster.id">
                <option value=""></option>
            </select>
        </div>
		<div class="form-group">
			<label class="control-label" for="field_complaintDate">Complaint Date</label>
			<input id="field_complaintDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}"	ng-model="customerComplaints.complaintDate"	is-open="datePickerForComplaintDate.status.opened" /> 
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="datePickerForComplaintDateOpen($event)">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
			</span>
		</div>			
				</div></div></div></div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
