<style>
.typeahead-demo .custom-popup-wrapper {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	background-color: #f9f9f9;
}

.typeahead-demo .custom-popup-wrapper>.message {
	padding: 10px 20px;
	border-bottom: 1px solid #ddd;
	color: #868686;
}

.typeahead-demo .custom-popup-wrapper>.dropdown-menu {
	position: static;
	float: none;
	display: block;
	min-width: 160px;
	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
}
</style>

<form name="editForm" role="form" novalidate ng-submit="save()">

	<!-- <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="clear()">&times;</button>
    <h4 class="modal-title" id="myCustomerComplaintsLabel">Create or edit a CustomerComplaints</h4>
</div> -->
	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Complaint Request</h3>
		</div>
		<div class="list-group">
			<div class="list-group-item">
				<div class="modal-body">
					<jh-alert-error></jh-alert-error>
					<div class="row">
						<div class="col-sm-4 col-md-offset-4">
							<label for="field_applicationTxn">Search By CAN</label>

							<div class="form-group"
								ng-class="{ 'has-error' : editForm.field_custDetails.$invalid  && editForm.field_custDetails.$dirty}">

								<input type="text" ng-model="custInfo" typeahead-min-length="3"
									placeholder="Search CAN or Name or Address (Min 3 chars)"
									uib-typeahead="custInfo for custInfo in getLocation($viewValue)"
									typeahead-loading="loadingCANs"
									typeahead-on-select='onSelect($item, $model, $label)'
									typeahead-no-results="noResults" class="form-control">
								<i ng-show="loadingCANs" class="glyphicon glyphicon-refresh"></i>
								<div ng-show="noResults">
									<i class="glyphicon glyphicon-remove"></i> No CANs Found
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-md-offset-2">
							<label for="id">ID</label> <input type="text"
								class="form-control" id="id" name="id"
								ng-model="customerComplaints.id" readonly
								style="margin: 0 auto;" />
						</div>
						<div class="col-sm-4">
							<label>CAN</label> <input type="text" class="form-control"
								id="field_can" name="can"
								ng-model="customerComplaints.can"
								disabled>
						</div>
						<!-- <div class="col-sm-4">
							<label for="field_applicationTxn">Customer ID</label>
							Commented Select Box Functionality
							<select class="form-control" id="field_applicationTxn" name="applicationTxn" ng-model="customerComplaints.applicationTxn" ng-options="applicationTxn as applicationTxn.id for applicationTxn in applicationtxns track by applicationTxn.id">
      						<option value=""></option></select>
							<div class="col-sm-4">
							<div class="form-group">
								<div class='input-group date' id='field_applicationTxn'>
									<input list="applicationTxn" type="" id="field_applicationTxn"
										class="form-control"
										ng-model="customerComplaints.applicationTxn.id" />

									<datalist id="applicationTxn">
										<option ng-repeat="applicationTxn in applicationtxns"
											value="{{applicationTxn.id}}">
									</datalist>
									<span class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="getApplicationTxn(customerComplaints.applicationTxn.id)">
											<i class="glyphicon glyphicon-search"></i>
										</button>
									</span>
								</div>
							</div>
						</div> -->
					</div>
					<div class="row">
						<div class="col-md-4 col-md-offset-2">
							<label>Customer Name</label> <input type="text"
								class="form-control" id="field_consName" name="consName"
								ng-model="customerComplaints.custDetails.consName" disabled>
						</div>
						<div class="col-sm-4">
							<label>Category</label> <input type="text" class="form-control"
								id="field_categoryName" name="categoryName"
								ng-model="customerComplaints.tariffCategory"
								disabled>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-md-offset-2">
							<label>DMA</label> <input type="text" class="form-control"
								id="field_constituency" name="constituency"
								ng-model="customerComplaints.applicationTxn.constituency"
								disabled>
						</div>
						<div class="col-sm-4">
							<label>Ward</label> <input type="text" class="form-control"
								id="field_area" name="area"
								ng-model="customerComplaints.applicationTxn.area" disabled>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-md-offset-2">
							<label>Street</label> <input type="text" class="form-control"
								id="field_street" name="street"
								ng-model="customerComplaints.applicationTxn.street" disabled>
						</div>
						<div class="col-sm-4">
							<label for="field_complaintTypeMaster">Complaint Type</label>
							<select class="form-control" id="field_complaintTypeMaster"
								name="complaintTypeMaster"
								ng-model="customerComplaints.complaintTypeMaster"
								ng-options="complaintTypeMaster as complaintTypeMaster.complaintType for complaintTypeMaster in complainttypemasters track by complaintTypeMaster.id">
								<option value=""></option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-md-offset-2">
							<label class="control-label" for="field_remarks">Remarks</label>
							<input type="text" class="form-control" name="remarks"
								id="field_remarks" ng-model="customerComplaints.remarks" />
						</div>
						<!-- <div class="col-sm-4">
							<label class="control-label" for="field_relevantDoc">Relevant
								Document</label> <input type="text" class="form-control"
								name="relevantDoc" id="field_relevantDoc"
								ng-model="customerComplaints.relevantDoc" />
						</div> -->
						<div class="col-sm-2">
							<label>Relevant Document</label>
							<!-- <fieldset>
										<div ngf-drop="" ngf-select=""
											ng-model="customerComplaints.relevantDoc1" ng-model-rejected="rejFiles"
											ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
											class="drop-box" ngf-multiple="true" ngf-allow-dir="true"
											ngf-accept="'image/*,application/pdf'"
											ngf-drop-available="dropAvailable">
											<div ng-hide="dropAvailable">File Drop not available</div>
											<div ng-show="dropAvailable">Drop Files Here</div>
											<div>Click to select a file</div>
										</div>
									</fieldset>
							 -->
							<button type="submit" class="btn btn-primary" ngf-drop=""
								ngf-select="" ng-model="customerComplaints.relevantDoc1"
								ng-model-rejected="rejFiles"
								ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}"
								class="drop-box" ngf-multiple="true" ngf-allow-dir="true"
								ngf-accept="'image/*,application/pdf'"
								ngf-drop-available="dropAvailable">
								<span class="glyphicon glyphicon-open"></span>&nbsp;<span>Upload
									Relevant Document</span>
							</button>
						</div>
						<div class="col-sm-3">
							<ul style="clear: both" ng-show="rejFiles.length > 0"
								class="response">
								<li class="sel-file" ng-repeat="f in rejFiles">Rejected
									file: {{f.name}} - size: {{f.size}}B - type: {{f.type}}</li>
							</ul>
							<ul style="clear: both"
								ng-show="customerComplaints.relevantDoc1.length > 0"
								class="response">
								<li class="sel-file"
									ng-repeat="f in customerComplaints.relevantDoc1">
									<!-- <img
											ng-show="f.type.indexOf('image') > -1" ngf-src="f"
											class="thumb" ngf-accept="'*'" style="width:100px;height:125px;">  -->
									<!-- <span class="progress" ng-show="f.progress >= 0">
												<div style="width: {{f.progress">{{f.progress}}%</div>
										</span> --> <!-- <button class="button"
												ng-click="f.upload.abort();f.upload.aborted=true"
												ng-show="f.upload != null && f.progress < 100 && !f.upload.aborted">Abort
											</button> --> - {{f.name}} <a ng-show="f.result"
									href="javascript:void(0)"
									ng-click="f.showDetail = !f.showDetail">details</a> <!-- <div ng-show="f.showDetail">
												<br />

												<div data-ng-show="f.result.result == null">{{f.result}}</div>
												<ul>
													<li ng-repeat="item in f.result.result">
														<div data-ng-show="item.name">file name:
															{{item.name}}</div>
														<div data-ng-show="item.fieldName">name:
															{{item.fieldName}}</div>
														<div data-ng-show="item.size">size on the serve:
															{{item.size}}</div>
														<div data-ng-show="item.value">value: {{item.value}}</div>
													</li>
												</ul>
												<div data-ng-show="f.result.requestHeaders" class="reqh">request
													headers: {{f.result.requestHeaders}}</div>
											</div> -->
								</li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-md-offset-2">
							<label class="control-label" for="field_complaintBy">Complaint
								By</label> <input type="text" class="form-control" name="complaintBy"
								id="field_complaintBy" ng-model="customerComplaints.complaintBy" />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_complaintDate">Complaint
								Date</label>
							<div class="form-group">
								<div class='input-group date' id='field_complaintDate'>
									<input id="field_complaintDate" type="text"
										class="form-control"
										ng-click="datePickerForComplaintDateOpen($event)"
										uib-datepicker-popup="{{dateformat}}"
										ng-model="customerComplaints.complaintDate"
										is-open="datePickerForComplaintDate.status.opened" /> <span
										class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="datePickerForComplaintDateOpen($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal"
			ng-click="clear()">
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
		</button>
		<button type="submit" ng-disabled="editForm.$invalid || isSaving"
			class="btn btn-primary">
			<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
		</button>
	</div>
</form>
