
<form name="editForm" role="form" novalidate ng-submit="save()"
	show-validation>

	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Create or edit a Meter Details</h3>
		</div>
		<div class="list-group">
			<div class="list-group-item">
				<div class="modal-body">
					<jh-alert-error></jh-alert-error>
					<div class="row">
						<div class="col-sm-4">
							<label for="id">ID</label> <input type="text"
								class="form-control" id="id" name="id"
								ng-model="meterDetails.id" readonly />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_meterId">MeterId</label>
							<input type="text" class="form-control" name="meterId"
								id="field_meterId" ng-model="meterDetails.meterId" required />
							<div ng-show="editForm.meterId.$invalid">
								<p class="help-block" ng-show="editForm.meterId.$error.required">
									This field is required.</p>
							</div>
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_meterType">MeterType</label>
							<input type="text" class="form-control" name="meterType"
								id="field_meterType" ng-model="meterDetails.meterType" />
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-sm-4">
							<label class="control-label" for="field_meterMake">MeterMake</label>
							<input type="text" class="form-control" name="meterMake"
								id="field_meterMake" ng-model="meterDetails.meterMake" />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_min">Min</label> <input
								type="number" class="form-control" name="min" id="field_min"
								ng-model="meterDetails.min" />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_max">Max</label> <input
								type="number" class="form-control" name="max" id="field_max"
								ng-model="meterDetails.max" />
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-click="clear()">
							<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
						</button>
						<button type="submit" ng-disabled="editForm.$invalid || isSaving"
							class="btn btn-primary">
							<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
						</button>
					</div>
				</div>
			</div>
		</div>
</form>
