<div ng-cloak>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading clearfix">
					<h3 class="panel-title pull-left">Pending Requests</h3>
				</div>
				<span ng-show="pendingRequests.length == 0">No Pending
					Requests</span>
				<div class="table-responsive" ng-hide="pendingRequests.length == 0">
					<table class="clickableTable table table-striped">
						<thead>
							<tr>
								<th>Requisitions</th>
								<th>Count</th>
							</tr>
						</thead>
						<tbody infinite-scroll="loadPage(page + 1)"
							infinite-scroll-disabled="links['last'] == page">
							<!-- <tr ng-repeat="request in pendingRequests"
								ui-sref="request({type:'pending',action_type:request.id})"> -->
							<tr ng-repeat="request in pendingRequests"
								ng-click="getDetails(request.type)">
								<td>{{request.type}}</td>
								<td class="traligncentercss">{{request.count}}</td>
							</tr>
						</tbody>

					</table>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading clearfix">
					<h3 class="panel-title pull-left">My Requests</h3>
				</div>
				<div ng-show="myRequests.length == 0">No Requests exist.</div>
				<div class="table-responsive" ng-hide="myRequests.length == 0">
					<table class="clickableTable table table-striped">
						<thead>
							<tr>
								<th>Requisitions</th>
								<th>Count</th>
							</tr>
						</thead>
						<tbody infinite-scroll="loadPage(page + 1)"
							infinite-scroll-disabled="links['last'] == page">
							<tr ng-repeat="request in myRequests"
								ui-sref="request({type:'myRequest',action_type:request.id})">
								<td>{{request.type}}</td>
								<td class="traligncentercss">{{request.count}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading clearfix">
					<h3 class="panel-title pull-left">Requests Approved/Declined
						by me</h3>
				</div>
				<div ng-show="approvedRequests.length == 0">No Approved
					Requests</div>
				<div class="table-responsive" ng-hide="approvedRequests.length == 0">
					<table class="clickableTable table table-striped">
						<thead>
							<tr>
								<th>Requisitions</th>
								<th class="traligncentercss">Count</th>
							</tr>
						</thead>
						<tbody infinite-scroll="loadPage(page + 1)"
							infinite-scroll-disabled="links['last'] == page">
							<tr ng-repeat="request in approvedRequests"
								ui-sref="request({type:'approved',action_type:request.id})">
								<td>{{request.type}}</td>
								<td>{{request.count}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>










<!-- <div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1>Welcome, WATER ERP</h1>
            <p class="lead">This is your homepage</p>

            <div ng-switch="isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true">
                    You are logged in as user "{{account.login}}".
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    If you want to <a class="alert-link" href="#/login">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    You don't have an account yet? <a class="alert-link" href="#/register">Register a new account</a>
                </div>
            </div>

            <p>
                If you have any question on JHipster:
            </p>

            <ul>
                <li><a href="http://jhipster.github.io/" target="_blank">JHipster homepage</a></li>
                <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank">JHipster on Stack Overflow</a></li>
                <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank">JHipster bug tracker</a></li>
                <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank">JHipster public chat room</a></li>
                <li><a href="https://twitter.com/java_hipster" target="_blank" >contact @java_hipster on Twitter</a></li>
            </ul> 

            <p>
             <span>If you like JHipster, don't forget to give us a star on </span>&nbsp;<a href="https://github.com/jhipster/generator-jhipster" target="_blank">Github</a>!
            </p>
        </div>
    </div>
</div>
 -->