
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTariffChargesLabel">Create or edit a Tariff Charges</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="tariffCharges.id" readonly />
        </div>
        <div class="form-group">
            <label for="field_tariffMaster">tariff Master</label>
            <select class="form-control" id="field_tariffMaster" name="tariffMaster" ng-model="tariffCharges.tariffMaster" ng-options="tariffMaster as tariffMaster.tariffName for tariffMaster in tariffmasters track by tariffMaster.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_tariffTypeMaster">tariff Type Master</label>
            <select class="form-control" id="field_tariffTypeMaster" name="tariffTypeMaster" ng-model="tariffCharges.tariffTypeMaster" ng-options="tariffTypeMaster as tariffTypeMaster.tariffType for tariffTypeMaster in tarifftypemasters track by tariffTypeMaster.id">
                <option value=""></option>
            </select>
        </div>        
        <div class="form-group">
            <label class="control-label" for="field_tariffDesc">Tariff Description</label>
            <input type="text" class="form-control" name="tariffDesc" id="field_tariffDesc"
                    ng-model="tariffCharges.tariffDesc"
                    required />
            <div ng-show="editForm.tariffDesc.$invalid">
                <p class="help-block"
                    ng-show="editForm.tariffDesc.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_slabMin">Slab Minimum</label>
            <input type="number" class="form-control" name="slabMin" id="field_slabMin"
                    ng-model="tariffCharges.slabMin"
                    required />
            <div ng-show="editForm.slabMin.$invalid">
                <p class="help-block"
                    ng-show="editForm.slabMin.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.slabMin.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_slabMax">Slab Maximum</label>
            <input type="number" class="form-control" name="slabMax" id="field_slabMax"
                    ng-model="tariffCharges.slabMax"
                    required />
            <div ng-show="editForm.slabMax.$invalid">
                <p class="help-block"
                    ng-show="editForm.slabMax.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.slabMax.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_rate">Rate</label>
            <input type="number" class="form-control" name="rate" id="field_rate"
                    ng-model="tariffCharges.rate"
                    required />
            <div ng-show="editForm.rate.$invalid">
                <p class="help-block"
                    ng-show="editForm.rate.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.rate.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_minKL">Minimum Kiloliter </label>
            <input type="number" class="form-control" name="minKL" id="field_minKL"
                    ng-model="tariffCharges.minKL"
                    required />
            <div ng-show="editForm.minKL.$invalid">
                <p class="help-block"
                    ng-show="editForm.minKL.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.minKL.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_minUnmeteredKL">Minimum Unmetered Kiloliter</label>
            <input type="number" class="form-control" name="minUnmeteredKL" id="field_minUnmeteredKL"
                    ng-model="tariffCharges.minUnmeteredKL"
                    required />
            <div ng-show="editForm.minUnmeteredKL.$invalid">
                <p class="help-block"
                    ng-show="editForm.minUnmeteredKL.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.minUnmeteredKL.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_slabBaseCharge">SlabBaseCharge</label>
            <input type="number" class="form-control" name="slabBaseCharge" id="field_slabBaseCharge"
                    ng-model="tariffCharges.slabBaseCharge"
                    required />
            <div ng-show="editForm.slabBaseCharge.$invalid">
                <p class="help-block"
                    ng-show="editForm.slabBaseCharge.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.slabBaseCharge.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
