
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myHydrantComplaintLabel">Create or edit a HydrantComplaint</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="hydrantComplaint.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fromLeft">FromLeft</label>
            <input type="text" class="form-control" name="fromLeft" id="field_fromLeft"
                    ng-model="hydrantComplaint.fromLeft"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fromSb">FromSb</label>
            <input type="text" class="form-control" name="fromSb" id="field_fromSb"
                    ng-model="hydrantComplaint.fromSb"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_problemAt">ProblemAt</label>
            <input type="text" class="form-control" name="problemAt" id="field_problemAt"
                    ng-model="hydrantComplaint.problemAt"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_activityType">ActivityType</label>
            <input type="text" class="form-control" name="activityType" id="field_activityType"
                    ng-model="hydrantComplaint.activityType"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pressure">Pressure</label>
            <input type="text" class="form-control" name="pressure" id="field_pressure"
                    ng-model="hydrantComplaint.pressure"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pressureTime">PressureTime</label>
            <input type="number" class="form-control" name="pressureTime" id="field_pressureTime"
                    ng-model="hydrantComplaint.pressureTime"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_flow">Flow</label>
            <input type="text" class="form-control" name="flow" id="field_flow"
                    ng-model="hydrantComplaint.flow"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_flowTime">FlowTime</label>
            <input type="number" class="form-control" name="flowTime" id="field_flowTime"
                    ng-model="hydrantComplaint.flowTime"
                     />
        </div>

        <div class="form-group">
            <label for="field_waterLeakageComplaint">waterLeakageComplaint</label>
            <select class="form-control" id="field_waterLeakageComplaint" name="waterLeakageComplaint" ng-model="hydrantComplaint.waterLeakageComplaint" ng-options="waterLeakageComplaint as waterLeakageComplaint.id for waterLeakageComplaint in waterleakagecomplaints track by waterLeakageComplaint.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
