
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myBillOfMaterialLabel">Create or edit a BillOfMaterial</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="billOfMaterial.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                    ng-model="billOfMaterial.amount"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_bankName">BankName</label>
            <input type="text" class="form-control" name="bankName" id="field_bankName"
                    ng-model="billOfMaterial.bankName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_branchName">BranchName</label>
            <input type="text" class="form-control" name="branchName" id="field_branchName"
                    ng-model="billOfMaterial.branchName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_checkDate">CheckDate</label>
            <input id="field_checkDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="billOfMaterial.checkDate" is-open="datePickerForCheckDate.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForCheckDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>

        <div class="form-group">
            <label for="field_applicationTxn">applicationTxn</label>
            <select class="form-control" id="field_applicationTxn" name="applicationTxn" ng-model="billOfMaterial.applicationTxn" ng-options="applicationTxn as applicationTxn.id for applicationTxn in applicationtxns track by applicationTxn.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_paymentTypes">paymentTypes</label>
            <select class="form-control" id="field_paymentTypes" name="paymentTypes" ng-model="billOfMaterial.paymentTypes" ng-options="paymentTypes as paymentTypes.paymentMode for paymentTypes in paymenttypess track by paymentTypes.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
