
<div>
	<h2>
		<span>WaterLeakageComplaint</span> {{waterLeakageComplaint.id}}
	</h2>
	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Requests</h3>
		</div>
		<div class="list-group">
			<div class="table-responsive">
				<table class="clickableTable table table-striped">
					<thead>
						<tr>
							<th>From</th>
							<th>To</th>
							<th>Actioned Date</th>
							<th>Remarks</th>
							<th>IP Address</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in requestWorkflowHistorys">
							<td>{{item.assignedFrom.firstName}}
								{{item.assignedFrom.lastName}} ({{item.assignedFrom.login}})</td>
							<td>{{item.assignedTo.firstName}}
								{{item.assignedTo.lastName}} ({{item.assignedTo.login}})</td>
							<td>{{item.actionedDate | date:'medium'}}</td>
							<td>{{item.remarks}}</td>
							<td>{{item.ipAddress}}</td>
							<td>{{item.statusMaster.status}}</td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<br>
	<form name="editForm" novalidate>
		<div class="panel panel-primary">
			<div class="panel-heading clearfix">
				<h3 class="panel-title pull-left">Water Leakage Complaint
					Details</h3>
				<div class="pull-right" ng-hide="true">
					<a type="button" href="/api/meterChanges/report/{{meterChange.id}}"
						class="pull-right btn btn-warning">Download as PDF</a>
				</div>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<fieldset>
						<legend>Complaint Details</legend>
						<div class="row">
							<div class="col-sm-3">
								<label>LeakageType</label>
								<h5 class="list-group-item-heading">{{waterLeakageComplaint.leakageType}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Coordinate-X</label>
								<h5 class="list-group-item-heading">{{waterLeakageComplaint.coordinateX}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Coordinate-Y</label>
								<h5 class="list-group-item-heading">{{waterLeakageComplaint.coordinateY}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Leak Magnitude</label>
								<h5 class="list-group-item-heading">{{waterLeakageComplaint.leakMagnitude}}</h5>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-3">
								<label>Complaint Date & Time</label>
								<h5 class="list-group-item-heading">{{waterLeakageComplaint.complaintDateTime|
									date:'medium'}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Days Required</label>
								<h5 class="list-group-item-heading">{{waterLeakageComplaint.daysRequired}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Staff Required</label>
								<h5 class="list-group-item-heading">{{waterLeakageComplaint.staffRequired}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Complaint By</label>
								<h5 class="list-group-item-heading">{{waterLeakageComplaint.complaintBy}}</h5>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-3">
								<label>Division Name</label>
								<h5 class="list-group-item-heading">{{waterLeakageComplaint.divisionMaster.divisionName}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Street Name</label>
								<h5 class="list-group-item-heading">{{waterLeakageComplaint.streetMaster.streetName}}</h5>
							</div>
						</div>
						<br>
					</fieldset>
					<hr>
					<div>
						<div ng-if="waterLeakageComplaint.leakageType ==='BURST'">
							<fieldset>
								<legend>Leakage Type : BURST</legend>
								<div class="row">
									<div class="col-sm-3">
										<label class="control-label" for="field_meterLocation">Meter
											Location </label> <select class="form-control"
											id="field_meterLocation" name="meterLocation"
											ng-model="jobCardDTO.burstComplaint.meterLocation">
											<option value="INSIDE STAND">INSIDE STAND</option>
											<option value="BELOW GROUND">BELOW GROUND</option>
										</select>
									</div>
									<div class="col-sm-3">
										<label class="control-label" for="field_burstPipe">Burst
											Pipe </label> <select class="form-control" id="field_burstPipe"
											name="burstPipe"
											ng-model="jobCardDTO.burstComplaint.burstPipe">
											<option value="ON SIDE WALK">ON SIDE WALK</option>
											<option value="ABOVE GROUND">ABOVE GROUND</option>
										</select>
									</div>
									<div class="col-sm-3">
										<label class="control-label" for="field_fromLeft">From
											Left</label> <input type="text" class="form-control" name="fromLeft"
											id="field_fromLeft"
											ng-model="jobCardDTO.burstComplaint.fromLeft" />
									</div>
									<div class="col-sm-3">
										<label class="control-label" for="field_fromSb">From
											SB</label> <input type="text" class="form-control" name="fromSb"
											id="field_fromSb" ng-model="jobCardDTO.burstComplaint.fromSb" />
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-sm-3">
										<label class="control-label" for="field_leakMagnitude">Leakage
											Magnitude</label> <select class="form-control"
											id="field_leakMagnitude" name="leakMagnitude"
											ng-model="jobCardDTO.burstComplaint.leakMagnitude">
											<option value="LOW">LOW</option>
											<option value="MEDIUM">MEDIUM</option>
											<option value="SEVERE">SEVERE</option>
										</select>
									</div>
									<div class="col-sm-3">
										<label class="control-label" for="field_burstArea">Burst
											Area </label> <select class="form-control" id="field_burstArea"
											name="burstArea"
											ng-model="jobCardDTO.burstComplaint.burstArea">
											<option value="ROAD CROSSING">ROAD CROSSING</option>
											<option value="IN ROAD">IN ROAD</option>
											<option value="IN SIDE WALK">IN SIDE WALK</option>
											<option value="MID BLOCK">MID BLOCK</option>
										</select>
									</div>
									<div class="col-sm-3">
										<label class="control-label" for="field_pipeType">Pipe
											Type1 </label> <select class="form-control" id="field_pipeType"
											name="pipeType" ng-change="getPipe(jobCardDTO.burstComplaint.pipeType.id)"
											ng-model="jobCardDTO.burstComplaint.pipeType"
											ng-options="pipe as pipe.pipeName for pipe in pipeTypes track by pipe.id">
											<option value=""></option>
										</select>
									</div>
									<div class="col-sm-2">
										<label class="control-label" for="field_pipeType">Pipe
											Size1 </label> <select class="form-control" id="field_pipeSize"
											name="pipeSize" ng-change="assignPipe(jobCardDTO.burstComplaint.pipeSize1.size)"
											ng-model="jobCardDTO.burstComplaint.pipeSize1"
											ng-options="pipeSize as pipeSize.size for pipeSize in pipeSizes track by pipeSize.size">
											<option value=""></option>
										</select>
									</div>
									<div class="col-sm-1">
										<label class="control-label" for="field_pipeSize">Size</label>
										<input type="text" class="form-control" name="pipeSize"
											id="field_pipeSize"
											ng-model="jobCardDTO.burstComplaint.pipeSize" />
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-sm-3">
										<label class="control-label" for="field_daysRequired">Days
											Required</label> <input type="text" class="form-control"
											name="daysRequired" id="field_daysRequired"
											ng-model="jobCardDTO.burstComplaint.daysRequired" />
									</div>
									<div class="col-sm-3">
										<label class="control-label" for="field_staffRequired">Staff
											Required</label> <input type="text" class="form-control"
											name="staffRequired" id="field_staffRequired"
											ng-model="jobCardDTO.burstComplaint.staffRequired" />
									</div>
								</div>
							</fieldset>
							<br>
							<fieldset>
								<legend>Repair Type</legend>
								<div class="row">
									<div class="col-sm-3">
										<label class="control-label" for="field_replaceLength">Replace
											Length(meter) </label> <input type="text" class="form-control"
											name="replaceLength" id="field_replaceLength"
											ng-model="jobCardDTO.burstComplaint.replaceLength" />
									</div>
									<div class="col-sm-3">
										<label class="control-label" for="field_cascadeClamp">No.
											of Cascade Clamp </label> <input type="text" class="form-control"
											name="cascadeClamp" id="field_cascadeClamp"
											ng-model="jobCardDTO.burstComplaint.cascadeClamp" />
									</div>
									<div class="col-sm-2">
										<label class="control-label" for="field_noOfSections">No.
											of Sections </label> <select class="form-control"
											id="field_noOfSections" name="noOfSections"
											ng-model="jobCardDTO.burstComplaint.noOfSections">
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
										</select>
									</div>
									<div class="col-sm-2">
										<label class="control-label" for="field_noOfClamps">No.
											of Clamps </label> <select class="form-control" id="field_noOfClamps"
											name="noOfClamps"
											ng-model="jobCardDTO.burstComplaint.noOfClamps">
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
										</select>
									</div>
									<div class="col-sm-2">
										<label class="control-label" for="field_holeSize">
											Size Of Hole(Approx.) </label> <select class="form-control"
											id="field_holeSize" name="holeSize"
											ng-model="jobCardDTO.burstComplaint.holeSize">
											<option value="5">5</option>
											<option value="10">10</option>
											<option value="20">20</option>
										</select>
									</div>
								</div>
							</fieldset>
							<br>
							<fieldset>
								<legend>Material Required For Repair</legend>
								<div class="row">
									<div class="col-sm-3">
										<label for="field_materialMaster">Material Name</label>
									</div>
									<div class="col-sm-2">
										<label class="control-label" for="field_unit">Unit</label>
									</div>
									<div class="col-sm-2">
										<label class="control-label" for="field_quantity">Quantity</label>
									</div>
								</div>
								<hr>
								<fieldset
									ng-repeat="item in jobCardDTO.burstComplaint.itemRequireds track by $index">
									<div class="row">
										<div class="col-sm-3">
											<select class="form-control" id="field_materialMaster"
												name="materialMaster" ng-model="item.materialMaster"
												ng-options="materialMaster as materialMaster.materialName for materialMaster in materialmasters track by materialMaster.id">
												<option value=""></option>
											</select>
										</div>
										<div class="col-sm-2">
											<select class="form-control" id="field_uom" name="uom"
												ng-model="item.uom"
												ng-options="uom as uom.value for uom in uoms track by uom.id">
												<option value=""></option>
											</select>
										</div>
										<div class="col-sm-2">
											<input type="number" class="form-control" name="quantity"
												id="field_quantity" min="0" ng-model="item.quantity" />
										</div>
										<div class="col-sm-1">
											<button type="button" class="btn btn-danger"
												ng-click="removeItemArr($index)">
												<span class="glyphicon glyphicon-remove-circle"></span>
											</button>
										</div>
									</div>
									<br>
								</fieldset>
								<button type="button" class="btn btn-primary"
									ng-click="createItemArr()">
									<span class="glyphicon glyphicon-plus-sign"></span>&nbsp;<span>Add
										Items</span>
								</button>
							</fieldset>
						</div>

						<!-- if request is hydrant -->
						<div ng-if="waterLeakageComplaint.leakageType ==='HYDRANT'">
							<fieldset>
								<legend>Leakage Type: Hydrant</legend>
								<div class="row">
									<div class="col-sm-3">
										<label class="control-label" for="field_fromLeft">From
											Left </label> <input type="text" class="form-control" name="fromLeft"
											id="field_fromLeft" ng-model="customerComplaints.fromLeft" />
									</div>
									<div class="col-sm-3">
										<label class="control-label" for="field_fromsb">From
											SB </label> <input type="text" class="form-control" name="fromsb"
											id="field_fromsb" ng-model="customerComplaints.fromsb" />
									</div>
									<div class="col-sm-3">
										<label class="control-label" for="field_problemAt">Problem
											At </label> <select class="form-control" id="field_problemAt"
											name="problemAt" ng-model="customerComplaints.problemAt">
											<option value="ABOVE GROUND">ABOVE GROUND</option>
											<option value="BELOW GROUND">BELOW GROUND</option>
										</select>
									</div>
									<div class="col-sm-3">
										<label class="control-label" for="field_activityType">Activity
											Type </label> <select class="form-control" id="field_activityType"
											name="activityType"
											ng-model="customerComplaints.activityType">
											<option value=""></option>
											<option value="Repack Gland">Repack Gland</option>
											<option value="Tighten Gland">Tighten Gland</option>
											<option value="Reolace Hydrant">Reolace Hydrant</option>
											<option value="Rewasher Flat Washer">Rewasher Flat
												Washer</option>
											<option value="Replace Head">Replace Head</option>
											<option value="Replace Lid">Replace Lid</option>
											<option value="Closing Of Hydrant">Closing Of
												Hydrant</option>
											<option value="">Other</option>
										</select>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-3">
										<label class="control-label" for="field_pressure">Pressure
										</label> <input type="text" class="form-control" name="pressure"
											id="field_pressure" ng-model="customerComplaints.pressure" />
									</div>
									<div class="col-sm-3">
										<label class="control-label" for="field_pressureTime">Pressure
											Time </label> <input type="text" class="form-control"
											name="pressureTime" id="field_pressureTime"
											ng-model="customerComplaints.pressureTime" />
									</div>
									<div class="col-sm-3">
										<label class="control-label" for="field_flow">Flow </label> <input
											type="text" class="form-control" name="flow" id="field_flow"
											ng-model="customerComplaints.flow" />
									</div>
									<div class="col-sm-3">
										<label class="control-label" for="field_flowTime">Pressure
											Time </label> <input type="text" class="form-control" name="flowTime"
											id="field_flowTime" ng-model="customerComplaints.flowTime" />
									</div>
								</div>
							</fieldset>
						</div>
						<div ng-if="waterLeakageComplaint.leakageType ==='VALVE'">
							<fieldset>
								<legend>Request Type : VALVE</legend>
								<fieldset
									ng-repeat="valve in customerComplaints.valveRequests track by $index">
									<legend>Valve Details : {{index+1}}</legend>
									<div class="row">
										<div class="col-sm-3">
											<label class="control-label" for="field_closedTime">Closed
												Time </label> <input type="text" class="form-control input-sm"
												name="closedTime" id="field_closedTime"
												ng-model="customerComplaints.closedTime" />
										</div>
										<div class="col-sm-3">
											<label class="control-label" for="field_openTime">Open
												Time </label> <input type="text" class="form-control input-sm"
												name="openTime" id="field_openTime"
												ng-model="customerComplaints.openTime" />
										</div>
										<div class="col-sm-3">
											<label class="control-label" for="field_colourCode">Colour
												Code </label> <select class="form-control input-sm"
												id="field_colourCode" name="colourCode"
												ng-model="customerComplaints.colourCode">
												<option value="Red Closed Valve">Red Closed Valve</option>
												<option value="Yellow Scour Valve">Yellow Scour
													Valve</option>
												<option value="Blue Air Valve">Blue Air Valve</option>
											</select>
										</div>
										<div class="col-sm-3">
											<label class="control-label" for="field_side">Side </label> <select
												class="form-control input-sm" id="field_side" name="side"
												ng-model="customerComplaints.side">
												<option value="Right Hand">Right Hand</option>
												<option value="Left Hand">Left Hand</option>
											</select>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-sm-3">
											<label class="control-label" for="field_noOfTurns">No.
												Of Turns </label> <input type="text" class="form-control input-sm"
												name="noOfTurns" id="field_noOfTurns"
												ng-model="customerComplaints.noOfTurns" />
										</div>
										<div class="col-sm-3">
											<label class="control-label" for="field_valveSize">Valve
												Size </label> <input type="text" class="form-control input-sm"
												name="valveSize" id="field_valveSize"
												ng-model="customerComplaints.valveSize" />
										</div>
										<div class="col-sm-3">
											<label class="control-label" for="field_valveNo">Valve
												No. </label> <input type="text" class="form-control input-sm"
												name="valveNo" id="field_valveNo"
												ng-model="customerComplaints.valveNo" />
										</div>
										<div class="col-sm-3">
											<label class="control-label" for="field_streetNo">Street
												No. </label> <input type="text" class="form-control input-sm"
												name="streetNo" id="field_streetNo"
												ng-model="customerComplaints.streetNo" />
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-sm-3">
											<label class="control-label" for="field_streetName">Street
												Name </label> <input type="text" class="form-control input-sm"
												name="streetName" id="field_streetName"
												ng-model="customerComplaints.streetName" />
										</div>
										<div class="col-sm-3">
											<label class="control-label" for="field_repairCode">Repair
												Code </label> <select class="form-control input-sm"
												id="field_repairCode" name="repairCode"
												ng-model="customerComplaints.repairCode">
												<option value=""></option>
												<option value="Repack Gland">Repack Gland</option>
												<option value="Tighten Gland">Tighten Gland</option>
												<option value="Replace Spindle">Replace Spindle</option>
												<option value="Replace Gate">Replace Gate</option>
												<option value="Replace Valve(RSV)">Replace
													Valve(RSV)</option>
												<option value="Close/Open Valve">Close/Open Valve</option>
												<option value="Inspect Valve">Inspect Valve</option>
												<option value="Replace Lid">Replace Lid</option>
												<option value="Replace Gate Valve">Replace Gate
													Valve</option>
												<option value="Service P.R.V.">Service P.R.V.</option>
												<option value="Replace Scour Valve">Replace Scour
													Valve</option>
												<option value="Replace Interzone Valve">Replace
													Interzone Valve</option>
												<option value="">Other</option>
											</select>
										</div>
										<div class="col-sm-2">
											<label class="control-label" for="field_distanceLeft">Distance
												Left Size </label> <input type="text" class="form-control input-sm"
												name="distanceLeft" id="field_distanceLeft"
												ng-model="customerComplaints.distanceLeft" />
										</div>
										<div class="col-sm-2">
											<label class="control-label" for="field_distanceSb">Distance
												SB </label> <input type="text" class="form-control input-sm"
												name="distanceSb" id="field_distanceSb"
												ng-model="customerComplaints.distanceSb" />
										</div>
										<div class="col-sm-2">
											<label class="control-label" for="field_distanceZ">Distance
												"Z" </label> <input type="text" class="form-control input-sm"
												name="distanceZ" id="field_distanceZ"
												ng-model="customerComplaints.distanceZ" />
										</div>
									</div>
									<br>
									<div class="col-sm-1">
										<button type="button" class="btn btn-danger"
											ng-click="removeValveArr($index)">
											<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Remove</span>
										</button>
									</div>
									<br>
									<hr>
								</fieldset>
								<button type="button" class="btn btn-primary"
									ng-click="createValveArr()">
									<span class="glyphicon glyphicon-plus-sign"></span>&nbsp;<span>Add
										Valve Details</span>
								</button>
							</fieldset>
						</div>
					</div>



					<hr>
					<fieldset>
						<legend>Approval Details</legend>
						<div class="row">
							<div class="col-sm-4">
								<label class="control-label" for="field_ActionedDate">Approved
									Date</label>
								<div class="form-group">
									<div class='input-group date' id='field_approvedDate'>
										<input id="field_approvedDate" type="text"
											class="form-control" uib-datepicker-popup="{{dateformat}}"
											ng-model="jobCardDTO.approvedDate" max-date="maxDate"
											is-open="datePickerForApprovedDate.status.opened" required />
										<span class="input-group-btn">
											<button type="button" class="btn btn-default"
												ng-click="datePickerForApprovedDateOpen($event)">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</span>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<label class="control-label" for="field_remarks">Remarks</label>
								<textarea rows="1" cols="50" class="form-control" name="remarks"
									id="field_remarks" style="resize: none" max="20"
									ng-model="jobCardDTO.remarks" required></textarea>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
		<button type="button" class="btn btn-success pull-right"
			ng-click="approveRequest(jobCardDTO)">
			<span class="glyphicon glyphicon-check"></span> &nbsp;Forward
		</button>
		<span class="pull-right">&nbsp;&nbsp;&nbsp;</span>
		<button type="button" class="btn btn-danger pull-right"
			ng-disabled="isSaving" ng-click="declineRequest(jobCardDTO)">
			<span class="glyphicon glyphicon-remove-circle"></span> &nbsp;Decline
		</button>

		<button type="submit" onclick="window.history.back()"
			class="btn btn-info">
			<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span>
				Back</span>
		</button>
	</form>


</div>
