
<div>
	<h2>
		<span>Water Leakage Complaint</span> {{waterLeakageComplaint.id}}
	</h2>
	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Requests</h3>
		</div>
		<div class="list-group">
			<div class="table-responsive">
				<table class="clickableTable table table-striped">
					<thead>
						<tr>
							<th>From</th>
							<th>To</th>
							<th>Actioned Date</th>
							<th>Remarks</th>
							<th>IP Address</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in requestWorkflowHistorys">
							<td>{{item.assignedFrom.firstName}}
								{{item.assignedFrom.lastName}} ({{item.assignedFrom.login}})</td>
							<td>{{item.assignedTo.firstName}}
								{{item.assignedTo.lastName}} ({{item.assignedTo.login}})</td>
							<td>{{item.actionedDate | date:'medium'}}</td>
							<td>{{item.remarks}}</td>
							<td>{{item.ipAddress}}</td>
							<td>{{item.statusMaster.status}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<br>
	<form name="editForm" novalidate>
		<div class="panel panel-primary">
			<div class="panel-heading clearfix">
				<h3 class="panel-title pull-left">Water Leakage Complaint
					Details</h3>
				<div class="pull-right" ng-hide="true">
					<a type="button" href="/api/meterChanges/report/{{meterChange.id}}"
						class="pull-right btn btn-warning">Download as PDF</a>
				</div>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<!-- Water Leakage Complaint -->
					<fieldset>
						<legend>Complaint Details</legend>
						<div class="row">
							<div class="col-sm-3">
								<label>LeakageType</label>
								<h5 class="list-group-item-heading">{{waterLeakageComplaint.leakageType}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Coordinate-X</label>
								<h5 class="list-group-item-heading">{{waterLeakageComplaint.coordinateX}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Coordinate-Y</label>
								<h5 class="list-group-item-heading">{{waterLeakageComplaint.coordinateY}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Leak Magnitude</label>
								<h5 class="list-group-item-heading">{{waterLeakageComplaint.leakMagnitude}}</h5>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-3">
								<label>Complaint Date & Time</label>
								<h5 class="list-group-item-heading">{{waterLeakageComplaint.complaintDateTime|
									date:'medium'}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Division Name</label>
								<h5 class="list-group-item-heading">{{waterLeakageComplaint.divisionMaster.divisionName}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Street Name</label>
								<h5 class="list-group-item-heading">{{waterLeakageComplaint.streetMaster.streetName}}</h5>
							</div>

							<div class="col-sm-3">
								<label>Complaint By</label>
								<h5 class="list-group-item-heading">{{waterLeakageComplaint.complaintBy}}</h5>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-3"
								ng-show="waterLeakageComplaint.daysRequired !=null">
								<label>Days Required</label>
								<h5 class="list-group-item-heading">{{waterLeakageComplaint.daysRequired}}</h5>
							</div>
							<div class="col-sm-3"
								ng-show="waterLeakageComplaint.daysRequired !=null">
								<label>Staff Required</label>
								<h5 class="list-group-item-heading">{{waterLeakageComplaint.staffRequired}}</h5>
							</div>
						</div>
						<br>
					</fieldset>
					<hr>
					<!--All Complaint Form -->
					<div
						ng-if="orgRole.id===14 && waterLeakageComplaint.status === 'FORWARDED'">
						<!-- Burst Complaint Form Starts Here -->
						<div ng-if="waterLeakageComplaint.leakageType ==='BURST'">
							<fieldset>
								<legend>Leakage Type : BURST</legend>
								<div class="row">
									<div class="col-sm-3">
										<label class="control-label" for="field_meterLocation">Meter
											Location </label> <select class="form-control"
											id="field_meterLocation" name="meterLocation"
											ng-model="jobCardDTO.burstComplaint.meterLocation">
											<option value="INSIDE STAND">INSIDE STAND</option>
											<option value="BELOW GROUND">BELOW GROUND</option>
										</select>
									</div>
									<div class="col-sm-3">
										<label class="control-label" for="field_burstPipe">Burst
											Pipe </label> <select class="form-control" id="field_burstPipe"
											name="burstPipe"
											ng-model="jobCardDTO.burstComplaint.burstPipe">
											<option value="ON SIDE WALK">ON SIDE WALK</option>
											<option value="ABOVE GROUND">ABOVE GROUND</option>
										</select>
									</div>
									<div class="col-sm-3">
										<label class="control-label" for="field_fromLeft">From
											Left</label> <input type="text" class="form-control" name="fromLeft"
											id="field_fromLeft"
											ng-model="jobCardDTO.burstComplaint.fromLeft" />
									</div>
									<div class="col-sm-3">
										<label class="control-label" for="field_fromSb">From
											SB</label> <input type="text" class="form-control" name="fromSb"
											id="field_fromSb" ng-model="jobCardDTO.burstComplaint.fromSb" />
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-sm-3">
										<label class="control-label" for="field_leakMagnitude">Leakage
											Magnitude</label> <select class="form-control"
											id="field_leakMagnitude" name="leakMagnitude"
											ng-model="jobCardDTO.burstComplaint.leakMagnitude">
											<option value="LOW">LOW</option>
											<option value="MEDIUM">MEDIUM</option>
											<option value="SEVERE">SEVERE</option>
										</select>
									</div>
									<div class="col-sm-3">
										<label class="control-label" for="field_burstArea">Burst
											Area </label> <select class="form-control" id="field_burstArea"
											name="burstArea"
											ng-model="jobCardDTO.burstComplaint.burstArea">
											<option value="ROAD CROSSING">ROAD CROSSING</option>
											<option value="IN ROAD">IN ROAD</option>
											<option value="IN SIDE WALK">IN SIDE WALK</option>
											<option value="MID BLOCK">MID BLOCK</option>
										</select>
									</div>
									<div class="col-sm-3">
										<label class="control-label" for="field_pipeType">Pipe
											Type </label> <select class="form-control" id="field_pipeType"
											name="pipeType" ng-change="getPipe()"
											ng-model="jobCardDTO.burstComplaint.pipeType"
											ng-options="pipe.pipeName as pipe.pipeName for pipe in pipeTypes track by pipe.pipeName">
											<option value=""></option>
										</select>
									</div>
									<div class="col-sm-2">
										<label class="control-label" for="field_pipeType">Pipe
											Size </label> <select class="form-control" id="field_pipeSize"
											name="pipeSize"
											ng-change="assignPipe(jobCardDTO.burstComplaint.pipeSize1.size)"
											ng-model="jobCardDTO.burstComplaint.pipeSize1"
											ng-options="pipeSize as pipeSize.size for pipeSize in pipeSizes track by pipeSize.size">
											<option value=""></option>
										</select>
									</div>
									<div class="col-sm-1">
										<label class="control-label" for="field_pipeSize">Size</label>
										<input type="text" class="form-control" name="pipeSize"
											id="field_pipeSize"
											ng-model="jobCardDTO.burstComplaint.pipeSize" />
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-sm-3">
										<label class="control-label" for="field_daysRequired">Days
											Required</label> <input type="text" class="form-control"
											name="daysRequired" id="field_daysRequired"
											ng-model="jobCardDTO.waterLeakageComplaint.daysRequired" />
									</div>
									<div class="col-sm-3">
										<label class="control-label" for="field_staffRequired">Staff
											Required</label> <input type="text" class="form-control"
											name="staffRequired" id="field_staffRequired"
											ng-model="jobCardDTO.waterLeakageComplaint.staffRequired" />
									</div>
									<div class="col-sm-3" >
										<label class="control-label" for="field_holeSize">
											Size Of Hole(Approx.) </label> <select class="form-control"
											id="field_holeSize" name="holeSize"
											ng-model="jobCardDTO.burstComplaint.holeSize">
											<option value="5">5</option>
											<option value="10">10</option>
											<option value="20">20</option>
										</select>
									</div>
								</div>
							</fieldset>
							<!-- <br>
							<fieldset>
								<legend>Repair Type</legend>
								<div class="row">
									<div class="col-sm-3">
										<label class="control-label" for="field_replaceLength">Replace
											Length(meter) </label> <input type="text" class="form-control"
											name="replaceLength" id="field_replaceLength"
											ng-model="jobCardDTO.burstComplaint.replaceLength" />
									</div>
									<div class="col-sm-3">
										<label class="control-label" for="field_cascadeClamp">No.
											of Cascade Clamp </label> <input type="text" class="form-control"
											name="cascadeClamp" id="field_cascadeClamp"
											ng-model="jobCardDTO.burstComplaint.cascadeClamp" />
									</div>
									<div class="col-sm-2">
										<label class="control-label" for="field_noOfSection">No.
											of Sections </label> <select class="form-control"
											id="field_noOfSection" name="noOfSection"
											ng-model="jobCardDTO.burstComplaint.noOfSection">
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
										</select>
									</div>
									<div class="col-sm-2">
										<label class="control-label" for="field_noOfClamps">No.
											of Clamps </label> <select class="form-control" id="field_noOfClamps"
											name="noOfClamps"
											ng-model="jobCardDTO.burstComplaint.noOfClamps">
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
										</select>
									</div>
									<div class="col-sm-2">
										<label class="control-label" for="field_holeSize">
											Size Of Hole(Approx.) </label> <select class="form-control"
											id="field_holeSize" name="holeSize"
											ng-model="jobCardDTO.burstComplaint.holeSize">
											<option value="5">5</option>
											<option value="10">10</option>
											<option value="20">20</option>
										</select>
									</div>
								</div>
							</fieldset> -->
						</div>
						<!-- Burst Complaint Form Ended Above -->
						<!-- Valve Complaint Form Starts Below -->
						<div ng-if="waterLeakageComplaint.leakageType ==='VALVE'">
							<fieldset>
								<legend>Request Type : VALVE</legend>
								<div class="row">
									<div class="col-sm-3">
										<label class="control-label" for="field_daysRequired">Days
											Required</label> <input type="text" class="form-control"
											name="daysRequired" id="field_daysRequired"
											ng-model="jobCardDTO.waterLeakageComplaint.daysRequired" />
									</div>
									<div class="col-sm-3">
										<label class="control-label" for="field_staffRequired">Staff
											Required</label> <input type="text" class="form-control"
											name="staffRequired" id="field_staffRequired"
											ng-model="jobCardDTO.waterLeakageComplaint.staffRequired" />
									</div>
								</div>
								<br>
								<fieldset ng-repeat="item in jobCardDTO.valveComplaints">
									<legend>Valve Details : {{$index+1}}</legend>
									<div class="row">
										<!-- <div class="col-sm-2">
											<label class="control-label" for="field_closedTime">Closed
												Time </label> <input type="text" class="form-control input-sm"
												name="closedTime" id="field_closedTime"
												ng-model="item.closedTime" />
										</div> -->
										<div class="col-sm-2">
											<label class="control-label" for="field_closedTime">Closed
												Time </label>
											<div class="input-group">
												<input id="field_closedTime" type="text"
													class="form-control" name="closedTime"
													uib-datepicker-popup="{{dateformat}}"
													ng-model="item.closedTime"
													is-open="datePickerForClosedTime.status.opened" /> <span
													class="input-group-btn">
													<button type="button" class="btn btn-default"
														ng-click="datePickerForClosedTimeOpen($event)">
														<i class="glyphicon glyphicon-calendar"></i>
													</button>
												</span>
											</div>
										</div>
										<!-- <div class="col-sm-2">
											<label class="control-label" for="field_openTime">Open
												Time </label> <input type="text" class="form-control input-sm"
												name="openTime" id="field_openTime" ng-model="item.openTime" />
										</div> -->
										<div class="col-sm-2">
											<label class="control-label" for="field_openTime">Open
												Time </label>
											<div class="input-group">
												<input id="field_openTime" type="text" class="form-control"
													name="openTime" uib-datepicker-popup="{{dateformat}}"
													ng-model="item.openTime"
													is-open="datePickerForOpenTime.status.opened" /> <span
													class="input-group-btn">
													<button type="button" class="btn btn-default"
														ng-click="datePickerForOpenTimeOpen($event)">
														<i class="glyphicon glyphicon-calendar"></i>
													</button>
												</span>
											</div>
										</div>
										<div class="col-sm-2">
											<label class="control-label" for="field_colourCode">Colour
												Code </label> <select class="form-control input-sm"
												id="field_colourCode" name="colourCode"
												ng-model="item.colourCode">
												<option value="Red Closed Valve">Red Closed Valve</option>
												<option value="Yellow Scour Valve">Yellow Scour
													Valve</option>
												<option value="Blue Air Valve">Blue Air Valve</option>
											</select>
										</div>
										<div class="col-sm-2">
											<label class="control-label" for="field_side">Side </label> <select
												class="form-control input-sm" id="field_side" name="side"
												ng-model="item.side">
												<option value="Right Hand">Right Hand</option>
												<option value="Left Hand">Left Hand</option>
											</select>
										</div>
										<div class="col-sm-2">
											<label class="control-label" for="field_noOfTurns">No.
												Of Turns </label> <input type="text" class="form-control input-sm"
												name="noOfTurns" id="field_noOfTurns"
												ng-model="item.noOfTurns" />
										</div>
										<div class="col-sm-2">
											<label class="control-label" for="field_valveSize">Valve
												Size </label> <input type="text" class="form-control input-sm"
												name="valveSize" id="field_valveSize"
												ng-model="item.valveSize" />
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-sm-2">
											<label class="control-label" for="field_valveNo">Valve
												No. </label> <input type="text" class="form-control input-sm"
												name="valveNo" id="field_valveNo" ng-model="item.valveNo" />
										</div>


										<div class="col-sm-2">
											<label class="control-label" for="field_distanceLeft">Distance
												Left Size </label> <input type="text" class="form-control input-sm"
												name="distanceLeft" id="field_distanceLeft"
												ng-model="item.distanceLeft" />
										</div>
										<div class="col-sm-2">
											<label class="control-label" for="field_distanceSb">Distance
												SB </label> <input type="text" class="form-control input-sm"
												name="distanceSb" id="field_distanceSb"
												ng-model="item.distanceSb" />
										</div>
										<div class="col-sm-2">
											<label class="control-label" for="field_distanceZ">Distance
												"Z" </label> <input type="text" class="form-control input-sm"
												name="distanceZ" id="field_distanceZ"
												ng-model="item.distanceZ" />
										</div>
										<div class="col-sm-2">
											<label class="control-label" for="field_repairCode">Repair
												Code </label> <select class="form-control input-sm"
												id="field_repairCode" name="repairCode"
												ng-model="item.repairCode">
												<option value=""></option>
												<option value="Repack Gland">Repack Gland</option>
												<option value="Tighten Gland">Tighten Gland</option>
												<option value="Replace Spindle">Replace Spindle</option>
												<option value="Replace Gate">Replace Gate</option>
												<option value="Replace Valve(RSV)">Replace
													Valve(RSV)</option>
												<option value="Close/Open Valve">Close/Open Valve</option>
												<option value="Inspect Valve">Inspect Valve</option>
												<option value="Replace Lid">Replace Lid</option>
												<option value="Replace Gate Valve">Replace Gate
													Valve</option>
												<option value="Service P.R.V.">Service P.R.V.</option>
												<option value="Replace Scour Valve">Replace Scour
													Valve</option>
												<option value="Replace Interzone Valve">Replace
													Interzone Valve</option>
												<option value="">Other</option>
											</select>
										</div>
										<div class="col-sm-1">
											<label>Remove </label>
											<button type="button" class="btn btn-danger"
												ng-click="removeValveArr($index)">
												<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span>Remove</span>
											</button>
										</div>
									</div>
									<br>
									<hr>
								</fieldset>
								<button type="button" class="btn btn-primary"
									ng-click="createValveArr()">
									<span class="glyphicon glyphicon-plus-sign"></span>&nbsp;<span>Add
										Valve Details</span>
								</button>
							</fieldset>
						</div>
						<!-- Valve Complaint Form Ended Above -->
						<!-- Hydrant Complaint Form Starts Below -->
						<div ng-if="waterLeakageComplaint.leakageType ==='HYDRANT'">
							<fieldset>
								<legend>Leakage Type: Hydrant</legend>
								<div class="row">
									<div class="col-sm-3">
										<label class="control-label" for="field_fromLeft">From
											Left </label> <input type="text" class="form-control" name="fromLeft"
											id="field_fromLeft"
											ng-model="jobCardDTO.hydrantComplaint.fromLeft" />
									</div>
									<div class="col-sm-3">
										<label class="control-label" for="field_fromSb">From
											SB </label> <input type="text" class="form-control" name="fromSb"
											id="field_fromSb"
											ng-model="jobCardDTO.hydrantComplaint.fromSb" />
									</div>
									<div class="col-sm-3">
										<label class="control-label" for="field_problemAt">Problem
											At </label> <select class="form-control" id="field_problemAt"
											name="problemAt"
											ng-model="jobCardDTO.hydrantComplaint.problemAt">
											<option value="ABOVE GROUND">ABOVE GROUND</option>
											<option value="BELOW GROUND">BELOW GROUND</option>
										</select>
									</div>
									<div class="col-sm-3">
										<label class="control-label" for="field_activityType">Activity
											Type </label> <select class="form-control" id="field_activityType"
											name="activityType"
											ng-model="jobCardDTO.hydrantComplaint.activityType">
											<option value=""></option>
											<option value="Repack Gland">Repack Gland</option>
											<option value="Tighten Gland">Tighten Gland</option>
											<option value="Reolace Hydrant">Reolace Hydrant</option>
											<option value="Rewasher Flat Washer">Rewasher Flat
												Washer</option>
											<option value="Replace Head">Replace Head</option>
											<option value="Replace Lid">Replace Lid</option>
											<option value="Closing Of Hydrant">Closing Of
												Hydrant</option>
											<option value="">Other</option>
										</select>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-sm-3">
										<label class="control-label" for="field_pressure">Pressure
										</label> <input type="text" class="form-control" name="pressure"
											id="field_pressure"
											ng-model="jobCardDTO.hydrantComplaint.pressure" />
									</div>
									<div class="col-sm-3">
										<label class="control-label" for="field_pressureTime">Pressure
											Time </label> <input type="text" class="form-control"
											name="pressureTime" id="field_pressureTime"
											ng-model="jobCardDTO.hydrantComplaint.pressureTime" />
									</div>
									<div class="col-sm-3">
										<label class="control-label" for="field_flow">Flow </label> <input
											type="text" class="form-control" name="flow" id="field_flow"
											ng-model="jobCardDTO.hydrantComplaint.flow" />
									</div>
									<div class="col-sm-3">
										<label class="control-label" for="field_flowTime">Flow
											Time </label> <input type="text" class="form-control" name="flowTime"
											id="field_flowTime"
											ng-model="jobCardDTO.hydrantComplaint.flowTime" />
									</div>
								</div>
								<br>
								<div class="row">
									<div class="col-sm-3">
										<label class="control-label" for="field_daysRequired">Days
											Required</label> <input type="text" class="form-control"
											name="daysRequired" id="field_daysRequired"
											ng-model="jobCardDTO.waterLeakageComplaint.daysRequired" />
									</div>
									<div class="col-sm-3">
										<label class="control-label" for="field_staffRequired">Staff
											Required</label> <input type="text" class="form-control"
											name="staffRequired" id="field_staffRequired"
											ng-model="jobCardDTO.waterLeakageComplaint.staffRequired" />
									</div>
								</div>
							</fieldset>
						</div>
						<!-- Hyderant Complaint Form Ended Above -->
						<br>
						<!-- JobCardItemRequirement Form Starts Below -->
						<fieldset>
							<legend>
								<input type="checkbox" ng-click="itemLength()"
									ng-model="jobCardDTO.itemRequired"> Material Required
								For Repair
							</legend>
							<div ng-if="jobCardDTO.itemRequired">
								<div class="row">
									<div class="col-sm-2">
										<label for="field_materialMaster">Material Name</label>
									</div>
									<div class="col-sm-2">
										<label class="control-label" for="field_unit">Unit</label>
									</div>
									<div class="col-sm-2">
										<label class="control-label" for="field_quantity">Quantity</label>
									</div>
									<div class="col-sm-2">
										<label class="control-label" for="field_replaceLength">Replace
											Length</label>
									</div>
									<div class="col-sm-1">
										<label class="control-label" for="field_cascadeClamp">No.
											of Cascade Clamp </label>
									</div>
									<div class="col-sm-1">
										<label class="control-label" for="field_noOfSection">No.
											of Sections </label>
									</div>
									<div class="col-sm-1">
										<label class="control-label" for="field_noOfClamps">No.
											of Clamps </label>
									</div>
								</div>
								<hr>
								<div>
									<fieldset
										ng-repeat="item in jobCardDTO.jobCardItemRequirements">
										<div class="row">
											<div class="col-sm-2">
												<select class="form-control" id="field_materialMaster"
													name="materialMaster" ng-model="item.materialMaster"
													ng-options="materialMaster as materialMaster.materialName for materialMaster in materialmasters track by materialMaster.id">
													<option value=""></option>
												</select>
											</div>
											<div class="col-sm-2">
												<select class="form-control" id="field_uom" name="uom"
													ng-model="item.uom"
													ng-options="uom as uom.value for uom in uoms track by uom.id">
													<option value=""></option>
												</select>
											</div>
											<div class="col-sm-2">
												<input type="number" class="form-control" name="quantity"
													id="field_quantity" min="0" ng-model="item.quantity" />
											</div>
											<div class="col-sm-2">
												<input type="text" class="form-control" name="replaceLength"
													id="field_replaceLength"
													ng-model="item.replaceLength" />
											</div>
											<div class="col-sm-1">
												<input type="text" class="form-control" name="cascadeClamp"
													id="field_cascadeClamp"
													ng-model="item.cascadeClamp" />
											</div>
											<div class="col-sm-1">
												<select class="form-control" id="field_noOfSection"
													name="noOfSection"
													ng-model="item.noOfSection">
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
												</select>
											</div>
											<div class="col-sm-1">
												<select class="form-control" id="field_noOfClamps"
													name="noOfClamps"
													ng-model="item.noOfClamps">
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
												</select>
											</div>
											<div class="col-sm-1">
												<button type="button" class="btn btn-danger"
													ng-click="removeItemArr($index)">
													<span class="glyphicon glyphicon-remove-circle"></span>
												</button>
											</div>
										</div>
										<br>
									</fieldset>
								</div>
								<button type="button" class="btn btn-primary"
									ng-click="createItemArr()">
									<span class="glyphicon glyphicon-plus-sign"></span>&nbsp;<span>Add
										Items</span>
								</button>
							</div>
						</fieldset>
						<!-- jobCardItemRequirement Ended Above -->
					</div>
					<!-- Display Burst Complaint Value -->
					<fieldset ng-if="burstComplaint.id != null">
						<legend>Burst Details</legend>
						<div class="row">
							<div class="col-sm-3">
								<label>Meter Location</label>
								<h5 class="list-group-item-heading">{{burstComplaint.meterLocation}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Burst Pipe</label>
								<h5 class="list-group-item-heading">{{burstComplaint.burstPipe}}</h5>
							</div>
							<div class="col-sm-3">
								<label>From Left</label>
								<h5 class="list-group-item-heading">{{burstComplaint.fromLeft}}</h5>
							</div>
							<div class="col-sm-3">
								<label>From Sb</label>
								<h5 class="list-group-item-heading">{{burstComplaint.fromSb}}</h5>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-3">
								<label>Burst Area</label>
								<h5 class="list-group-item-heading">{{burstComplaint.burstArea}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Pipe Type</label>
								<h5 class="list-group-item-heading">{{burstComplaint.pipeType}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Pipe Size</label>
								<h5 class="list-group-item-heading">{{burstComplaint.pipeSize}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Hole Size</label>
								<h5 class="list-group-item-heading">{{burstComplaint.holeSize}}</h5>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<label>Repair Code</label>
								<h5 class="list-group-item-heading">{{burstComplaint.repairCode}}</h5>
							</div>
						</div>
					</fieldset>
					<!-- Display Valve Complaints Values -->
					<fieldset ng-if="valveComplaints.length >0">
						<legend>Valve Details</legend>
						<div ng-repeat="valveComplaint in valveComplaints track by $index">
							<fieldset>
								<legend>Valve No.:{{$index+1}}</legend>
								<div class="row">
									<div class="col-sm-2">
										<label>Closed Time</label>
										<h5 class="list-group-item-heading">{{valveComplaint.closedTime
											| date:'medium'}}</h5>
									</div>
									<div class="col-sm-2">
										<label>Open Time</label>
										<h5 class="list-group-item-heading">{{valveComplaint.openTime
											| date:'medium'}}</h5>
									</div>
									<div class="col-sm-2">
										<label>Colour Code</label>
										<h5 class="list-group-item-heading">{{valveComplaint.colourCode}}</h5>
									</div>
									<div class="col-sm-2">
										<label>Side</label>
										<h5 class="list-group-item-heading">{{valveComplaint.side}}</h5>
									</div>
									<div class="col-sm-2">
										<label>No Of Turns</label>
										<h5 class="list-group-item-heading">{{valveComplaint.noOfTurns}}</h5>
									</div>
									<div class="col-sm-2">
										<label>Valve Size</label>
										<h5 class="list-group-item-heading">{{valveComplaint.valveSize}}</h5>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-2">
										<label>Valve No</label>
										<h5 class="list-group-item-heading">{{valveComplaint.valveNo}}</h5>
									</div>
									<div class="col-sm-2">
										<label>Repair Code</label>
										<h5 class="list-group-item-heading">{{valveComplaint.repairCode}}</h5>
									</div>
									<div class="col-sm-2">
										<label>Distance Left</label>
										<h5 class="list-group-item-heading">{{valveComplaint.distanceLeft}}</h5>
									</div>
									<div class="col-sm-2">
										<label>Distance Sb</label>
										<h5 class="list-group-item-heading">{{valveComplaint.distanceSb}}</h5>
									</div>
									<div class="col-sm-2">
										<label>Distance Z</label>
										<h5 class="list-group-item-heading">{{valveComplaint.distanceZ}}</h5>
									</div>
								</div>
							</fieldset>
						</div>
					</fieldset>
					<!-- Display Hydrant Complaint Values -->
					<fieldset ng-if="hydrantComplaint.id != null">
						<legend>Hydrant Details</legend>
						<div class="row">
							<div class="col-sm-3">
								<label>From Left</label>
								<h5 class="list-group-item-heading">{{hydrantComplaint.fromLeft}}</h5>
							</div>
							<div class="col-sm-3">
								<label>From Sb</label>
								<h5 class="list-group-item-heading">{{hydrantComplaint.fromSb}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Problem At</label>
								<h5 class="list-group-item-heading">{{hydrantComplaint.problemAt}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Activity Type</label>
								<h5 class="list-group-item-heading">{{hydrantComplaint.activityType}}</h5>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-3">
								<label>Pressure</label>
								<h5 class="list-group-item-heading">{{hydrantComplaint.pressure}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Pressure Time</label>
								<h5 class="list-group-item-heading">{{hydrantComplaint.pressureTime}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Flow</label>
								<h5 class="list-group-item-heading">{{hydrantComplaint.flow}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Flow Time</label>
								<h5 class="list-group-item-heading">{{hydrantComplaint.flowTime}}</h5>
							</div>
						</div>
					</fieldset>

					<!-- Display JobCardItemRequirement Values -->
					<fieldset
						ng-if="waterLeakageComplaint.jobCardItemRequirements.length >0">
						<legend>Items Required</legend>
						<div class="row">
							<div class="col-sm-2">
								<label>Material</label>
							</div>
							<div class="col-sm-2">
								<label>Unit</label>
							</div>
							<div class="col-sm-2">
								<label>Quantity</label>
							</div>
							<div class="col-sm-2">
								<label>Replace Length</label>
							</div>
							<div class="col-sm-2">
								<label>Cascade Clamp</label>
							</div>
							<div class="col-sm-1">
								<label>No. Of Section</label>
							</div>
							<div class="col-sm-1">
								<label>No Of Clamps</label>
							</div>
						</div>
						<div class="row"
							ng-repeat="jobCardItemRequirement in waterLeakageComplaint.jobCardItemRequirements track by $index">
							<div class="col-sm-2">
								<h5 class="list-group-item-heading">{{jobCardItemRequirement.materialMaster.materialName}}</h5>
							</div>
							<div class="col-sm-2">
								<h5 class="list-group-item-heading">{{jobCardItemRequirement.uom.value}}</h5>
							</div>
							<div class="col-sm-2">
								<h5 class="list-group-item-heading">{{jobCardItemRequirement.quantity}}</h5>
							</div>
							<div class="col-sm-2">
								<h5 class="list-group-item-heading">{{jobCardItemRequirement.replaceLength}}</h5>
							</div>
							<div class="col-sm-2">
								<h5 class="list-group-item-heading">{{jobCardItemRequirement.cascadeClamp}}</h5>
							</div>
							<div class="col-sm-1">
								<h5 class="list-group-item-heading">{{jobCardItemRequirement.noOfSection}}</h5>
							</div>
							<div class="col-sm-1">
								<h5 class="list-group-item-heading">{{jobCardItemRequirement.noOfClamps}}</h5>
							</div>
						</div>
					</fieldset>
					<br>
					<!-- JobCardSiteStatus Form starts below -->
					<fieldset
						ng-if="waterLeakageComplaint.status==='APPROVED' && orgRole.id===14">
						<legend>Site Status</legend>
						<div class="row">
							<div class="col-sm-3">
								<label class="control-label" for="field_tarPatching">Tar
									Patching</label> <input type="text" class="form-control"
									name="tarPatching" id="field_tarPatching"
									ng-model="jobCardDTO.jobCardSiteStatus.tarPatching" />
							</div>
							<div class="col-sm-3">
								<label class="control-label" for="field_tarPatchingLength">Tar
									Patching Length</label> <input type="text" class="form-control"
									name="tarPatchingLength" id="field_tarPatchingLength"
									ng-model="jobCardDTO.jobCardSiteStatus.tarPatchingLength" />
							</div>
							<div class="col-sm-3">
								<label class="control-label" for="field_tarPatchingBreadth">Tar
									Patching Breadth</label> <input type="text" class="form-control"
									name="tarPatchingBreadth" id="field_tarPatchingBreadth"
									ng-model="jobCardDTO.jobCardSiteStatus.tarPatchingBreadth" />
							</div>
							<div class="col-sm-3">
								<label class="control-label" for="field_cleanSite">Clean
									Site</label> <input type="text" class="form-control" name="cleanSite"
									id="field_cleanSite"
									ng-model="jobCardDTO.jobCardSiteStatus.cleanSite" />
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<label class="control-label" for="field_backFill">Back
									Fill</label> <input type="text" class="form-control" name="backFill"
									id="field_backFill"
									ng-model="jobCardDTO.jobCardSiteStatus.backFill" />
							</div>
							<div class="col-sm-3">
								<label class="control-label" for="field_backFillLength">Back
									Fill Length</label> <input type="text" class="form-control"
									name="backFillLength" id="field_backFillLength"
									ng-model="jobCardDTO.jobCardSiteStatus.backFillLength" />
							</div>
							<div class="col-sm-3">
								<label class="control-label" for="field_backFillBreadth">Back
									Fill Breadth</label> <input type="text" class="form-control"
									name="backFillBreadth" id="field_backFillBreadth"
									ng-model="jobCardDTO.jobCardSiteStatus.backFillBreadth" />
							</div>
							<div class="col-sm-3">
								<label class="control-label" for="field_brickLayer">Brick
									Layer</label> <input type="text" class="form-control" name="brickLayer"
									id="field_brickLayer"
									ng-model="jobCardDTO.jobCardSiteStatus.brickLayer" />
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<label class="control-label" for="field_paving">Paving</label> <input
									type="text" class="form-control" name="paving"
									id="field_paving"
									ng-model="jobCardDTO.jobCardSiteStatus.paving" />
							</div>
							<div class="col-sm-3">
								<label class="control-label" for="field_pavingLength">Paving
									Length</label> <input type="text" class="form-control"
									name="pavingLength" id="field_pavingLength"
									ng-model="jobCardDTO.jobCardSiteStatus.pavingLength" />
							</div>
							<div class="col-sm-3">
								<label class="control-label" for="field_pavingBreadth">Paving
									Breadth</label> <input type="text" class="form-control"
									name="pavingBreadth" id="field_pavingBreadth"
									ng-model="jobCardDTO.jobCardSiteStatus.pavingBreadth" />

							</div>
							<div class="col-sm-3">
								<label class="control-label" for="field_unableToLocate">Unable
									To Locate</label> <input type="text" class="form-control"
									name="unableToLocate" id="field_unableToLocate"
									ng-model="jobCardDTO.jobCardSiteStatus.unableToLocate" />
							</div>
						</div>
					</fieldset>
					<!-- JobCardSiteStatus Ended Above -->
					<!-- Display JobCardSiteStatus Values -->
					<fieldset ng-if="waterLeakageComplaint.status==='COMPLETED'">
						<legend>Site Status</legend>
						<div class="row">
							<div class="col-sm-3">
								<label>Tar Patching</label>
								<h5 class="list-group-item-heading">{{jobCardSiteStatus.tarPatching}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Tar Patching Length</label>
								<h5 class="list-group-item-heading">{{jobCardSiteStatus.tarPatchingLength}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Tar Patching Breadth</label>
								<h5 class="list-group-item-heading">{{jobCardSiteStatus.tarPatchingBreadth}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Clean Site</label>
								<h5 class="list-group-item-heading">{{jobCardSiteStatus.cleanSite}}</h5>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<label>Back Fill</label>
								<h5 class="list-group-item-heading">{{jobCardSiteStatus.backFill}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Back Fill Length</label>
								<h5 class="list-group-item-heading">{{jobCardSiteStatus.backFillLength}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Back Fill Breadth</label>
								<h5 class="list-group-item-heading">{{jobCardSiteStatus.backFillBreadth}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Brick Layer</label>
								<h5 class="list-group-item-heading">{{jobCardSiteStatus.brickLayer}}</h5>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<label>Paving</label>
								<h5 class="list-group-item-heading">{{jobCardSiteStatus.paving}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Paving Length</label>
								<h5 class="list-group-item-heading">{{jobCardSiteStatus.pavingLength}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Paving Breadth</label>
								<h5 class="list-group-item-heading">{{jobCardSiteStatus.pavingBreadth}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Unable To Locate</label>
								<h5 class="list-group-item-heading">{{jobCardSiteStatus.unableToLocate}}</h5>
							</div>
						</div>
					</fieldset>
					<fieldset ng-show="user.login === requestAt && requestStatus === 3">
						<legend>Approval Details</legend>
						<div class="row">
							<div class="col-sm-4">
								<label class="control-label" for="field_ActionedDate">Approved
									Date</label>
								<div class="form-group">
									<div class='input-group date' id='field_approvedDate'>
										<input id="field_approvedDate" type="text"
											class="form-control" uib-datepicker-popup="{{dateformat}}"
											ng-model="jobCardDTO.approvedDate" max-date="maxDate"
											is-open="datePickerForApprovedDate.status.opened" required />
										<span class="input-group-btn">
											<button type="button" class="btn btn-default"
												ng-click="datePickerForApprovedDateOpen($event)">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</span>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<label class="control-label" for="field_remarks">Remarks</label>
								<textarea rows="1" cols="50" class="form-control" name="remarks"
									id="field_remarks" style="resize: none" max="20"
									ng-model="jobCardDTO.remarks" required></textarea>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
		<button type="button" class="btn btn-success pull-right"
			ng-click="forwardRequest()"
			ng-show="user.login === requestAt  && requestStatus === 3">
			<span class="glyphicon glyphicon-check"></span> &nbsp;Approve
		</button>
		<!-- <button type="button" class="btn btn-success pull-right"
			ng-show="waterLeakageComplaint.status ==='FORWARDED'"
			ng-click="approveRequest()">
			<span class="glyphicon glyphicon-check"></span> &nbsp;Approve
		</button> -->
		<span class="pull-right">&nbsp;&nbsp;&nbsp;</span>
		<button type="button" class="btn btn-danger pull-right"
			ng-click="declineRequest()"
			ng-show="user.login === requestAt  && requestStatus === 3">
			<span class="glyphicon glyphicon-remove-circle"></span> &nbsp;Decline
		</button>

		<button type="submit" onclick="window.history.back()"
			class="btn btn-info">
			<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span>
				Back</span>
		</button>
	</form>
</div>
