<div>
	<jh-alert></jh-alert>
	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Customer Details</h3>
		</div>
		<div class="list-group">
			<div class="list-group-item">
				<hr>
				<div class="row">
					<div class="col-sm-4">
						<label for="field_divisionMaster">DMA</label> <select
							class="form-control" id="field_divisionMaster"
							name="divisionMaster" ng-model="custDetails.divisionMaster"
							ng-options="divisionMaster as divisionMaster.divisionCode +'-'+ divisionMaster.divisionName for divisionMaster in divisionmasters track by divisionMaster.id"
							required>
						</select>
					</div>

					<div class="col-sm-4">
						<label for="field_tariffCategoryMaster">Connection
							Category</label> <select class="form-control"
							id="field_tariffCategoryMaster" name="tariffCategoryMaster"
							ng-model="custDetails.tariffCategoryMaster"
							ng-options="tariffCategoryMaster as tariffCategoryMaster.tariffCategory for tariffCategoryMaster in tariffcategorymasters track by tariffCategoryMaster.id"
							required>
						</select>
					</div>
					<div class="col-sm-2">
						<label>Click</label> <a type="button"
							href="/api/custDetailss/report/{{custDetails.divisionMaster.id}}/{{custDetails.tariffCategoryMaster.id}}"
							class="pull-right btn btn-warning"
							ng-if="custDetails.betweenDates===false">Download as PDF</a> <a href
							type="button"
							ng-click="getReport()"
							class="pull-right btn btn-warning"
							ng-if="custDetails.betweenDates===true">Download as PDF</a>
					</div>

				</div>
				<br>
				<div class="row">
					<div class="col-sm-8">

						<label class="control-label" for="field_organization"> <input
							type="checkbox" ng-model="custDetails.betweenDates" ng-value="true">&nbsp;&nbsp;<span>Get Collection Report between dates:</span>
					</div>
				</div>
				<br>
				<div class="row">

					<div class="col-sm-4">
						<label class="control-label" for="fromdate">From Date</label>
						<div class="form-group">
							<div class='input-group date' id='fromdate'>
								<input id="fromdate" type="text" class="form-control"
									uib-datepicker-popup="{{dateformat}}"
									ng-model="custDetails.fromdate"
									is-open="datePickerForfromdate.status.opened"
									ng-disabled="custDetails.betweenDates===false" /> <span
									class="input-group-btn">
									<button type="button" class="btn btn-default"
										id='fromdateDtBtn'
										ng-click="datePickerForfromdateOpen($event)"
										ng-disabled="custDetails.betweenDates===false">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
					

					<div class="col-sm-4">
						<label class="control-label" for="todate">To Date</label>
						<div class="form-group">
							<div class='input-group date' id='todate'>
								<input id="todate" type="text" class="form-control"
									uib-datepicker-popup="{{dateformat}}"
									ng-model="custDetails.todate"
									is-open="datePickerFortodate.status.opened"
									ng-disabled="custDetails.betweenDates===false" /> <span
									class="input-group-btn">
									<button type="button" class="btn btn-default" id='todateDtBtn'
										ng-click="datePickerFortodateOpen($event)"
										ng-disabled="custDetails.betweenDates===false">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<hr>
			</div>
		</div>
	</div>
</div>
