
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myEmpRoleMappingLabel">Create or edit a EmpRoleMapping</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="empRoleMapping.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_internalDivision">InternalDivision</label>
            <input type="text" class="form-control" name="internalDivision" id="field_internalDivision"
                    ng-model="empRoleMapping.internalDivision"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_internalRole">InternalRole</label>
            <input type="text" class="form-control" name="internalRole" id="field_internalRole"
                    ng-model="empRoleMapping.internalRole"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_creationDate">CreationDate</label>
            <input id="field_creationDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="empRoleMapping.creationDate" is-open="datePickerForCreationDate.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForCreationDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_lastModifiedDate">LastModifiedDate</label>
            <input id="field_lastModifiedDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="empRoleMapping.lastModifiedDate" is-open="datePickerForLastModifiedDate.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForLastModifiedDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_parentRoleId">ParentRoleId</label>
            <input type="number" class="form-control" name="parentRoleId" id="field_parentRoleId"
                    ng-model="empRoleMapping.parentRoleId"
                     />
        </div>

        <div class="form-group">
            <label for="field_user">user</label>
            <select class="form-control" id="field_user" name="user" ng-model="empRoleMapping.user" ng-options="user as user.id for user in users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_parentUser">parentUser</label>
            <select class="form-control" id="field_parentUser" name="parentUser" ng-model="empRoleMapping.parentUser" ng-options="user as user.id for user in users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_orgRoleInstance">orgRoleInstance</label>
            <select class="form-control" id="field_orgRoleInstance" name="orgRoleInstance" ng-model="empRoleMapping.orgRoleInstance" ng-options="orgRoleInstance as orgRoleInstance.id for orgRoleInstance in orgroleinstances track by orgRoleInstance.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_statusMaster">statusMaster</label>
            <select class="form-control" id="field_statusMaster" name="statusMaster" ng-model="empRoleMapping.statusMaster" ng-options="statusMaster as statusMaster.id for statusMaster in statusmasters track by statusMaster.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
