
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myManageCashPointLabel">Create or edit a Manage Cash Point</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="manageCashPoint.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_todayDate">Today Date</label>
            <input id="field_todayDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="manageCashPoint.todayDate" is-open="datePickerForTodayDate.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForTodayDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_payeeName">Payee Name</label>
            <input type="text" class="form-control" name="payeeName" id="field_payeeName"
                    ng-model="manageCashPoint.payeeName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_txnAmount">Transaction Amount</label>
            <input type="number" class="form-control" name="txnAmount" id="field_txnAmount"
                    ng-model="manageCashPoint.txnAmount"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_openBal">Open Balance</label>
            <input type="number" class="form-control" name="openBal" id="field_openBal"
                    ng-model="manageCashPoint.openBal"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_availBal">Available Balance</label>
            <input type="number" class="form-control" name="availBal" id="field_availBal"
                    ng-model="manageCashPoint.availBal"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_totalReceipts">Total Receipts</label>
            <input type="number" class="form-control" name="totalReceipts" id="field_totalReceipts"
                    ng-model="manageCashPoint.totalReceipts"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_locationCode">Location Code</label>
            <input type="text" class="form-control" name="locationCode" id="field_locationCode"
                    ng-model="manageCashPoint.locationCode"
                     />
        </div>

        <div class="form-group">
            <label for="field_transactionTypeMaster">Transaction Type Master</label>
            <select class="form-control" id="field_transactionTypeMaster" name="transactionTypeMaster" ng-model="manageCashPoint.transactionTypeMaster" ng-options="transactionTypeMaster as transactionTypeMaster.id for transactionTypeMaster in transactiontypemasters track by transactionTypeMaster.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_cashBookMaster">Cash Book Master</label>
            <select class="form-control" id="field_cashBookMaster" name="cashBookMaster" ng-model="manageCashPoint.cashBookMaster" ng-options="cashBookMaster as cashBookMaster.id for cashBookMaster in cashbookmasters track by cashBookMaster.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_paymentTypes">Payment Types</label>
            <select class="form-control" id="field_paymentTypes" name="paymentTypes" ng-model="manageCashPoint.paymentTypes" ng-options="paymentTypes as paymentTypes.id for paymentTypes in paymenttypess track by paymentTypes.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_fileNumber">File Number</label>
            <select class="form-control" id="field_fileNumber" name="fileNumber" ng-model="manageCashPoint.fileNumber" ng-options="fileNumber as fileNumber.id for fileNumber in filenumbers track by fileNumber.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_customer">Customer</label>
            <select class="form-control" id="field_customer" name="customer" ng-model="manageCashPoint.customer" ng-options="customer as customer.id for customer in customers track by customer.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
