
<form name="editForm" role="form" novalidate ng-submit="save()">

	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h4 class="panel-title pull-left">Issue Items for the
				application No.: {{applicationTxnId}}</h4>
		</div>
		<div class="list-group">
			<div class="list-group-item">
				<div class="modal-body">
					<jh-alert-error></jh-alert-error>
					<div ng-repeat="x in itemArr track by $index">
						<div class="row">
							<!-- <div class="col-sm-3">
								<label for="id">ID</label> <input type="text"
									class="form-control" id="id_{{$index}}" " name="id"
									ng-model="itemRequired.id" readonly />
							</div> -->
							<div class="col-sm-3">
								<label for="field_materialMaster">Items</label> <select
									class="form-control" id="field_materialMaster"
									name="materialMaster"
									ng-model="proceedings.itemRequireds[x].materialMaster"
									ng-options="materialMaster as materialMaster.materialName for materialMaster in materialmasters track by materialMaster.id"
									disabled>
									<option value=""></option>
								</select>
							</div>
							<div class="col-sm-3">
								<label for="field_uom">Uom</label> <select class="form-control"
									id="field_uom" name="uom"
									ng-model="proceedings.itemRequireds[x].uom"
									ng-options="uom as uom.value for uom in uoms track by uom.id"
									disabled>
									<option value=""></option>
								</select>
							</div>
							<div class="col-sm-3">
								<label class="control-label" for="field_quantity">Quantity</label>
								<input type="number" class="form-control" name="quantity"
									id="field_quantity"
									ng-model="proceedings.itemRequireds[x].quantity" disabled />
							</div>
							<div class="col-sm-3">
								<label class="control-label" for="field_provided">Provided</label>
								<input type="number" class="form-control" name="provided"
									id="field_provided"
									ng-change="validate($index, proceedings.itemRequireds[x].quantity, proceedings.itemRequireds[x].provided)"
									min="0" max="{{maxVal}}"
									ng-model="proceedings.itemRequireds[x].provided" />
							</div>
						</div>
					</div>
					<br>
					<fieldset>
						<legend></legend>
						<div class="row">
							<div class="col-sm-12">
								<label class="control-label" for="field_remarks">Remarks</label>
								<textarea rows="2" cols="30" class="form-control" name="remarks"
									id="field_remarks"
									ng-model="proceedings.applicationTxn.remarks"></textarea>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="modal-footer">
					<button type="button" onclick="window.history.back()"
						class="btn btn-info pull-left">
						<span class="glyphicon glyphicon-arrow-left"></span> &nbsp; <span>
							Back</span>
					</button>
					<button type="submit" ng-disabled="editForm.$invalid || isSaving"
						class="btn btn-primary">
						<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Items
							Issued</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</form>
