
<form name="editForm" role="form" novalidate ng-submit="save()">

	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Create A Connection</h3>
		</div>
		<div class="list-group">
			<div class="list-group-item">
				<div class="modal-body">
					<jh-alert-error></jh-alert-error>
					<div ng-repeat="itemRequired in itemRequireds track by $index">
						<div class="row">
							<!-- <div class="col-sm-3">
								<label for="id">ID</label> <input type="text"
									class="form-control" id="id_{{$index}}" " name="id"
									ng-model="itemRequired.id" readonly />
							</div> -->
							<div class="col-sm-3">
								<label for="field_materialMaster">Items</label> <select
									class="form-control" id="field_materialMaster_{{$index}}"
									name="materialMaster" ng-model="itemRequired.materialMaster"
									ng-options="materialMaster as materialMaster.materialName for materialMaster in materialmasters track by materialMaster.id">
									<option value=""></option>
								</select>
							</div>
							<div class="col-sm-3">
								<label for="field_uom">uom</label> <select class="form-control"
									id="field_uom_{{$index}}" name="uom"
									ng-model="itemRequired.uom"
									ng-options="uom as uom.id for uom in uoms track by uom.id">
									<option value=""></option>
								</select>
							</div>
							<div class="col-sm-3">
								<label class="control-label" for="field_quantity">Quantity-{{$index}}</label>
								<input type="number" class="form-control" name="quantity"
									id="field_quantity_{{$index}}" ng-model="itemRequired.quantity" />
							</div>
							<div class="col-sm-3">
								<label class="control-label" for="field_provided">Provided</label>
								<input type="number" class="form-control" name="provided"
									id="field_provided_{{$index}}" ng-model="itemRequired.provided" />
							</div>
						</div>
					</div>
					<!-- <div ng-repeat="itemRequired in itemRequireds track by $index">
						<div class="row">
							<div class="col-sm-3">
								<label for="id">ID</label> <input type="text"
									class="form-control" id="id_{{$index}}" name="id"
									ng-model="itemRequired.id" 
									ng-hide="true" readonly />
							</div>
							<div class="col-sm-3">
								<label class="control-label" for="field_ratePerShs">RatePerShs</label>
								<input type="number" class="form-control" name="ratePerShs"
									id="field_ratePerShs_{{$index}}" ng-model="itemRequired.ratePerShs" 
									ng-hide="true"/>
							</div>
							<div class="col-sm-3">
								<label class="control-label" for="field_amount">Amount</label> <input
									type="number" class="form-control" name="amount"
									id="field_amount_{{$index}}" ng-model="itemRequired.amount" 
									ng-hide="true"/>
							</div>
							<div class="col-sm-3">
								<label for="field_applicationTxn">applicationTxn</label> <select
									class="form-control" id="field_applicationTxn_{{$index}}"
									name="applicationTxn" ng-model="itemRequired.applicationTxn"
									ng-hide="true"
									ng-options="applicationTxn as applicationTxn.id for applicationTxn in applicationtxns track by applicationTxn.id">
									<option value=""></option>
								</select>
							</div>
							<div class="col-sm-3">
								<label for="field_feasibilityStudy">feasibilityStudy</label> <select
									class="form-control" id="field_feasibilityStudy_{{$index}}"
									name="feasibilityStudy"
									ng-model="itemRequired.feasibilityStudy"
									ng-hide="true"
									ng-options="feasibilityStudy as feasibilityStudy.id for feasibilityStudy in feasibilitystudys track by feasibilityStudy.id">
									<option value=""></option>
								</select>
							</div>
							<div class="col-sm-3">
								<label for="field_proceedings">proceedings</label> <select
									class="form-control" id="field_proceedings_{{$index}}" name="proceedings"
									ng-model="itemRequired.proceedings"
									ng-hide="true"
									ng-options="proceedings as proceedings.id for proceedings in proceedingss track by proceedings.id">
									<option value=""></option>
								</select>
							</div>
						</div>
					</div> -->
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						ng-click="clear()">
						<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
					</button>
					<button type="submit" ng-disabled="editForm.$invalid || isSaving"
						class="btn btn-primary">
						<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</form>
