
<form name="editForm" role="form" novalidate ng-submit="save()">

	<!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myTerminalLogLabel">Create or edit a TerminalLog</h4>
    </div> -->
	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Terminal Log</h3>
		</div>
		<div class="list-group">
			<div class="list-group-item">
				<div class="modal-body">
					<jh-alert-error></jh-alert-error>
					<div class="row">
						<div class="col-sm-4">
							<label for="id">ID</label> <input type="text"
								class="form-control" id="id" name="id" ng-model="terminalLog.id"
								readonly />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_amount">Amount</label> <input
								type="number" class="form-control" name="amount"
								id="field_amount" ng-model="terminalLog.amount" />
						</div>
						<div class="col-sm-3">
							<label class="control-label" for="field_lastModified">Last Modified</label>
							<input id="field_lastModified" type="text" class="form-control"
								uib-datepicker-popup="{{dateformat}}"
								ng-model="terminalLog.lastModified"
								is-open="datePickerForLastModified.status.opened" /> <span
								class="input-group-btn"> </span>
						</div>
						<br>
						<div class="col-sm-1">
							<button type="button" class="btn btn-default"
								ng-click="datePickerForLastModifiedOpen($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<label class="control-label" for="field_modifiedBy">Modified By</label>
							<input type="text" class="form-control" name="modifiedBy"
								id="field_modifiedBy" ng-model="terminalLog.modifiedBy" />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_userId">User Id</label> <input
								type="text" class="form-control" name="userId" id="field_userId"
								ng-model="terminalLog.userId" />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_bankDepositDate">Bank Deposit Date</label>
							<input id="field_bankDepositDate" type="text"
								class="form-control" uib-datepicker-popup="{{dateformat}}"
								ng-model="terminalLog.bankDepositDate"
								is-open="datePickerForBankDepositDate.status.opened" /> <span
								class="input-group-btn">
								<button type="button" class="btn btn-default"
									ng-click="datePickerForBankDepositDateOpen($event)">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-4">
							<label class="control-label" for="field_beforeUpdate">Before Update</label>
							<input type="text" class="form-control" name="beforeUpdate"
								id="field_beforeUpdate" ng-model="terminalLog.beforeUpdate" />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_afterUpdate">After Update</label>
							<input type="text" class="form-control" name="afterUpdate"
								id="field_afterUpdate" ng-model="terminalLog.afterUpdate" />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_mrCode">Mr Code</label> <input
								type="text" class="form-control" name="mrCode" id="field_mrCode"
								ng-model="terminalLog.mrCode" />
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<label class="control-label" for="field_remark">Remark</label> <input
								type="text" class="form-control" name="remark" id="field_remark"
								ng-model="terminalLog.remark" />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_txnType">Transaction Type</label>
							<input type="text" class="form-control" name="txnType"
								id="field_txnType" ng-model="terminalLog.txnType" />
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						ng-click="clear()">
						<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
					</button>
					<button type="submit" ng-disabled="editForm.$invalid || isSaving"
						class="btn btn-primary">
						<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</form>
