
<form name="editForm" role="form" novalidate ng-submit="save()">
	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Create Proceedings</h3>
		</div>
		<div class="list-group">
			<div class="list-group-item">


				<div class="modal-body">
					<jh-alert-error></jh-alert-error>
					<div class="row">
						<div class="col-sm-3">
							<label>Application No.</label> <input type="text"
								class="form-control" name="applicationTxn"
								id="field_applicationTxn"
								ng-model="proceedings.applicationTxn.id" readonly />
						</div>
						<div class="col-sm-3">
							<label for="field_pipeSizeMaster">Pipe Size</label> <select
								class="form-control" id="field_pipeSizeMaster"
								name="applicationTxn" ng-model="proceedings.pipeSizeMaster"
								ng-options="pipeSizeMaster as pipeSizeMaster.pipeSize for pipeSizeMaster in pipeSizeMasters track by pipeSizeMaster.id"
								required>
								<option value=""></option>
							</select>
						</div>

						<!-- <div class="col-sm-3">
							<label>File Number</label> <input list="applicationTxn" type=""
								class="form-control" ng-model="proceedings.applicationTxn.id" />
							<datalist id="applicationTxn">
								<option ng-repeat="applicationTxn in applicationTxns"
									value="{{applicationTxn.id}}">
							</datalist>
						</div>
						<span> <br>
							<button type="button"
								class="btn btn-primary glyphicon glyphicon-search"
								ng-click="getApplicationTxn(proceedings.applicationTxn.id)"></button>
						</span> -->
					</div>
				</div>

				<br>
				<fieldset>
					<legend>Items Required</legend>
					<div class="row">
						<div class="col-sm-3">
							<label for="field_materialMaster">Material Name</label>
						</div>
						<div class="col-sm-2">
							<label class="control-label" for="field_unit">Unit</label>
						</div>
						<div class="col-sm-2">
							<label class="control-label" for="field_quantity">Quantity</label>
						</div>
						<div class="col-sm-2">
							<label class="control-label" for="field_ratePerShs">Rate
								@ Shs</label>
						</div>
						<div class="col-sm-2">
							<label class="control-label" for="field_amount">Amount</label>
						</div>
					</div>
					<hr>
					<fieldset
						ng-repeat="item in proceedings.itemRequireds track by $index">
						<div class="row">
							<div class="col-sm-3">
								<select class="form-control" id="field_materialMaster"
									name="materialMaster" ng-model="item.materialMaster"
									ng-change="getMaterialDetail(item.materialMaster.id, $index)"
									ng-options="materialMaster as materialMaster.materialName for materialMaster in materialmasters track by materialMaster.id">
									<option value=""></option>
								</select>
							</div>
							<div class="col-sm-2">
								<select class="form-control" id="field_uom" name="uom"
									ng-model="item.uom"
									ng-options="uom as uom.value for uom in uoms track by uom.id">
									<option value=""></option>
								</select>
							</div>
							<div class="col-sm-2">

								<input type="number" class="form-control" name="quantity"
									id="field_quantity" ng-change="calculateRate()" min="0"
									ng-model="item.quantity" />
							</div>
							<div class="col-sm-2">
								<input type="number" class="form-control text-right"
									name="ratePerShs" id="field_ratePerShs"
									ng-model="item.ratePerShs" readonly />
							</div>
							<div class="col-sm-2">
								<input type="number" class="form-control text-right"
									name="amount" id="field_amount" ng-model="item.amount" readonly />
							</div>
							<div class="col-sm-1">
								<button type="button" class="btn btn-danger"
									ng-click="removeItemArr($index)">
									<span class="glyphicon glyphicon-remove-circle"></span>
								</button>
							</div>
						</div>
						<br>
					</fieldset>
					<button type="button" class="btn btn-primary"
						ng-click="createItemArr()">
						<span class="glyphicon glyphicon-plus-sign"></span>&nbsp;<span>Add
							Items</span>
					</button>
				</fieldset>
				<hr>
				<br>
				<div class="row">
					<div class="col-sm-9">
						<label class="control-label" for="field_subTotalA">SubTotal
							A</label>
					</div>
					<div class="col-sm-2">
						<input type="number" class="form-control text-right"
							name="subTotalA" id="field_subTotalA"
							ng-model="proceedings.subTotalA" readonly />
					</div>
				</div>
				<br>
				<hr>
				<div class="row">
					<div class="col-sm-2">
						<label for="field_supervisionPercent">Supervision (%)</label>
					</div>
					<div class="col-sm-1">
						<input type="number" class="form-control"
							name="supervisionPercent" id="field_supervisionPercent"
							ng-model="proceedings.supervisionPercent" readonly />
					</div>
					<div class="col-sm-2 col-md-offset-6">
						<input type="number" class="form-control text-right"
							name="supervisionCharge" id="field_supervisionCharge"
							ng-model="proceedings.supervisionCharge" readonly />
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-2">
						<label class="control-label" for="field_labourCharge">Labour
							Charges (%)</label>
					</div>
					<div class="col-sm-1">
						<input type="number" class="form-control"
							name="labourChargePercent" id="field_labourChargePercent"
							ng-model="proceedings.labourChargePercent" readonly />
					</div>
					<div class="col-sm-2 col-md-offset-6">
						<input type="number" class="form-control text-right"
							name="labourCharge" id="field_labourCharge"
							ng-model="proceedings.labourCharge" readonly />
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-2">
						<label class="control-label" for="field_siteSurvey">Site
							Survey (%)</label>
					</div>
					<div class="col-sm-1">
						<!-- <label for="field_siteSurveyPercent">siteSurveyPercent</label> -->
						<input type="number" class="form-control" name="siteSurveyPercent"
							id="field_siteSurveyPercent"
							ng-model="proceedings.siteSurveyPercent" readonly />
					</div>
					<div class="col-sm-2 col-md-offset-6">
						<input type="number" class="form-control text-right"
							name="siteSurvey" id="field_siteSurvey"
							ng-model="proceedings.siteSurvey" readonly />
					</div>
				</div>
				<br>
				<hr>
				<div class="row">
					<div class="col-sm-9">
						<label class="control-label" for="field_subTotalB">SubTotal
							B</label>
					</div>
					<div class="col-sm-2">
						<input type="number" class="form-control text-right"
							name="subTotalB" id="field_subTotalB"
							ng-model="proceedings.subTotalB" readonly />
					</div>
				</div>
				<br>
				<hr>
				<div class="row">
					<div class="col-sm-2">
						<label for="field_ConnectionFeePercent">Connection Fee of
							A & B (%)</label>
					</div>
					<div class="col-sm-1">
						<input type="number" class="form-control"
							name="connectionFeePercent" id="field_connectionFeePercent"
							ng-model="proceedings.connectionFeePercent" readonly />
					</div>
					<div class="col-sm-2 col-md-offset-6">
						<!-- <label class="control-label" for="field_connectionFee">ConnectionFee</label> -->
						<input type="number" class="form-control text-right"
							name="connectionFee" id="field_connectionFee"
							ng-model="proceedings.connectionFee" readonly />
					</div>
				</div>
				<br>
				<hr>
				<div class="row">
					<div class="col-sm-9">
						<label class="control-label" for="field_applicationFormFee">Application
							Form Fee</label>
					</div>
					<div class="col-sm-2">
						<input type="number" class="form-control text-right"
							name="applicationFormFee" id="field_applicationFormFee"
							ng-model="proceedings.applicationFormFee" readonly />
					</div>
				</div>
				<br>
				<hr>
				<div class="row">
					<div class="col-sm-9">
						<label class="control-label" for="field_grandTotal">Grand
							Total</label>
					</div>
					<div class="col-sm-2">
						<input type="number" class="form-control text-right"
							name="grandTotal" id="field_grandTotal"
							ng-model="proceedings.grandTotal" readonly />
					</div>
				</div>

				<fieldset>
					<legend></legend>
					<div class="row">
						<div class="col-sm-12">
							<label class="control-label" for="field_remarks">Remarks</label>
							<textarea rows="2" cols="30" class="form-control" name="remarks"
								id="field_remarks" ng-model="proceedings.applicationTxn.remarks"></textarea>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">
				<button type="button" onclick="window.history.back()"
					class="btn btn-info pull-left">
					<span class="glyphicon glyphicon-arrow-left"></span> &nbsp; <span>
						Back</span>
				</button>
				<button type="submit" ng-disabled="editForm.$invalid || isSaving"
					class="btn btn-primary">
					<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
				</button>
			</div>
		</div>
	</div>
</form>
