<div>
	<div>
		<!-- <h2>
			<span>Proceedings</span> {{proceedings.id}}
		</h2> -->
		<div>
			<div class="panel panel-primary">
				<div class="panel-heading clearfix">
					<h3 class="panel-title pull-left">Proceedings for Application 
						No.: {{proceedings.applicationTxn.id}} </h3>
				<div class="pull-right">
				<a class="pull-right btn btn-warning
				type="button" href="api/reports/proceedings/{{proceedings.applicationTxn.id}}">Download as PDF</a>
				</div>		
						
						
				</div>
				<div class="list-group">
					<div class="list-group-item">
						<fieldset>
							<legend>Bill Of Materials</legend>
							<div class="row">
								<div class="col-sm-4">
									<label for="field_materialMaster">Material Name</label>
								</div>
								<div class="col-sm-2">
									<label class="control-label" for="field_unit">Unit</label>
								</div>
								<div class="col-sm-2">
									<label class="control-label" for="field_quantity">Quantity</label>
								</div>
								<div class="col-sm-2">
									<label class="control-label" for="field_ratePerShs">Rate
										@ Shs</label>
								</div>
								<div class="col-sm-2">
									<label class="control-label" for="field_amount">Amount(TZS)</label>
								</div>
							</div>
							<hr>
							<div ng-repeat="itemRequired in itemRequireds track by $index">
								<div class="row">
									<div class="col-sm-4">
										<span>{{itemRequired.materialMaster.materialName}}</span>
									</div>
									<div class="col-sm-2">
										<span>{{itemRequired.uom.value}}</span>
									</div>
									<div class="col-sm-2">
										<span>{{itemRequired.quantity}}</span>
									</div>
									<div class="col-sm-2">
										<div class="col-md-6">
											<span class="pull-right">{{itemRequired.ratePerShs |
												number :2}}</span>
										</div>
									</div>
									<div class="col-sm-2">
										<div class="col-md-6">
											<span class="pull-right">{{itemRequired.amount |
												number :2}}</span>
										</div>
									</div>
								</div>
							</div>
							<hr>
							<br>
							<div class="row">
								<div class="col-sm-10">
									<label> A. Sub Total </label>
								</div>
								<div class="col-sm-2">
									<div class="col-md-6">
										<h5 class="list-group-item-heading pull-right">{{proceedings.subTotalA
											| number :2}}</h5>
									</div>
								</div>
							</div>
							<!-- <hr>
							<div class="row">
								<div class="col-sm-10">
									<label> Supervision
										({{proceedings.supervisionPercent}}%)</label>
								</div>
								<div class="col-sm-2">
									<div class="col-md-6">
										<h5 class="list-group-item-heading pull-right">{{proceedings.supervisionCharge
											| number :2}}</h5>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-10">
									<label>Labour Charges
										({{proceedings.labourChargePercent}}%)</label>
								</div>
								<div class="col-sm-2">
									<div class="col-md-6">
										<h5 class="list-group-item-heading pull-right">{{proceedings.labourCharge
											| number :2}}</h5>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-10">
									<label>Site Survey ({{proceedings.siteSurveyPercent}}%)</label>
								</div>
								<div class="col-sm-2">
									<div class="col-md-6">
										<h5 class="list-group-item-heading pull-right">{{proceedings.siteSurvey
											| number :2}}</h5>
									</div>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-10">
									<label>SubTotal B</label>
								</div>
								<div class="col-sm-2">
									<div class="col-md-6">
										<h5 class="list-group-item-heading pull-right">{{proceedings.subTotalB
											| number :2}}</h5>
									</div>
								</div>
							</div> -->
							<hr>
							<div class="row">
								<div class="col-sm-10">
									<label>Connection Fee of A & B
										({{proceedings.connectionFeePercent}}%)</label>
								</div>
								<div class="col-sm-2">
									<div class="col-md-6">
										<h5 class="list-group-item-heading pull-right">{{proceedings.connectionFee
											| number :2}}</h5>
									</div>
								</div>
							</div>
							<!-- <hr>
							<div class="row">
								<div class="col-sm-10">
									<label>Application Form Fee</label>
								</div>
								<div class="col-sm-2">
									<div class="col-md-6">
										<h5 class="list-group-item-heading pull-right">{{proceedings.applicationFormFee
											| number :2}}</h5>
									</div>
								</div>
							</div> -->
							<hr>
							<div class="row">
								<div class="col-sm-10">
									<label>Grand Total</label>
								</div>
								<div class="col-sm-2">
									<div class="col-md-6">
										<h5 class="list-group-item-heading pull-right">{{proceedings.grandTotal
											| number :2}}</h5>
									</div>
								</div>
							</div>
						</fieldset>
						<br>
					</div>
				</div>
			</div>


			<button type="button" class="btn btn-success pull-right"
				ng-show="proceedings.applicationTxn.status===4 && orgRole.id===23"
				ui-sref="receiptForAppTxn({applicationTxnId:proceedings.applicationTxn.id})">
				<span class="glyphicon glyphicon-check"></span>&nbsp;Create Receipt
			</button>
		</div>

		<button type="submit" onclick="window.history.back()"
			class="btn btn-info">
			<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span>
				Back</span>
		</button>
	</div>
	<div id="approveModal" class="modal" name="aproveForm">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<form name="editForm" role="form" novalidate>
					<div class="panel panel-primary">
						<div class="panel-heading clearfix">
							<h3 class="panel-title pull-left">Application Approval
								Details</h3>
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true" ng-click="clear()">&times;</button>
						</div>
						<div class="list-group">
							<div class="list-group-item">
								<div class="modal-body">
									<jh-alert-error></jh-alert-error>
									<div class="row">
										<div class="col-sm-3">
											<label for="field_applicationTxn">Application Number
											</label> <input type="text" class="form-control"
												name="applicationTxn" id="field_applicationTxn"
												ng-model="applicationTxn" disabled />
										</div>
										<div class="col-sm-3">
											<label class="control-label" for="field_approvedDate">Approved
												Date</label>
											<div class="form-group">
												<div class='input-group date' id='field_approvedDate'>
													<input id="field_approvedDate" type="text"
														class="form-control" uib-datepicker-popup="{{dateformat}}"
														ng-model="approvalDetails.approvedDate"
														is-open="datePickerForApprovedDate.status.opened" /> <span
														class="input-group-btn">
														<button type="button" class="btn btn-default"
															ng-click="datePickerForApprovedDateOpen($event)">
															<i class="glyphicon glyphicon-calendar"></i>
														</button>
													</span>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<label class="control-label" for="field_remarks">Remarks</label>
											<textarea rows="4" cols="50" class="form-control"
												name="remarks" id="field_remarks" max="20"
												ng-model="proceedings.remarks"></textarea>
										</div>
									</div>
									<br>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default"
										data-dismiss="modal" ng-click="clear()">
										<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
									</button>
									<button type="button"
										ng-disabled="editForm.$invalid || isSaving"
										class="btn btn-primary"
										ng-click="approvalDetailsSave(proceedings.applicationTxn.id, proceedings.remarks)">
										<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
