<div>
<form name="editForm"  rc-button="save()" novalidate>

	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Create Receipt: {{receipt.id}}</h3>
		</div>
		<div class="list-group">
			<div class="list-group-item">
				<div class="modal-body">
					<jh-alert-error></jh-alert-error>
					<div class="row">
						<div class="col-sm-4" ng-hide="true">
							<label class="control-label" for="field_can">CAN No.</label> <input
								type="text" class="form-control" name="can" id="field_can"
								ng-model="workflowDTO.receipt.can" readonly required />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_receiptDate">Receipt
								Date</label>
							<div class="form-group">
								<div class='input-group date' id='field_receiptDate'>
									<input id="field_receiptDate" type="text" class="form-control"
										uib-datepicker-popup="{{dateformat}}"
										ng-model="workflowDTO.receipt.receiptDate" max_date="maxDate"
										is-open="datePickerForReceiptDate.status.opened" required /> <span
										class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="datePickerForReceiptDateOpen($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
				<div class="form-group" ng-class="{'has-error': editForm.can.$invalid && 
										(editForm.can.$dirty || rc.editForm.attempted)}">
							<label for="field_can">CAN</label> <input type="text"
								class="form-control" name="can" id="field_can"
								ng-model="workflowDTO.receipt.can" readonly required />
								<div
											ng-show="(editForm.can.$dirty || rc.editForm.attempted) && editForm.can.$invalid">
											<p class="help-block"
												ng-show="editForm.can.$error.required">This field is required.</p>
								</div>		
								</div>
						</div>
						</div>

					</div>
					<div class="row">
						<div class="col-sm-4">
						<div class="form-group"
								ng-class="{'has-error': editForm.paymentTypes.$invalid && 
         (editForm.paymentTypes.$dirty || rc.editForm.attempted)}">
							<label for="field_paymentTypes">Payment Type</label> <select
								class="form-control" id="field_paymentTypes" name="paymentTypes" 
								ng-model="workflowDTO.receipt.paymentTypes"  ng-change="resetInstr(workflowDTO.receipt.paymentTypes.paymentMode)"
								ng-options="paymentTypes as paymentTypes.paymentMode for paymentTypes in paymenttypess track by paymentTypes.id"
								required>
								<option value=""></option>
							</select>
							<div
									ng-show="(editForm.paymentTypes.$dirty || rc.editForm.attempted) && editForm.paymentTypes.$invalid">
									<p class="help-block"
										ng-show="editForm.paymentTypes.$error.required">This field is
										required.</p>
										</div>
										</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group"
								ng-class="{'has-error': editForm.receiptAmt.$invalid && 
         (editForm.receiptAmt.$dirty || rc.editForm.attempted)}">
							<label class="control-label" for="field_amount">Amount</label> <input
								type="text" class="form-control" name="amount"
								id="field_amount" ng-model="workflowDTO.receipt.amount" readonly />
								<div
									ng-show="(editForm.receiptAmt.$dirty || rc.editForm.attempted) && editForm.receiptAmt.$invalid">
									<p class="help-block"
										ng-show="editForm.receiptAmt.$error.required">This field is
										required.</p>
										</div>
										</div>
						</div>
						<div class="col-sm-4">
						<div class="form-group"
								ng-class="{'has-error': editForm.checkOrDdDate.$invalid && instrEnabled &&
         (editForm.checkOrDdDate.$dirty || rc.editForm.attempted)}">
							<label class="control-label" for="field_checkOrDdDate">Check/DD
								Date</label>
								<div class='input-group date' id='field_checkOrDdDate'>
									<input id="field_checkOrDdDate" type="text" name="checkOrDdDate" placeholder="YYYY-MM-DD"	
										class="form-control" uib-datepicker-popup="{{dateformat}}" ng-type="date"
										ng-model="workflowDTO.receipt.checkOrDdDate"
										is-open="datePickerForCheckOrDdDate.status.opened" ng-required="instrEnabled"
										ng-disabled="workflowDTO.receipt.paymentTypes.id===1" /> <span
										class="input-group-btn">
										<button type="button" class="btn btn-default" 
											ng-click="datePickerForCheckOrDdDateOpen($event)"
											ng-disabled="workflowDTO.receipt.paymentTypes.id===1">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</div>
								<div
									ng-show="(editForm.checkOrDdDate.$dirty || rc.editForm.attempted) && editForm.checkOrDdDate.$invalid">
									<p class="help-block"
										ng-show="editForm.checkOrDdDate.$error.required">Date is
										required.</p>
										<p class="help-block"
											ng-show="editForm.checkOrDdDate.$error.date">Please enter date format.</p>
										</div>
										</div>
							</div>
						</div>
					<div class="row">
						<div class="col-sm-4">
						<div class="form-group"
								ng-class="{'has-error': editForm.checkOrDdNo.$invalid && instrEnabled &&
         (editForm.checkOrDdNo.$dirty || rc.editForm.attempted)}">
							<label class="control-label" for="field_checkOrDdNo">Check/DD
								No.</label> <input type="text" class="form-control" name="checkOrDdNo"
								id="field_checkOrDdNo"
								ng-model="workflowDTO.receipt.checkOrDdNo" ng-required="instrEnabled"
								ng-disabled="workflowDTO.receipt.paymentTypes.id===1" />
								<div
									ng-show="(editForm.checkOrDdNo.$dirty || rc.editForm.attempted) && editForm.checkOrDdNo.$invalid">
									<p class="help-block"
										ng-show="editForm.checkOrDdNo.$error.required">This field is
										required.</p>
										</div>
										</div>
						</div>
						<div class="col-sm-4">
						<div class="form-group"
								ng-class="{'has-error': editForm.bankName.$invalid && instrEnabled &&
         (editForm.bankName.$dirty || rc.editForm.attempted)}">
							<label class="control-label" for="field_bankName">Bank
								Name</label> <input type="text" class="form-control" name="bankName" ng-pattern="/^[a-zA-Z]+[\-'\s]?[a-zA-Z ]+$/"
								id="field_bankName" ng-model="receipt.bankName" ng-required="instrEnabled"
								ng-disabled="workflowDTO.receipt.paymentTypes.id===1" />
								<div ng-pattern="/^[a-zA-Z]+[\-'\s]?[a-zA-Z ]+$/"
									ng-show="(editForm.bankName.$dirty || rc.editForm.attempted) && editForm.bankName.$invalid">
									<p class="help-block"
										ng-show="editForm.bankName.$error.required">This field is
										required.</p>
										<p class="help-block"
										ng-show="editForm.bankName.$error.pattern">Please enter text format.
										</p>
										</div>
										</div>
						</div>
						<div class="col-sm-4">
						<div class="form-group"
								ng-class="{'has-error': editForm.branchName.$invalid && instrEnabled &&
         (editForm.branchName.$dirty || rc.editForm.attempted)}">
							<label class="control-label" for="field_branchName">Branch
								Name</label> <input type="text" class="form-control" name="branchName" ng-pattern="/^[a-zA-Z]+[\-'\s]?[a-zA-Z ]+$/"
								id="field_branchName" ng-model="receipt.branchName" ng-required="instrEnabled"
								ng-disabled="workflowDTO.receipt.paymentTypes.id===1" />
								<div ng-pattern="/^[a-zA-Z]+[\-'\s]?[a-zA-Z ]+$/"
									ng-show="(editForm.branchName.$dirty || rc.editForm.attempted) && editForm.branchName.$invalid">
									<p class="help-block"
										ng-show="editForm.branchName.$error.required">This field is
										required.</p>
										<p class="help-block"
										ng-show="editForm.branchName.$error.pattern">Please enter text format.
										</p>
										</div>
										</div>
						</div>
					</div>
					<br>
					<fieldset>
						<legend></legend>
						<div class="row">
							<div class="col-sm-3">
							<div class="form-group"
									ng-class="{'has-error': editForm.approvedDate.$invalid && 
                                (editForm.approvedDate.$dirty || rc.editForm.attempted)}">
								<label class="control-label" for="field_approvedDate">Approved
									Date</label>
									<div class='input-group date' id='field_approvedDate'>
										<input id="field_approvedDate" type="text" name="approvedDate"  placeholder="YYYY-MM-DD"	
											class="form-control" uib-datepicker-popup="{{dateformat}}"  
											ng-model="workflowDTO.approvedDate" max-date="maxDt"
											is-open="datePickerForApprovedDate.status.opened" required />
										<span class="input-group-btn">
											<button type="button" class="btn btn-default"
												ng-click="datePickerForApprovedDateOpen($event)">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</span>
									</div>
									<div ng-show="(editForm.approvedDate.$dirty || rc.editForm.attempted) && editForm.approvedDate.$invalid">
										<p class="help-block"
											ng-show="editForm.approvedDate.$error.required">Date is required.</p>
											<p class="help-block"
											ng-show="editForm.approvedDate.$error.date">Please enter date format.</p>
									</div>
								</div>
								</div>
							<div class="col-sm-9">
								<label class="control-label" for="field_remarks">Remarks</label>
								<textarea rows="2" cols="30" class="form-control" name="remarks"
									id="field_remarks" ng-model="workflowDTO.remarks" required></textarea>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="modal-footer">
					<button type="button" onclick="window.history.back()"
						class="btn btn-info pull-left">
						<span class="glyphicon glyphicon-arrow-left"></span> &nbsp; <span>
							Back</span>
					</button>
					<button type="button" class="btn btn-success pull-right"
						ng-disabled="editForm.$invalid || isSaving"
						ng-click="approve(workflowDTO)">
						<span class="glyphicon glyphicon-check"></span>&nbsp;Approve
					</button>
					<!-- <button type="submit" ng-disabled="editForm.$invalid || isSaving"
						class="btn btn-primary">
						<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
					</button> -->
				</div>
			</div>
		</div>
</form>
<div id="saveSuccessfullyModal" class="modal" name="saveForm">
		<div class="modal-dialog">
			<div class="modal-content">
				<form name="confirmForm">
					<div class="modal-header"></div>
					<div class="modal-body">
						<p>
						<h3>Request Approved Successfully!</h3>
						</p>
						<div>
							<h4>
								<label>Application No.:&nbsp;&nbsp; </label>{{customer.id}}
							</h4>
						</div>

					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-success" data-dismiss="modal"
							ng-click="confirm()">
							<span class="glyphicon glyphicon-ok"></span>&nbsp;<span>Ok</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	</div>