
<form name="editForm" role="form" novalidate ng-submit="save()"
	show-validation>
	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true" ng-click="clear()">&times;</button>
			<h3 class="panel-title pull-left">Pipe Size Change</h3>
		</div>
		<div class="list-group">
			<div class="list-group-item">

				<div class="modal-body">
					<jh-alert-error></jh-alert-error>
					<div class="row">
						<div class="col-sm-4 col-md-offset-4">
							<label for="field_SearchCan">Search By CAN</label>

							<div class="form-group"
								ng-class="{ 'has-error' : editForm.field_custDetails.$invalid  && editForm.field_custDetails.$dirty}">
								<input type="text" ng-model="custInfo" typeahead-min-length="3"
									placeholder="Search CAN or Name or Address (Min 3 chars)"
									uib-typeahead="custInfo for custInfo in getLocation($viewValue)"
									typeahead-loading="loadingCANs"
									typeahead-on-select='onSelect($item, $model, $label)'
									typeahead-no-results="noResults" class="form-control">
								<i ng-show="loadingCANs" class="glyphicon glyphicon-refresh"></i>
								<div ng-show="noResults">
									<i class="glyphicon glyphicon-remove"></i> No CANs Found
								</div>
							</div>
						</div>
					</div>
					<hr>
					<br>
					<fieldset>
						<legend>Customer Information</legend>
						<div class="row">
							<div class="col-sm-3">
								<label class="control-label" for="field_can">CAN</label> <input
									type="text" class="form-control" name="can" id="field_can"
									ng-model="custDetails.can" required disabled />
								<div ng-show="editForm.can.$invalid">
									<p class="help-block" ng-show="editForm.can.$error.required">
										This field is required.</p>
								</div>
							</div>
							<div class="col-sm-3">
								<label class="control-label" for="field_consName">Consumer
									Name</label> <input type="text" class="form-control" name="consName"
									id="field_consName" ng-model="custDetails.consName" required
									disabled />
								<div ng-show="editForm.consName.$invalid">
									<p class="help-block"
										ng-show="editForm.consName.$error.required">This field is
										required.</p>
								</div>
							</div>
							<div class="col-sm-3">
								<label class="control-label" for="field_mobileNo">Mobile
									No.</label> <input type="text" class="form-control" name="mobileNo"
									id="field_mobileNo" ng-model="custDetails.mobileNo" disabled />
							</div>
							<div class="col-sm-3">
								<label class="control-label" for="field_email">E-mail </label> <input
									type="text" class="form-control" name="email" id="field_email"
									ng-model="custDetails.email" disabled />
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-3">
								<label class="control-label" for="field_houseNo">House
									No./Plot No.</label> <input type="text" class="form-control"
									name="houseNo" id="field_houseNo"
									ng-model="custDetails.houseNo" disabled />
							</div>
							<div class="col-sm-3">
								<label class="control-label" for="field_divisionMaster">DMA</label>
								<input type="text" class="form-control" name="divisionMaster"
									id="field_divisionMaster"
									ng-model="custDetails.divisionMaster.divisionName" disabled />
							</div>
							<div class="col-sm-3">
								<label class="control-label" for="field_streetMaster">Street</label>
								<input type="text" class="form-control" name="streetMaster"
									id="field_streetMaster"
									ng-model="custDetails.streetMaster.streetName" disabled />
							</div>
							<div class="col-sm-3">
								<label class="control-label" for="field_city">City</label> <input
									type="text" class="form-control" name="city" id="field_city"
									ng-model="custDetails.city" disabled />
							</div>
						</div>

						<br>
						<div class="row">
							<div class="col-sm-12">
								<label class="control-label" for="field_address">Address
									Detail</label>
								<textarea rows="2" cols="30" class="form-control" name="address"
									id="field_address" style="resize: none"
									ng-model="custDetails.address" disabled></textarea>
							</div>
						</div>
					</fieldset>
					<hr>
					<br>
					<fieldSet>
						<legend>Change Pipe Size</legend>
						<div class="row">
							<div class="col-sm-3">
								<label for="field_pipeSizeMaster">Present Pipe Size</label> <select
									class="form-control" id="field_pipeSizeMaster"
									name="pipeSizeMaster" ng-model="customer.pipeSizeMaster"
									ng-options="pipeSizeMaster as pipeSizeMaster.pipeSize for pipeSizeMaster in pipesizemasters track by pipeSizeMaster.id"
									disabled required>
									<option value=""></option>
								</select>
							</div>
							<div class="col-sm-3">
								<label for="field_requestedPipeSizeMaster">Requested
									Pipe Size</label> <select class="form-control"
									id="field_requestedPipeSizeMaster"
									name="requestedPipeSizeMaster"
									ng-model="customer.requestedPipeSizeMaster"
									ng-change="pipeCheck(customer.pipeSizeMaster.id, customer.requestedPipeSizeMaster.id)"
									ng-options="pipeSizeMaster as pipeSizeMaster.pipeSize for pipeSizeMaster in pipesizemasters track by pipeSizeMaster.id"
									required>
									<option value=""></option>
								</select>
							</div>
							<div class="col-sm-3">
								<label class="control-label" for="field_meterReading">Meter
									Reading(Last Billed)</label> <input type="number" class="form-control"
									name="meterReading" id="field_meterReading"
									ng-model="customer.meterReading" disabled required />
							</div>
							<div class="col-sm-3">
								<label class="control-label" for="field_presentReading">Present
									Reading</label> <input type="number" class="form-control"
									name="presentReading" id="field_presentReading"
									ng-model="customer.presentReading"
									min="0" 
									ng-blur="checkReading(customer.meterReading, customer.presentReading)"
									required />
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-3">
								<label class="control-label" for="field_requestedDate">Requested
									Date</label>
								<div class="form-group">
									<div class='input-group date' id='field_requestedDate'>
										<input id="field_requestedDate" type="text"
											class="form-control" uib-datepicker-popup="{{dateformat}}"
											ng-model="customer.requestedDate" max-date="dtmax"
											is-open="datePickerForRequestedDate.status.opened" required />
										<span class="input-group-btn">
											<button type="button" class="btn btn-default"
												ng-click="datePickerForRequestedDateOpen($event)">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</span>
									</div>
								</div>
							</div>
							<div class="col-sm-9">
								<label class="control-label" for="field_remarks">Remarks</label>
								<textarea rows="2" cols="30" class="form-control" name="remarks"
									id="field_remarks" style="resize: none"
									ng-model="customer.remarks" required></textarea>
							</div>
						</div>
					</fieldSet>
				</div>
				<div class="modal-footer">
					<button type="button" onclick="window.history.back()"
						class="btn btn-info pull-left">
						<span class="glyphicon glyphicon-arrow-left"></span> &nbsp; <span>
							Back</span>
					</button>
					<button type="submit" ng-disabled="editForm.$invalid || isSaving"
						class="btn btn-primary">
						<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</form>
