<div>
	<h2>
		<span>Pipe Size Change.: </span> {{customer.id}}
	</h2>
	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Requests</h3>
		</div>
		<div class="list-group">
			<div class="table-responsive" ng-hide="applicationTxn.ststus===0">
				<table class="clickableTable table table-striped">
					<thead>
						<tr>
							<th>From</th>
							<th>To</th>
							<th>Remarks</th>
							<th>Actioned Date</th>
							<th>IP Address</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in requestWorkflowHistorys">
							<td>{{item.assignedFrom.firstName}}
								{{item.assignedFrom.lastName}} ({{item.assignedFrom.login}})</td>
							<td>{{item.assignedTo.firstName}}
								{{item.assignedTo.lastName}} ({{item.assignedTo.login}})</td>
							<td>{{item.remarks}}</td>
							<td>{{item.actionedDate | date:'mediumDate'}}</td>
							<td>{{item.ipAddress}}</td>
							<td>{{item.statusMaster.status}}</td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div>
		<div class="panel panel-primary">
			<div class="panel-heading clearfix">
				<h3 class="panel-title pull-left">Application For Pipe Size
					Change</h3>
			</div>
			<div class="list-group">
				<div class="list-group-item">
					<fieldset>
						<legend>Applicant Details</legend>
						<div class="row">
							<div class="col-sm-3">
								<label>Customer Account Number(CAN)</label>
								<h5 class="list-group-item-heading">{{customer.can}}</h5>
							</div>
							<div class="col-sm-3">
								<label>First Name</label>
								<h5 class="list-group-item-heading">{{custDetails.consName}}</h5>
							</div>
							<div class="col-sm-3">
								<label> Mobile Number</label>
								<h5 class="list-group-item-heading">{{custDetails.mobileNo}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Email</label>
								<h5 class="list-group-item-heading">{{custDetails.email}}</h5>
							</div>
						</div>
					</fieldset>
					<br>
					<fieldset>
						<legend>Pipe Size Details</legend>
						<div class="row">
							<div class="col-sm-3">
								<label>Previous Pipe Size</label>
								<h5 class="list-group-item-heading">{{customer.pipeSizeMaster.pipeSize}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Requested Pipe Size</label>
								<h5 class="list-group-item-heading">{{customer.requestedPipeSizeMaster.pipeSize}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Previous Reading(Last Billed)</label>
								<h5 class="list-group-item-heading">{{customer.meterReading}}</h5>
							</div>
							<div class="col-sm-3">
								<label>Present Reading</label>
								<h5 class="list-group-item-heading">{{customer.presentReading}}</h5>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="col-sm-3">
								<label>Requested Date</label>
								<h5 class="list-group-item-heading">{{customer.requestedDate
									| date:'mediumDate'}}</h5>
							</div>
							<div class="col-sm-3">
								<label class="control-label" for="field_changedDate">Changed
									Date</label>
								<div class="form-group">
									<div class='input-group date' id='field_changedDate'>
										<input id="field_changedDate" type="text" class="form-control"
											uib-datepicker-popup="{{dateformat}}"
											ng-model="workflowDTO.customer.changedDate" max-date="maxDt"
											is-open="datePickerForChangedDate.status.opened" required />
										<span class="input-group-btn">
											<button type="button" class="btn btn-default"
												ng-click="datePickerForChangedDateOpen($event)">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</span>
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					<br>
					<fieldset>
						<legend></legend>
						<div class="row" ng-if="customer.status!==2">
							<div class="col-sm-3">
								<label class="control-label" for="field_approvedDate">Approved
									Date</label>
								<div class="form-group">
									<div class='input-group date' id='field_approvedDate'>
										<input id="field_approvedDate" type="text"
											class="form-control" uib-datepicker-popup="{{dateformat}}"
											ng-model="workflowDTO.approvedDate" max-date="maxDt"
											is-open="datePickerForApprovedDate.status.opened" required />
										<span class="input-group-btn">
											<button type="button" class="btn btn-default"
												ng-click="datePickerForApprovedDateOpen($event)">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</span>
									</div>
								</div>
							</div>
							<div class="col-sm-9">
								<label class="control-label" for="field_remarks">Remarks</label>
								<textarea rows="2" cols="30" class="form-control" name="remarks"
									id="field_remarks" ng-model="workflowDTO.remarks" required></textarea>
							</div>
						</div>
					</fieldset>
					<br>
				</div>
			</div>
		</div>
		<button type="button" ng-disabled="editForm.$invalid || isSaving"
			class="btn btn-success pull-right" ng-show="canDecline()"
			ng-click="approve(workflowDTO)">
			<span class="glyphicon glyphicon-check"></span> &nbsp;Approve
		</button>

		<span class="pull-right">&nbsp;&nbsp;&nbsp;</span>

		<button type="button" class="btn btn-danger pull-right"
			ng-show="canDecline()" ng-disabled="isSaving"
			ng-click="declineRequest(workflowDTO)">
			<span class="glyphicon glyphicon-remove-circle"></span> &nbsp;Decline
		</button>
		<button type="submit" onclick="window.history.back()"
			class="btn btn-info">
			<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span>
				Back</span>
		</button>
	</div>
</div>
