
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCustomerLabel">Create or edit a Customer</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="customer.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_requestDate">Request Date</label>
            <input id="field_requestDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="customer.requestDate" is-open="datePickerForRequestDate.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForRequestDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                    ng-model="customer.firstName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_middleName">Middle Name</label>
            <input type="text" class="form-control" name="middleName" id="field_middleName"
                    ng-model="customer.middleName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                    ng-model="customer.lastName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_houseNo">House No</label>
            <input type="text" class="form-control" name="houseNo" id="field_houseNo"
                    ng-model="customer.houseNo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_govtOfficialNo">Govrnment Official Number</label>
            <input type="text" class="form-control" name="govtOfficialNo" id="field_govtOfficialNo"
                    ng-model="customer.govtOfficialNo"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ward">Ward</label>
            <input type="text" class="form-control" name="ward" id="field_ward"
                    ng-model="customer.ward"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_street">Street</label>
            <input type="text" class="form-control" name="street" id="field_street"
                    ng-model="customer.street"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pincode">Pin Code</label>
            <input type="text" class="form-control" name="pincode" id="field_pincode"
                    ng-model="customer.pincode"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_block">Block</label>
            <input type="text" class="form-control" name="block" id="field_block"
                    ng-model="customer.block"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_area">Area</label>
            <input type="text" class="form-control" name="area" id="field_area"
                    ng-model="customer.area"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_section">Section</label>
            <input type="text" class="form-control" name="section" id="field_section"
                    ng-model="customer.section"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_constituency">Constituency</label>
            <input type="text" class="form-control" name="constituency" id="field_constituency"
                    ng-model="customer.constituency"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="customer.email"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_telOffice">Tel Office</label>
            <input type="text" class="form-control" name="telOffice" id="field_telOffice"
                    ng-model="customer.telOffice"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_telHome">Tel Home</label>
            <input type="text" class="form-control" name="telHome" id="field_telHome"
                    ng-model="customer.telHome"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_mobile">Mobile</label>
            <input type="text" class="form-control" name="mobile" id="field_mobile"
                    ng-model="customer.mobile"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_fileNumber">File Number</label>
            <input type="text" class="form-control" name="fileNumber" id="field_fileNumber"
                    ng-model="customer.fileNumber"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
