<form name="editForm"  rc-submit="save()" novalidate>
	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Create Receipt: {{receipt.id}}</h3>
		</div>
		<div class="list-group">
			<div class="list-group-item">
				<div class="modal-body">
					<jh-alert-error></jh-alert-error>
					<div class="row">
						<!-- <div class="col-sm-4">
							<label for="id">Receipt No.</label> <input type="text"
								class="form-control" id="id" name="id" ng-model="receipt.id"
								readonly />
						</div> -->
						<div class="col-sm-4" ng-hide="true">
							<label class="control-label" for="field_can">CAN No.</label> <input
								type="text" class="form-control" name="can" id="field_can"
								ng-model="receipt.applicationTxn.can" readonly />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_receiptDate">Receipt
								Date</label>
							<div class="form-group">
								<div class='input-group date' id='field_receiptDate'>
									<input id="field_receiptDate" type="text" class="form-control"
										uib-datepicker-popup="{{dateformat}}"
										ng-model="receipt.receiptDate" max_date="maxDate"
										is-open="datePickerForReceiptDate.status.opened" /> <span
										class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="datePickerForReceiptDateOpen($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<label for="field_applicationTxn">Application No.</label> <select
								class="form-control" id="field_applicationTxn"
								name="applicationTxn" ng-model="receipt.applicationTxn"
								ng-options="applicationTxn as applicationTxn.id for applicationTxn in applicationtxns track by applicationTxn.id"
								disabled>
								<option value=""></option>
							</select>
						</div>

					</div>
					<div class="row">
						<div class="col-sm-4">
							<label for="field_paymentTypes">Payment Type</label> <select
								class="form-control" id="field_paymentTypes" name="paymentTypes"
								ng-model="receipt.paymentTypes" ng-change="doEmpty(receipt.paymentTypes.id)"
								ng-options="paymentTypes as paymentTypes.paymentMode for paymentTypes in paymenttypess track by paymentTypes.id">
								<option value=""></option>
							</select>
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_amount">Amount</label> <input
								type="number" class="form-control" name="amount"
								id="field_amount" ng-model="receipt.amount" readonly />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_checkOrDdDate">Check/DD
								Date</label>
							<div class="form-group">
								<div class='input-group date' id='field_checkOrDdDate'>
									<input id="field_checkOrDdDate" type="text"
										class="form-control" uib-datepicker-popup="{{dateformat}}"
										ng-model="receipt.checkOrDdDate"
										is-open="datePickerForCheckOrDdDate.status.opened"
										ng-disabled="receipt.paymentTypes.id===1" /> <span
										class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="datePickerForCheckOrDdDateOpen($event)"
											ng-disabled="receipt.paymentTypes.id===1">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
						<div class="form-group" 
									ng-class="{'has-error': editForm.checkOrDdNo.$invalid && 
                                (editForm.checkOrDdNo.$dirty || rc.editForm.attempted)}">
							<label class="control-label" for="field_checkOrDdNo">Check/DD
								No.</label> <input type="text" class="form-control" name="checkOrDdNo"
								id="field_checkOrDdNo" ng-model="receipt.checkOrDdNo"
								ng-disabled="receipt.paymentTypes.id===1"/>
									<div
										ng-show="(editForm.checkOrDdNo.$dirty || rc.editForm.attempted) && editForm.checkOrDdNo.$invalid">
										<p class="help-block"
											ng-show="editForm.checkOrDdNo.$error.required" >This field is required.</p>
                                     </div>
									</div>
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_bankName">Bank
								Name</label> <input type="text" class="form-control" name="bankName"
								id="field_bankName" ng-model="receipt.bankName"
								ng-disabled="receipt.paymentTypes.id===1" />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="field_branchName">Branch
								Name</label> <input type="text" class="form-control" name="branchName"
								id="field_branchName" ng-model="receipt.branchName"
								ng-disabled="receipt.paymentTypes.id===1" />
						</div>
					</div>
					<br>
					<fieldset>
						<legend></legend>
						<div class="row">
							<div class="col-sm-12">
								<label class="control-label" for="field_remarks">Remarks</label>
								<textarea rows="2" cols="30" class="form-control" name="remarks"
									id="field_remarks" ng-model="receipt.applicationTxn.remarks" required></textarea>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="modal-footer">
					<button type="button" onclick="window.history.back()"
						class="btn btn-info pull-left">
						<span class="glyphicon glyphicon-arrow-left"></span> &nbsp; <span>
							Back</span>
					</button>
					<button type="submit" ng-disabled="editForm.$invalid || isSaving"
						class="btn btn-primary">
						<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</form>