<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/"><span>jhipster</span> <span
				class="navbar-version">v{{VERSION}}</span></a>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse"
			ng-switch="isAuthenticated()">
			<ul class="nav navbar-nav navbar-right">
				<li ui-sref-active="active"><a ui-sref="home"
					data-toggle="collapse" data-target=".navbar-collapse.in"> <span
						class="glyphicon glyphicon-home"></span> <span class="hidden-sm">Home</span>
				</a></li>

				<!-- for module menu role -->
				<li class="dropdown pointer"
					ng-repeat="module_node in module2MenuItems ">
					<a class="dropdown-toggle" data-toggle="dropdown"
					href="javascript:;"> <span> <span
							class="glyphicon glyphicon-th-list"></span> <span
							class="hidden-tablet"> {{module_node.module_name}} </span> <b
							class="caret"></b>
					</span>
				</a>
					<ul class="dropdown-menu">
						<li class="ng-scope" ui-sref-active="active"
							ng-repeat="menu_node in module2MenuItems">
							<a ng-if="module_node.module_id == menu_node.module_id"
							href="{{menu_node.path}}"> <span
								class="glyphicon glyphicon-user"></span> <span>&nbsp;{{menu_node.menu_name}}</span>
						</a>
						</li>
					</ul>
				</li>


				<!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
				<li ui-sref-active="active" ng-switch-when="true"
					class="dropdown pointer"><a class="dropdown-toggle"
					data-toggle="dropdown" href=""> <span> <span
							class="glyphicon glyphicon-th-list"></span> <span
							class="hidden-sm"> Entities </span> <b class="caret"></b>
					</span>
				</a>
					<ul class="dropdown-menu">
						<li ui-sref-active="active"><a ui-sref="sewerSize"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Sewer
									size</span></a></li>
						<li ui-sref-active="active"><a
							ui-sref="applicationTypeMaster" data-toggle="collapse"
							data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Application
									type master</span></a></li>
						<li ui-sref-active="active"><a
							ui-sref="connectionTypeMaster" data-toggle="collapse"
							data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Connection
									type master</span></a></li>
						<li ui-sref-active="active"><a ui-sref="ctegoryMaster"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Ctegory
									master</span></a></li>
						<li ui-sref-active="active"><a ui-sref="pipeSizeMaster"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Pipe
									size master</span></a></li>
						<li ui-sref-active="active"><a
							ui-sref="categoryPipeSizeMapping" data-toggle="collapse"
							data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Category
									pipe size mapping</span></a></li>
						<li ui-sref-active="active"><a ui-sref="fileNumber"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>File
									number</span></a></li>
						<li ui-sref-active="active"><a
							ui-sref="transactionTypeMaster" data-toggle="collapse"
							data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Transaction
									type master</span></a></li>
						<li ui-sref-active="active"><a ui-sref="cashBookMaster"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Cash
									book master</span></a></li>
						<li ui-sref-active="active"><a ui-sref="paymentTypes"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Payment
									types</span></a></li>
						<li ui-sref-active="active"><a ui-sref="customer"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Customer</span></a></li>
						<li ui-sref-active="active"><a ui-sref="manageCashPoint"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Manage
									cash point</span></a></li>
						<li ui-sref-active="active"><a ui-sref="statusMaster"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Status
									master</span></a></li>
						<li ui-sref-active="active"><a ui-sref="designationMaster"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Designation
									master</span></a></li>
						<li ui-sref-active="active"><a ui-sref="feasibilityStatus"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Feasibility
									status</span></a></li>
						<li ui-sref-active="active"><a ui-sref="approvalDetails"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Approval
									details</span></a></li>
						<li ui-sref-active="active"><a ui-sref="reAllotment"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Re
									allotment</span></a></li>
						<li ui-sref-active="active"><a ui-sref="applicationTxn"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Application
									txn</span></a></li>
						<li ui-sref-active="active"><a
							ui-sref="configurationDetails" data-toggle="collapse"
							data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Configuration
									details</span></a></li>
						<li ui-sref-active="active"><a ui-sref="desigCategoryMaster"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Desig
									category master</span></a></li>
						<li ui-sref-active="active"><a
							ui-sref="subDesigCategoryMaster" data-toggle="collapse"
							data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Sub
									desig category master</span></a></li>
						<li ui-sref-active="active"><a ui-sref="groupMaster"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Group
									master</span></a></li>
						<li ui-sref-active="active"><a ui-sref="orgHierarchy"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Org
									hierarchy</span></a></li>
						<li ui-sref-active="active"><a ui-sref="designationMappings"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Designation
									mappings</span></a></li>
						<li ui-sref-active="active"><a
							ui-sref="departmentsHierarchy" data-toggle="collapse"
							data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Departments
									hierarchy</span></a></li>
						<li ui-sref-active="active"><a
							ui-sref="departmentTypeMaster" data-toggle="collapse"
							data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Department
									type master</span></a></li>
						<li ui-sref-active="active"><a ui-sref="departmentsMaster"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Departments
									master</span></a></li>
						<li ui-sref-active="active"><a ui-sref="orgRoleHierarchy"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Org
									role hierarchy</span></a></li>
						<li ui-sref-active="active"><a ui-sref="orgRoleInstance"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Org
									role instance</span></a></li>
						<li ui-sref-active="active"><a ui-sref="orgRolesMaster"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Org
									roles master</span></a></li>
						<li ui-sref-active="active"><a ui-sref="workflowTypeMaster"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Workflow
									type master</span></a></li>
						<li ui-sref-active="active"><a ui-sref="empMaster"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Emp
									master</span></a></li>
						<li ui-sref-active="active"><a ui-sref="empRoleMapping"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Emp
									role mapping</span></a></li>
						<li ui-sref-active="active"><a ui-sref="workflowMaster"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Workflow
									master</span></a></li>
						<li ui-sref-active="active"><a ui-sref="requestMaster"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Request
									master</span></a></li>
						<li ui-sref-active="active"><a ui-sref="workflowStageMaster"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Workflow
									stage master</span></a></li>
						<li ui-sref-active="active"><a ui-sref="workflowRelations"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Workflow
									relations</span></a></li>
						<li ui-sref-active="active"><a
							ui-sref="workflowRelationships" data-toggle="collapse"
							data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Workflow
									relationships</span></a></li>
						<li ui-sref-active="active"><a
							ui-sref="reqDesigWorkflowMapping" data-toggle="collapse"
							data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Req
									desig workflow mapping</span></a></li>
						<li ui-sref-active="active"><a
							ui-sref="reqOrgWorkflowMapping" data-toggle="collapse"
							data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Req
									org workflow mapping</span></a></li>
						<li ui-sref-active="active"><a ui-sref="roleWorkflowMapping"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Role
									workflow mapping</span></a></li>
						<li ui-sref-active="active"><a
							ui-sref="requestWorkflowMapping" data-toggle="collapse"
							data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Request
									workflow mapping</span></a></li>
						<li ui-sref-active="active"><a ui-sref="workflowTxnDetails"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Workflow
									txn details</span></a></li>
						<li ui-sref-active="active"><a ui-sref="workflow"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Workflow</span></a></li>
						<li ui-sref-active="active"><a
							ui-sref="requestWorkflowHistory" data-toggle="collapse"
							data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Request
									workflow history</span></a></li>
						<li ui-sref-active="active"><a ui-sref="module"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Module</span></a></li>
						<li ui-sref-active="active"><a ui-sref="menuItem"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Menu
									item</span></a></li>
						<li ui-sref-active="active"><a ui-sref="url"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Url</span></a></li>
						<li ui-sref-active="active"><a ui-sref="menuItem2Url"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Menu
									item2 url</span></a></li>
						<li ui-sref-active="active"><a ui-sref="module2MenuItem"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Module2
									menu item</span></a></li>
						<li ui-sref-active="active"><a ui-sref="url2Role"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-asterisk"></span> &#xA0;<span>Url2
									role</span></a></li>
						<!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
					</ul></li>
				<li ng-class="{active: $state.includes('account')}"
					class="dropdown pointer"><a class="dropdown-toggle"
					data-toggle="dropdown" href="" id="account-menu"> <span>
							<span class="glyphicon glyphicon-user"></span> <span
							class="hidden-sm"> Account </span> <b class="caret"></b>
					</span>
				</a>
					<ul class="dropdown-menu">
						<li ui-sref-active="active" ng-switch-when="true"><a
							ui-sref="settings" data-toggle="collapse"
							data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-wrench"></span> &#xA0;<span>Settings</span></a></li>
						<li ui-sref-active="active" ng-switch-when="true"><a
							ui-sref="password" data-toggle="collapse"
							data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-lock"></span> &#xA0;<span>Password</span></a></li>
						<li ui-sref-active="active" ng-switch-when="true"><a
							ui-sref="sessions" data-toggle="collapse"
							data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-cloud"></span> &#xA0;<span>Sessions</span></a></li>
						<li ui-sref-active="active" ng-switch-when="true"><a href=""
							ng-click="logout()" id="logout" data-toggle="collapse"
							data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-log-out"></span> &#xA0;<span>Sign
									out</span></a></li>
						<li ui-sref-active="active" ng-switch-when="false"><a
							ui-sref="login" data-toggle="collapse"
							data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-log-in"></span> &#xA0;<span>Sign
									in</span></a></li>
						<li ui-sref-active="active" ng-switch-when="false"><a
							ui-sref="register" data-toggle="collapse"
							data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-plus-sign"></span> &#xA0;<span>Register</span></a></li>
					</ul></li>
				<li ng-class="{active: $state.includes('admin')}"
					ng-switch-when="true" has-authority="ROLE_ADMIN"
					class="dropdown pointer"><a class="dropdown-toggle"
					data-toggle="dropdown" href="" id="admin-menu"> <span> <span
							class="glyphicon glyphicon-tower"></span> <span class="hidden-sm">Administration</span>
							<b class="caret"></b>
					</span>
				</a>
					<ul class="dropdown-menu">
						<li ui-sref-active="active"><a ui-sref="user-management"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-user"></span> &#xA0;<span>User
									management</span></a></li>
						<li ui-sref-active="active"><a ui-sref="metrics"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-dashboard"></span> &#xA0;<span>Metrics</span></a></li>
						<li ui-sref-active="active"><a ui-sref="health"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-heart"></span> &#xA0;<span>Health</span></a></li>
						<li ui-sref-active="active"><a ui-sref="configuration"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-list-alt"></span> &#xA0;<span>Configuration</span></a></li>
						<li ui-sref-active="active"><a ui-sref="audits"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-bell"></span> &#xA0;<span>Audits</span></a></li>
						<li ui-sref-active="active"><a ui-sref="logs"
							data-toggle="collapse" data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-tasks"></span> &#xA0;<span>Logs</span></a></li>
						<li ng-hide="inProduction" ui-sref-active="active"><a
							ui-sref="docs" data-toggle="collapse"
							data-target=".navbar-collapse.in"><span
								class="glyphicon glyphicon-book"></span> &#xA0;<span>API</span></a></li>
						<!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
					</ul></li>
			</ul>
		</div>
	</div>
</nav>
