
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myEmpMasterLabel">Create or edit a EmpMaster</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="empMaster.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dateOfBirth">DateOfBirth</label>
            <input id="field_dateOfBirth" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="empMaster.dateOfBirth" is-open="datePickerForDateOfBirth.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForDateOfBirthOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_joiningDate">JoiningDate</label>
            <input id="field_joiningDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="empMaster.joiningDate" is-open="datePickerForJoiningDate.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForJoiningDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_maritalStatus">MaritalStatus</label>
            <input type="text" class="form-control" name="maritalStatus" id="field_maritalStatus"
                    ng-model="empMaster.maritalStatus"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_employeeType">EmployeeType</label>
            <input type="text" class="form-control" name="employeeType" id="field_employeeType"
                    ng-model="empMaster.employeeType"
                     />
        </div>

        <div class="form-group">
            <label for="field_user">user</label>
            <select class="form-control" id="field_user" name="user" ng-model="empMaster.user" ng-options="user as user.id for user in users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_officeId">officeId</label>
            <select class="form-control" id="field_officeId" name="officeId" ng-model="empMaster.officeId" ng-options="orgRoleInstance as orgRoleInstance.id for orgRoleInstance in orgroleinstances track by orgRoleInstance.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_designationMaster">designationMaster</label>
            <select class="form-control" id="field_designationMaster" name="designationMaster" ng-model="empMaster.designationMaster" ng-options="designationMaster as designationMaster.id for designationMaster in designationmasters track by designationMaster.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_directorateId">directorateId</label>
            <select class="form-control" id="field_directorateId" name="directorateId" ng-model="empMaster.directorateId" ng-options="orgRoleInstance as orgRoleInstance.id for orgRoleInstance in orgroleinstances track by orgRoleInstance.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_statusMaster">statusMaster</label>
            <select class="form-control" id="field_statusMaster" name="statusMaster" ng-model="empMaster.statusMaster" ng-options="statusMaster as statusMaster.id for statusMaster in statusmasters track by statusMaster.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_reportingTo">reportingTo</label>
            <select class="form-control" id="field_reportingTo" name="reportingTo" ng-model="empMaster.reportingTo" ng-options="designationMaster as designationMaster.id for designationMaster in designationmasters track by designationMaster.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
