
<form name="editForm" role="form" novalidate ng-submit="save()">
	<div class="panel panel-primary">
		<div class="panel-heading clearfix">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true" ng-click="clear()">&times;</button>
			<h3 class="panel-title pull-left">Create or edit a Employee
				Master</h3>
		</div>
		<div class="list-group">
			<div class="list-group-item">
				<!-- <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" ng-click="clear()">&times;</button>
		<h4 class="modal-title" id="myEmpMasterLabel">Create or edit a
			EmpMaster</h4>
	</div> -->
				<div class="modal-body">
					<jh-alert-error></jh-alert-error>
					<div class="form-group">
						<label for="id">ID</label> <input type="text" class="form-control"
							id="id" name="id" ng-model="empMaster.id" readonly />
					</div>

					<div class="form-group">
						<label for="field_user">Employee</label> <select class="form-control"
							id="field_user" name="user" ng-model="empMaster.user"
							ng-options="user as user.login +'-'+ user.firstName+' '+user.lastName for user in users">
							<option value=""></option>
						</select>
					</div>
					<div class="form-group">
						<label for="field_officeId">Office Id</label> <select
							class="form-control" id="field_officeId" name="officeId"
							ng-model="empMaster.officeId"
							ng-options="orgRoleInstance as orgRoleInstance.orgRoleName for orgRoleInstance in orgroleinstances track by orgRoleInstance.id">
							<option value=""></option>
						</select>
					</div>
					<div class="form-group">
						<label for="field_designationMaster">Designation</label> <select
							class="form-control" id="field_designationMaster"
							name="designationMaster" ng-model="empMaster.designationMaster"
							ng-options="designationMaster as designationMaster.id for designationMaster in designationmasters track by designationMaster.id">
							<option value=""></option>
						</select>
					</div>
					<div class="form-group">
						<label for="field_directorateId">Directorate Id</label> <select
							class="form-control" id="field_directorateId"
							name="directorateId" ng-model="empMaster.directorateId"
							ng-options="orgRoleInstance as orgRoleInstance.orgRoleName for orgRoleInstance in orgroleinstances track by orgRoleInstance.id">
							<option value=""></option>
						</select>
					</div>
					<div class="form-group">
						<label for="field_statusMaster">Status</label> <select
							class="form-control" id="field_statusMaster" name="statusMaster"
							ng-model="empMaster.statusMaster"
							ng-options="statusMaster as statusMaster.status for statusMaster in statusmasters track by statusMaster.id">
							<option value=""></option>
						</select>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"
						ng-click="clear()">
						<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
					</button>
					<button type="submit" ng-disabled="editForm.$invalid || isSaving"
						class="btn btn-primary">
						<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</form>
